{% extends 'master.html' %}

{% load static from staticfiles %}

{% block titulo %} Evidencias del Hallazgo {% endblock titulo %}

{% block title-page %} Evidencias del Hallazgo  {% endblock title-page %}

{% block css %}

<!-- wysihtml5 -->
<link rel="stylesheet" href="{% static 'libs/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">

{% endblock css %}

{% block contenido %}

<div class="be-content">

   <div class="page-head nova-page-head">
      <h2 class="page-head-title nova-title">Evidencias del Hallazgo</h2>
      <ol class="breadcrumb page-head-nav pull-right">
         <li><a href="{% url 'home:inicio' %}">Inicio</a></li>
         <li id="menu" data-opcion="auditorias_lista"><a href="{% url 'sgi:auditoria_lista' %}">Procesos de Auditoría</a></li>
         <li><a href="{% url 'sgi:hallazgo_lista' %}">Hallazgos</a></li>
         <li class="active"><a>Evidencias</a></li>
      </ol>
   </div>

   <div class="main-content container-fluid nova-main-content">
      
      <div class="row wizard-row">

         <!-- Tarjeta formulario-->
         <div class="col-md-12 fuelux">
            <form class="block-wizard panel panel-default nova-panel-borde-header" action="" method="POST" > {% csrf_token %}
               <div id="wizard1" class="wizard wizard-ux">
                  <ul class="steps">

                     <li class="active"><strong>HAZ-01</strong> del proceso <strong>PRO-01</strong>: <strong>Licitaciones</strong>
                     </li>

                  </ul>
                  <div class="actions">
                     <a href="{% url 'sgi:general_formulario' %}" class="btn btn-xs btn-prev btn-default nova-a-tab">Generales</a>
                     <a href="{% url 'sgi:equipo_auditor_formulario' %}" class="btn btn-xs btn-next btn-default nova-a-tab">Equipo Auditor</a>
                     <a href="{% url 'sgi:proceso_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Procesos</a>
                     <a class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab nova-active-tab">Hallazgos</a>
                  </div>

                  <div class="step-content nova-panel-borde-top">
                     
                     <div data-step="1" class="step-pane active">

                        <div class="form-horizontal group-border-dashed">

                           <div class="form-group no-padding">
                              <div class="col-sm-7">
                                 <h5 class="wizard-title">Información de la evidencia:</h5>
                              </div>
                           </div>

                           {{ form.non_field_errors }} 

                           
                           <div class="form-group">
                              <label class="col-sm-3 nova-col-filter control-label">Observación</label>
                              <div class="col-sm-8 xs-pt-5">
                                 <textarea class="form-control" id="id_observacion"><!--placeholder-->
                                 </textarea>
                              </div>
                           </div>
                           
                           <div class="form-group">
                              <label class="col-sm-3 nova-col-filter control-label">Recursos Necesarios</label>
                              <div class="col-sm-8 xs-pt-5">
                                 <input type="file" name="file-2" id="id_recursos" data-multiple-caption="{count} Archivos seleccionados" multiple="" class="inputfile">
                                 <label for="id_recursos" class="btn-primary"> <i class="mdi mdi-upload"></i><span>Seleccionar archivo</span></label>
                              </div>
                           </div>

                        </div>
                     </div>
                  </div>
               </div>
               <!-- Botones -->
               <div class="modal-footer nova-modal-footer">
                  <div class="row col-sm-12">
                     <button type="submit" id="id_boton_guardar" class="btn nova-btn btn-primary btn-lg pull-right">
                        <i class="icon icon-left mdi mdi-save nova-white"></i>
                        Guardar
                     </button>
                  </div>
               </div>
            </form>
         </div> <!-- col sm 12 fuelux -->

         <div class="col-sm-12">
            <div class="panel panel-default panel-border-color panel-border-color-primary">
               <div class="panel-heading panel-heading-default nova-border-bottom">Colaborador: <strong>Julio Hendandez Perez</strong>. Fecha: <strong>2017-06-19</strong>.
                  <button type="button" class="btn btn-space btn-social btn-color nova-white pull-right" style="background-color:#fb3505"><i class="icon mdi mdi-delete"></i></button>
                  <button type="button" class="btn btn-space btn-social btn-color nova-white pull-right" style="background-color:#fba605"><i class="icon mdi mdi-edit"></i></button>
               </div>
               <div class="panel-body">
                  <div class="row">
                     <div class="col-sm-12">
                        <textarea class="form-control" readonly="">Evidencia del hallazgo</textarea>
                     </div>
                  </div>
                  <div style="margin:20px">
                     
                  </div>
                  <div class="row">
                     <div class="col-sm-3">
                        <img class="img-responsive" src="{% static "src/documento.jpg" %}" alt="Avatar">
                     </div>
                     <div class="col-sm-3">
                        <img class="img-responsive" src="{% static "src/documento.jpg" %}" alt="Avatar">
                     </div>
                     <div class="col-sm-3">
                        <img class="img-responsive" src="{% static "src/documento.jpg" %}" alt="Avatar">
                     </div>
                     
                  </div>
               </div>
            </div>  <!-- Panel -->
         </div>  <!-- col-sm-12 -->

      </div>
   </div> <!-- main content -->

</div> <!-- be-content -->

{% endblock contenido %}

{% block scripts %}

   <!-- Beagle Theme -->
   <script src="{% static 'theme/lib/datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
   <script src="{% static 'theme/lib/jquery.maskedinput/jquery.maskedinput.min.js' %}"></script>

   <!-- InputMask -->
   <script src="{% static 'libs/plugins/input-mask/jquery.inputmask.js' %}"></script>

   <!-- WYSIHTML5 -->
   <script src="{% static 'libs/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>

   <!-- JS Template -->
   <script src="{% static 'evidencia/evidencia_formulario.js' %}"></script>

{% endblock scripts %}