
.nova-status-cap {
    font-size: 14px;
}

.nova-status-sau {
    font-size: 14px;
    background-color: #5ac3f6;
    color: #ffffff;
}

.nova-status-aut {
    font-size: 14px;
    background-color: #34a853;
    color: #ffffff;
}

.nova-status-rec {
    font-size: 14px;
    background-color: #f6b663;
    color: #000000;
}

.nova-status-can {
    font-size: 14px;
    background-color: #d4d4d4;
    color: #000000;
}

.nova-status-fin {
    font-size: 14px;
    background-color: #4285f4;
    color: #ffffff;
}
