{% extends 'master.html' %}

{% load static from staticfiles %}

{% block titulo %} Inicio {% endblock titulo %}

{% block title-page %} Inicio  {% endblock title-page %}

{% block contenido %}

<div class="be-content">
   <div class="page-head nova-page-head">
      <h2 class="page-head-title nova-title">Inicio</h2>
      <ol class="breadcrumb page-head-nav pull-right">
         <li id="menu" data-opcion="inicio">Inicio</li>
      </ol>
   </div>
   {% if registros %}
      <div class="main-content container-fluid nova-main-content">
      
            <div class="user-info-list panel panel-default panel-border nova-margin-bottom">
               <div class="panel-body nova-padding-buscador">
                     <form class="pull-right col-sm-4 nova-padding-right"action="" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control btn-rounded nova-height-buscar" name="q" placeholder="Post a buscar..." value="{{ request.GET.q }}">
                            <span class="input-group-btn">
                              <button type="submit" id="boton_buscar" class="btn nova-height-buscar nova-btn btn-rounded btn-primary btn-flat">
                                <i class="fa fa-search"></i>
                                Buscar
                              </button>
                            </span>
                        </div>
                    </form>
               </div>
            </div>
         
   </div>

      <div class="col-md-8 nova-padding-left">
         {% for registro in registros %}

            <div class="main-content container-fluid nova-main-content nova-post-container">
                  
               <div class="user-info-list panel panel-default panel-border nova-post-sombreado">
                  <div class="col-md-12 nova-post-titulo">
                     <a class="nova-sin-estilo" href="{% url 'editorial:post_consultar' registro.pk %}">
                           {{ registro.titulo }}
                     </a>
                  </div>
                  <div class="panel-body">
                     
                     <div class="row">
                        <ul class="col-md-12 nova-ul-estilo nova-li-estilo">
                           <li>
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                {{ registro.updated_date|date:"M d, Y"}}
                           </li>
                           <li>
                                <i class="fa fa-user" aria-hidden="true"></i>
                                {{ registro.updated_by  }}
                           </li>
                        </ul>
                     </div>

                     {% if registro.imagen %}
                        <div class="col-md-12">     
                           <img class="nova-post-imagen " src="{{ registro.imagen.url }}" alt="Post Imagen">
                        </div>
                        <div class="col-md-12">
                            <section class="nova-post-contenido">
                                {{registro.contenido |safe|truncatechars:400 }}
                            </section>

                        </div>
                     {% else %}
                        <div class="col-md-12">
                            <section class="nova-post-contenido">
                                {{registro.contenido |safe|truncatechars:420 }}
                            </section>
                        </div>
                     {% endif %}
                    

                     <div class="modal-footer nova-centrar">
                           <a href="{% url 'editorial:post_consultar' registro.pk %}" class="btn btn-primary btn-lg nova-post-contenido" role="button">Leer mas...</a>

                           {% if user.is_superuser %}
                              <a href="{% url 'editorial:post_editar' registro.pk %}" class="btn btn-warning btn-lg nova-post-contenido">
                                 <i class="fa fa-pencil" aria-hiden="true"></i> Editar
                              </a>
                           {% endif %}
                        
                        </div>
                  </div>
               </div> 
               
            </div>
          {% endfor %}

         <div class="col-md-12 text-center">
           <ul class="pagination pagination-sm no-margin legal-article-paginador">
               {% if registros.has_previous %}
                   <li><a href="?{{ page_request_var }}={{ registros.previous_page_number }}&q={{ request.GET.q }}">&laquo;</a></li>
               {% endif %}

               {% for i in registros.paginator.page_range %}
                   <li {% if registros.number == i %} class="active" {% endif %}>
                       <a href="?page={{i}}&q={{ request.GET.q }}">{{ i }}</a>
                   </li>
               {% endfor %}

               {% if registros.has_next %}
                   <li><a href="?page={{ registros.next_page_number }}&q={{ request.GET.q }}">&raquo;</a></li>
               {% endif %}
           </ul>
         </div>

      </div>
      <div class="col-md-4 nova-padding-left">
         <div class="user-info-list panel panel-default panel-border nova-cumpleanos nova-post-sombreado">
            <div class="col-md-12 nova-post-titulo">
               <leged>Cumpleaños</legend>
            </div>
            <div class="nova-cumpleanos-contenido">
            
            </div>
         </div>
      </div>

   {% else %}
   <div class="main-content container-fluid nova-main-content">
      <div class="row">
         <div class="col-md-8">
            <div class="user-info-list panel panel-default panel-border">
               <div class="panel-body">
                <article class="nova-sin-resultados">
                    Sin articulos publicados
                </article>
               </div>
            </div>
         </div>

         <div class="col-md-4 nova-padding-left">
            <div class="user-info-list panel panel-default panel-border nova-cumpleanos nova-post-sombreado">
               <leged>Cumpleaños</legend>
               <div class="nova-cumpleanos-contenido">

               </div>
            </div>
         </div>

      </div>
   </div>
   {% endif %}
</div>

{% endblock contenido %}

{% block scripts %}
   <!-- Nova -->
    <script src="{% static 'post/post_publicados.js' %}"></script>
{% endblock scripts %}
