{% extends 'master.html' %}

{% load static from staticfiles %}

{% load custom_tags %}

{% block titulo %} Inicio {% endblock titulo %}

{% block title-page %} Inicio  {% endblock title-page %}

{% block contenido %}

<div class="be-content">

    <div class="page-head nova-page-head">
       <h2 class="page-head-title nova-title" id="menu" data-opcion="inicio">Últimas noticias</h2>
    </div>

    <div class="main-content container-fluid nova-main-content">
        <div class="row">
           <div class="col-md-9 nova-panel-main">
                {% if registros %}
                   {% for registro in registros %}
                   <div class="user-info-list panel panel-default panel-border nova-panel-default">

                        <div class="col-md-12 nova-post-titulo">
                            <a class="nova-a-estilo" href="{% url 'editorial:post_consultar' registro.pk %}">
                               {{ registro.titulo }}
                            </a>
                        </div>
                        <div class="panel-body">

                            <div class="row">
                                <ul class="col-md-12 nova-ul-estilo nova-li-estilo">
                                    <li>
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        {{ registro.updated_date|date:"M d, Y"}}
                                    </li>
                                    <li>
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        COMUNICACIÓN NUVOIL
                                    </li>
                                </ul>
                            </div>

                            {% if registro.imagen %}
                                <div class="col-md-12">
                                    <img class="nova-post-imagen " src="{{ registro.imagen.url }}" alt="Post Imagen">
                                </div>
                            {% endif %}

                            <div class="col-md-12">
                                <section class="nova-post-contenido">
                                        {{registro.contenido |safe|truncatechars:420 }}
                                </section>
                            </div>

                             <div class="modal-footer nova-centrar">
                                <a href="{% url 'editorial:post_consultar' registro.pk %}" class="btn btn-default btn-lg nova-post-contenido" role="button">Leer mas...</a>

                                {% if user|tag_validate_has_group:"MARKETING_ADMIN" %}
                                    <a href="{% url 'editorial:post_editar' registro.pk clave %}" class="btn btn-warning btn-lg nova-post-contenido">
                                        <i class="fa fa-pencil" aria-hiden="true"></i> Editar
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                   </div>
                   {% endfor %}
                {% else %}
                <div class="user-info-list panel panel-default panel-border nova-panel-default">
                    <div class="panel-body nova-sin-resultados">
                         Sin articulos publicados
                    </div>
                </div>
                {% endif %}

           </div>

           <div class="col-md-3 own-sidebar">

               <div class="row">
                   <div class="col-md-12">
                       <div class="panel panel-border panel-contrast user-info-list nova-panel-default">
                          <div class="panel-heading panel-heading-default nova-panel-heading-formulario">
                              Cumpleaños del mes
                          </div>
                          <div class="panel-body">
                              {% if lista_cumpleanios %}
                                  <table class="no-border no-strip skills">
                                        <tbody class="no-border-x no-border-y">

                                            {% for r in lista_cumpleanios %}
                                          <tr>
                                              <td class="nova-fila-cumpleanos">
                                                  <b>{{ r.dia }}</b>.- {{ r.nombre }}
                                              </td>
                                          </tr>
                                          {% endfor %}
                                      </tbody>
                                  </table>
                              {% else %}
                                <h3 class="text-center">Sin cumpleaños</h3>
                              {% endif %}
                          </div>
                       </div>
                   </div>
               </div>

               <div class="row">
                   <div class="col-md-12">
                       <form class="pull-right nova-padding-right"action="" method="GET">
                          <div class="input-group">
                              <input type="text" class="form-control btn-rounded nova-height-buscar" name="q" placeholder="Buscar noticia..." value="{{ request.GET.q }}">
                              <span class="input-group-btn">
                                <button type="submit" id="boton_buscar" class="btn nova-height-buscar btn-rounded btn-flat btn-primary">
                                  <i class="fa fa-search"></i>
                                  Buscar
                                </button>
                              </span>
                          </div>
                       </form>
                   </div>
               </div>
          </div>

        </div>
    </div>


</div>


{% endblock contenido %}

{% block scripts %}
   <!-- Nova -->
    <script src="{% static 'post/post_publicados.js' %}"></script>
{% endblock scripts %}
