{% extends 'master.html' %}

{% load static from staticfiles %}

{% block titulo %} Procesos de Auditoría {% endblock titulo %}

{% block title-page %} Procesos de Auditoría  {% endblock title-page %}

{% block css %}

   <!-- Beagle Theme -->
   <link rel="stylesheet" href="{% static 'theme/lib/daterangepicker/css/daterangepicker.css' %}"/>

{% endblock css %}

{% block contenido %}

<div class="be-content">

   <div class="page-head nova-page-head">
      <h2 class="page-head-title nova-title">Procesos de Auditoría</h2>
      <ol class="breadcrumb page-head-nav pull-right">
         <li><a href="{% url 'home:inicio' %}">Inicio</a></li>
         <li id="menu" data-opcion="auditorias_lista" class="active">Procesos de Auditoría</li>
      </ol>
   </div>

   <div class="main-content container-fluid nova-main-content">

      <div class="row">
         <!-- Tarjeta resultados-->
         <div class="col-sm-12 nova-col">
            <div class="panel panel-default panel-table">
            <div class="panel-heading panel-border nova-panel-heading">
            <div class="tools pull-right" id="toolbar">
               <a href="{% url 'calidad:general_formulario_create' %}"
                  class="btn nova-btn btn-rounded btn-space btn-default" id="id_boton_nueva_auditoria">
                  <i class="icon icon-left mdi mdi-plus-circle nova-black"></i>Nuevo
               </a>
               <a href="#tarjeta_filtros"
                  class="btn nova-btn btn-rounded btn-space btn-primary" data-toggle="modal" id="boton_filtros">
                  <i class="icon icon-left mdi mdi-search nova-white"></i>Filtros
               </a>
            </div>
            <div class="title hidden-xs">Registros</div>
            </div><!-- Panel Heading -->
            <div id="grid_resultados" class="nova-div-overflow">
               <table class="table table-bordered table-hover" id="id_grid_auditoria_lista">
                  <thead>
                     <tr>
                        <th class="nova-columna-acciones"></th>
                        <th>Folio</th>
                        <th>Objetivo</th>
                        <th>Elaborador</th>
                        <th>Autorizador</th>
                        <th>Aprobador</th>
                        <th>Compañia</th>
                        <th>Estado</th>
                        <th>Costo estimado</th>
                        <th>Tipo</th>
                     </tr>
                  </thead>
                  <tbody>
                    {% if auditorias %}
                      {% for auditoria in auditorias %}
                        <tr class="clickable-row">
                           <td>
                              <a href="#id_tarjeta_acciones" data-toggle="modal" class="btn nova-btn btn-default">
                                 <i class="icon icon-left icon mdi mdi-settings nova-black"></i>
                              </a>
                           </td>
                           <td>
                              <a href="{% url 'calidad:general_formulario_update' auditoria.pk%}" class="btn btn-default nova-url" data-toggle="modal">{{auditoria.folio}}</a>
                           </td>
                           <td>{{auditoria.objetivo}}</td>
                           <td>{{auditoria.elaborador}}</td>
                           <td>{{auditoria.autorizador}}</td>
                           <td>{{auditoria.aprobador}}</td>
                           <td>{{auditoria.compania}}</td>
                           <td class="nova-aling-center
                           {% if auditoria.estado == 'Autorizado' %}
                              nova-status-autorizado
                           {% elif auditoria.estado == 'En Aprobacion' %}
                              nova-status-en-aprobacion
                           {% elif auditoria.estado == 'Aprobado' %}
                              nova-status-aprobado
                           {% elif auditoria.estado == 'Rechazado' %}
                              nova-status-rechazado
                           {% elif auditoria.estado == 'Cancelado' %}
                              nova-status-cancelado
                           {% endif %}
                           ">{{auditoria.estado}}</td>
                           <td>{{auditoria.recurso_necesario}}</td>
                           <td>{{auditoria.tipo_auditoria}}</td>
                        </tr>
                      {% endfor %}
                    {% else %}
                      <tr class="clickable-row">
                        <td colspan="10" class="nova-aling-center nova-sin-resultados">
                          Sin auditorias actualmente.
                        </td>
                      </tr>
                    {% endif %}
                  </tbody>
               </table>
            </div>
            <div class="panel-footer panel-border nova-panel-footer panel-border">
            </div><!-- Panel Footer -->
            </div> <!-- Panel -->
         </div> <!-- col sm 12-->
      </div>
   </div> <!-- main content -->

   <!-- Tarjeta filtros-->
   <div id="tarjeta_filtros" role="dialog" class="modal fade colored-header colored-header-primary">
      <div class="modal-dialog custom-width">
         <div class="modal-content">

            <div class="modal-header nova-modal-header">
               <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
               <h3 class="modal-title">Filtros</h3>
            </div>

            <form id="formulario_filtro" class="modal-body form-horizontal">

               <div class="form-group">
                  <label class="col-sm-3 nova-col-filter control-label">Elaborador</label>
                  <div class="col-sm-7 xs-pt-5">
                     <select class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true" id="id_elaborador">
                        <option value="" selected="selected">-------</option>
                        <option value="JPJ">Juan Perez Jimenez</option>
                        <option value="LALG">Luis Alberto Lopez Gonzalez</option>
                     </select>
                  </div>
               </div>

               <div class="form-group">
                  <label class="col-sm-3 nova-col-filter control-label">Autorizador</label>
                  <div class="col-sm-7 xs-pt-5">
                     <select class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true" id="id_autorizador">
                        <option value="" selected="selected">-------</option>
                        <option value="JPJ">Alberto Diaz Rodriguez</option>
                        <option value="LALG">Luis Alberto Lopez Gonzalez</option>
                     </select>
                  </div>
               </div>

               <div class="form-group">
                 <label class="col-sm-3 nova-col-filter control-label">Aprobador</label>
                 <div class="col-sm-7 xs-pt-5">
                     <select class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true" id="id_aprobador">
                        <option value="" selected="selected">-------</option>
                        <option value="JPJ">Diana Castillo Hernandez</option>
                        <option value="LALG">Luis Alberto Lopez Gonzalez</option>
                     </select>
                 </div>
               </div>

               <div class="form-group">
                  <label class="col-sm-3 nova-col-filter control-label">Fecha inicial y final programada</label>
                  <div class="col-sm-7 xs-pt-5">
                     <div class="input-group">
                        <input type="text" value="" readonly="" class="form-control input-xs" id="id_fecha_inicial_final_programada">
                        <span class="input-group-addon btn btn-primary">
                           <i class="icon-th mdi mdi-calendar"></i>
                        </span>
                     </div>
                  </div>
               </div>

               <div class="form-group">
                  <label class="col-sm-3 nova-col-filter control-label">Fecha inicial y final real</label>
                  <div class="col-sm-7 xs-pt-5">
                     <div class="input-group">
                        <input type="text" value="" readonly="" class="form-control input-xs" id="id_fecha_inicial_final_real">
                        <span class="input-group-addon btn btn-primary">
                           <i class="icon-th mdi mdi-calendar"></i>
                        </span>
                     </div>
                  </div>
               </div>

               <div class="form-group">
                  <label class="col-sm-3 nova-col-filter control-label">Estado</label>
                  <div class="col-sm-7 xs-pt-5">
                     <select class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true" id="id_estado">
                        <option value="" selected="selected">-------</option>
                        <option value="captura">Captura</option>
                        <option value="revision">En revisión</option>
                        <option value="aprobacion">En aprobación</option>
                        <option value="cancelado">Cancelado</option>
                        <option value="curso">En curso</option>
                        <option value="cerrado">Cerrado</option>
                     </select>
                  </div>
               </div>

               <div class="form-group">
                  <label class="col-sm-3 nova-col-filter control-label">Compania auditada</label>
                  <div class="col-sm-7 xs-pt-5">
                     <select class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true" id="id_compania_auditada">
                        <option value="" selected="selected">-------</option>
                        <option value="00001">1 - SISTEMAS INTEGRALES COMPRESION</option>
                        <option value="00002">2 - PART TECHNICAL SERVICES</option>
                        <option value="00003">3 - IPC</option>
                        <option value="00004">4 - MET</option>
                     </select>
                  </div>
               </div>

            </form><!-- Modal body-->
            <div class="modal-footer nova-modal-footer">
               <div class="row col-sm-12">
                  <button type="button" data-dismiss="modal" class="btn btn-default pull-left">
                     Cancelar
                  </button>

                  <button type="button" id="boton_limpiar" class="btn btn-default nova-btn">
                     <i class="fa fa-eraser"></i>
                     Limpiar
                  </button>

                  <button type="button" id="boton_buscar" class="btn nova-btn btn-primary btn-lg pull-right">
                     <i class="icon icon-left mdi mdi-search nova-white"></i>
                     Buscar
                  </button>
               </div>
            </div>
         </div> <!-- Modal content-->
      </div> <!-- Modal dialog -->
   </div><!-- Modal -->

   <!-- tarjeta_acciones-->
   <div id="id_tarjeta_acciones" tabindex="-1" role="dialog" class="modal fade colored-header colored-header-primary">
      <div class="modal-dialog nova-modal-acciones">
        <div class="modal-content">
          <div class="modal-header nova-modal-header">
            <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span class="mdi mdi-close"></span></button>
            <h3 class="modal-title">Acciones de la Auditoria <strong>AUD-01-15</strong></h3>
          </div>
          <div class="modal-body">
            <div class="text-center">
               <div role="group" class="btn-group-vertical btn-space">
                  <a href="" class="btn nova-btn btn-space btn-primary btn-lg" id="id_boton_checklist">
                     <i class="icon icon-left mdi mdi-arrow-right nova-white"></i> Ir a Check List
                  </a>
                  <button class="btn nova-btn btn-space btn-success btn-lg" id="id_boton_plan_auditoria">
                     <i class="icon icon-left mdi mdi-collection-pdf nova-white"></i> Plan de auditoria
                  </button>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div> <!-- be-content -->

{% endblock contenido %}

{% block scripts %}

   <!-- Beagle Theme -->
   <script src="{% static 'theme/lib/daterangepicker/js/daterangepicker.js' %}"></script>

   <!-- JS Template -->
   <script src="{% static 'auditoria/auditoria_lista.js' %}"></script>

{% endblock scripts %}
