{% extends 'master.html' %}

{% load static from staticfiles %}

{% block titulo %} Auditorías {% endblock titulo %}

{% block title-page %} Nueva Solicitud de Auditoría {% endblock title-page %}

{% block css %}

   <!-- Beagle Theme -->
   <link rel="stylesheet" href="{% static 'theme/lib/datetimepicker/css/bootstrap-datetimepicker.min.css' %}" type="text/css"/>

   <!-- wysihtml5 -->
   <link rel="stylesheet" href="{% static 'libs/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">

{% endblock css %}

{% block contenido %}

<div class="be-content">

   <div class="page-head nova-page-head">
      <h2 class="page-head-title nova-title">Nueva Auditoría</h2>
      <ol class="breadcrumb page-head-nav pull-right">
         <li><a href="{% url 'home:inicio' %}">Inicio</a></li>
         <li id="menu" data-opcion="auditorias_lista"><a href="{% url 'calidad:auditoria_lista' %}">Procesos de Auditoría</a></li>
         <li class="active">Generales</li>
      </ol>
   </div>

   <!-- Targeta Formulario -->
   <div class="main-content container-fluid nova-main-content">

      <div class="row wizard-row">
         
         <div class="col-md-12 fuelux">
            <form class="block-wizard panel panel-default nova-panel-borde-header" action="" method="POST" > {% csrf_token %}
               
               <div id="wizard1" class="wizard wizard-ux">
                  <ul class="steps">

                     <li class="active">Auditoría No:</li>

                  </ul>
                  <div class="actions">
                     <a class="btn btn-xs btn-prev btn-default nova-a-tab nova-active-tab">Generales</a>
                     <a href="{% url 'calidad:equipo_auditor_formulario' %}" class="btn btn-xs btn-next btn-default nova-a-tab">Equipo Auditor</a>
                     <a href="{% url 'calidad:proceso_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Procesos</a>
                  </div>
                  <div class="step-content nova-panel-border-top">
                     <div class="step-pane active">

                        <div class="form-horizontal group-border-dashed">

                           <div class="form-group no-padding">
                              <div class="col-sm-7">
                                 <h5 class="wizard-title">Información de la auditoría:</h5>
                              </div>
                           </div>

                           {{ form.non_field_errors }} 

                           <!-- tipo_auditoria -->
                           <div class="form-group">
                              <label class="col-sm-3 control-label" 
                                 for="{{ form.tipo_auditoria.id_for_label }}">
                                 Tipo de Auditoria
                              </label>
                              <div class="col-sm-6 xs-pt-5">
                                 <select class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true" id="id_tipo_auditoria">
                                    <option value="" selected="selected">-------</option>
                                    <option value="AUI">Auditoria Interna</option>
                                    <option value="AUE">Auditoria Externa</option>
                                    <option value="MC">Mejora Continua</option>
                                 </select>
                              </div>
                              {% for error in form.tipo_auditoria.errors %}
                                 <span class="help-block">{{ error }}</span>
                              {% endfor %}
                           </div>

                           <!-- compania -->
                           <div class="form-group">
                              <label class="col-sm-3 control-label" 
                                 for="{{ form.compania.id_for_label }}">
                                 Compañia
                              </label>
                              <div class="col-sm-6 xs-pt-5">
                                 <select class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true" id="id_compania">
                                    <option value="" selected="selected">-------</option>
                                    <option value="00001">1 - SISTEMAS INTEGRALES COMPRESION</option>
                                    <option value="00002">2 - PART TECHNICAL SERVICES</option>
                                    <option value="00003">3 - IPC</option>
                                    <option value="00004">4 - MET</option>
                                 </select>
                              </div>
                              {% for error in form.compania.errors %}
                                 <span class="help-block">{{ error }}</span>
                              {% endfor %}
                           </div>
                           
                           <!-- contratos -->
                           <div class="form-group">
                              <label class="col-sm-3 control-label" 
                                 for="{{ form.contratos.id_for_label }}">
                                 {{ form.contratos.label }}
                                 Contratos
                              </label>
                              <div class="col-sm-6 xs-pt-5">
                                 {{ form.contratos }}
                                 <select class="select2 select2-hidden-accessible input-xs" tabindex="-1" aria-hidden="true" id="id_contratos" multiple="multiple">
                                    <option value="con01">Contrato 1</option>
                                    <option value="con02">Contrato 2</option>
                                    <option value="con02">Contrato 3</option>
                                    <option value="con02">Contrato 4</option>
                                 </select>
                              </div> 
                              {% for error in form.contratos.errors %}
                                 <span class="help-block">{{ error }}</span>
                              {% endfor %}                                        
                           </div>

                           <!-- criterios -->
                           <div class="form-group">
                              <label class="col-sm-3 control-label" 
                                 for="{{ form.criterios.id_for_label }}">
                                 {{ form.criterios.label }}
                                 Criterios
                              </label>
                              <div class="col-sm-6 xs-pt-5">
                                 {{ form.criterios }}
                                 <select class="select2 select2-hidden-accessible input-xs" tabindex="-1" aria-hidden="true" id="id_criterios" multiple="multiple">
                                    <option value="ISO 9001:2008">ISO 9001:2008</option>
                                    <option value="ISO 14001:2004">ISO 14001:2004</option>
                                    <option value="OHSAS 18001:2007">OHSAS 18001:2007</option>
                                 </select>
                              </div> 
                              {% for error in form.criterios.errors %}
                                 <span class="help-block">{{ error }}</span>
                              {% endfor %}
                           </div>

                           <div class="form-group">

                              <label class="col-sm-3 control-label">
                                 Fecha Programada inicial / final
                              </label>

                              <div class="col-sm-3 xs-pt-5">
                                 <div class="input-group date" 
                                 data-min-view="2" 
                                 data-date-format="yyyy-mm-dd"
                                 id="id_fecha_programada_inicial_input">
                                    {{ form.fecha_partida }}
                                    <input type="text" name="fecha_programada_inicial" required="" class="form-control input-xs" id="id_fecha_programada_inicial">
                                    <span class="input-group-addon nova-addon-button">
                                       <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                 </div>
                              </div> 
                              {% for error in form.fecha_partida.errors %}
                                 <span class="help-block">{{ error }}</span>
                              {% endfor %}

                              <div class="col-sm-3 xs-pt-5">
                                 <div class="input-group date" 
                                 data-min-view="2" 
                                 data-date-format="yyyy-mm-dd"
                                 id="id_fecha_programada_final_input">
                                    {{ form.fecha_regreso }}
                                    <input type="text" name="fecha_programada_final" required="" class="form-control input-xs" id="id_fecha_programada_final">
                                    <span class="input-group-addon nova-addon-button">
                                       <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                 </div>
                              </div>
                              {% for error in form.fecha_regreso.errors %}
                                 <span class="help-block">{{ error }}</span>
                              {% endfor %}

                           </div>

                           <!-- objetivo -->
                           <div class="form-group">
                              <label class="col-sm-3 control-label" 
                                 for="{{ form.objetivo.id_for_label }}">
                                 {{ form.objetivo.label }}
                                 Objetivo
                              </label>
                              <div class="col-sm-6 xs-pt-5">
                                 {{ form.objetivo }}
                                 <textarea class="form-control textarea" id="id_objetivo">
                                 </textarea>
                              </div> 
                              {% for error in form.objetivo.errors %}
                                 <span class="help-block">{{ error }}</span>
                              {% endfor %}                                        
                           </div>

                           <!-- alcance_auditoria -->
                           <div class="form-group">
                              <label class="col-sm-3 control-label" 
                                 for="{{ form.alcance_auditoria.id_for_label }}">
                                 {{ form.alcance_auditoria.label }}
                                 Alcance
                              </label>
                              <div class="col-sm-6 xs-pt-5">
                                 {{ form.alcance_auditoria }}
                                 <textarea class="form-control textarea" id="id_alcance_auditoria">
                                 </textarea>
                              </div> 
                              {% for error in form.alcance_auditoria.errors %}
                                 <span class="help-block">{{ error }}</span>
                              {% endfor %}                                        
                           </div>

                           <!-- recursos_necesarios -->
                           <div class="form-group">
                              <label class="col-sm-3 control-label" 
                                 for="{{ form.recursos_necesarios.id_for_label }}">
                                 {{ form.recursos_necesarios.label }}
                                 Recursos Necesarios
                              </label>
                              <div class="col-sm-6 xs-pt-5">
                                 {{ form.recursos_necesarios }}
                                 <textarea class="form-control textarea" id="id_recursos_necesarios">
                                 </textarea>
                              </div> 
                              {% for error in form.recursos_necesarios.errors %}
                                 <span class="help-block">{{ error }}</span>
                              {% endfor %}                                        
                           </div>

                        </div>
                     </div>
                  </div>

               </div>
               <!-- Botones -->
               <div class="modal-footer nova-modal-footer">

                  <div class="row col-sm-12">

                     <a href="{% url 'calidad:auditoria_lista' %}" type="button" id="boton_regresar" class="btn btn-default pull-left">
                        <i class="icon mdi mdi-arrow-left"></i>
                        Regresar
                     </a>                        
                     
                     <button type="submit" id="id_boton_guardar" class="btn nova-btn btn-primary btn-lg pull-right">
                        <i class="icon icon-left mdi mdi-save nova-white"></i>
                        Guardar
                     </button>
                  </div>
               </div>

            </form>
         </div>
      </div>
      
   </div>
</div>

{% endblock contenido %}

{% block scripts %}

   <!-- Beagle Theme -->
   <script src="{% static 'theme/lib/datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
   <script src="{% static 'theme/lib/jquery.maskedinput/jquery.maskedinput.min.js' %}"></script>

   <!-- WYSIHTML5 -->
   <script src="{% static 'libs/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>

   <!-- JS Template -->
   <script src="{% static 'auditoria/general_formulario.js' %}"></script>      

{% endblock scripts %}
