{% extends 'master.html' %}

{% load static from staticfiles %}

{% load custom_tags %}

{% block titulo %} Auditorías {% endblock titulo %}

{% block title-page %} {% if folio %}Editar{% else %}Nueva{% endif %} Solicitud de Auditoría {% endblock title-page %}

{% block css %}

   <!-- Beagle Theme -->
   <link rel="stylesheet" href="{% static 'theme/lib/datetimepicker/css/bootstrap-datetimepicker.min.css' %}" type="text/css"/>

{% endblock css %}

{% block contenido %}

<div class="be-content">

   <div class="page-head nova-page-head">
      <h2 class="page-head-title nova-title"> {% if folio %}Editar{% else %}Nueva{% endif %} Auditoría</h2>
      <ol class="breadcrumb page-head-nav pull-right">
         <li><a href="{% url 'home:inicio' %}">Inicio</a></li>
         <li id="menu" data-opcion="auditorias_lista"><a href="{% url 'calidad:auditoria_lista' %}">Procesos de Auditoría</a></li>
         <li class="active">Generales</li>
      </ol>
   </div>

   <!-- Targeta Formulario -->
   <div class="main-content container-fluid nova-main-content">

      <div class="row wizard-row">

         <div class="col-md-12 fuelux">
            <form class="block-wizard panel panel-default nova-panel-borde-header" action="" method="POST" > {% csrf_token %}

               <div id="wizard1" class="wizard wizard-ux">
                 <div class="nova-wizard-header">

                     <span class="nova-wizard-title">Auditoría No: <strong>{{folio}}</strong></span>
                     <div class="nova-wizard-tools visible-xs-inline-block dropdown">
                        <span data-toggle="dropdown" class="icon mdi mdi-more-vert dropdown-toggle" aria-expanded="false">
                        </span>
                         <ul role="menu" class="dropdown-menu">
                           <li class="active">
                             <a>Generales</a>
                           </li>
                           <li>
                             <a {% if operation == 'Editar' %}
                                  href="{% url 'calidad:auditor_formulario_update' pk %}"
                                {% endif %}
                             >Equipo Auditor
                             </a>
                           </li>
                           <li>
                             <a {% if operation == 'Editar'%}
                                  href="{% url 'calidad:proceso_lista' pk %}"
                                {% endif %}
                             >Procesos
                             </a>
                           </li>
                         </ul>
                     </div>

                 </div>

                  <div class="actions hidden-xs">
                     <a class="btn btn-xs btn-prev btn-default nova-a-tab nova-active-tab">Generales</a>
                     <a {% if operation == 'Editar' %}
                          href="{% url 'calidad:auditor_formulario_update' pk %}"
                        {% endif %}
                        class="btn btn-xs btn-next btn-default nova-a-tab">Equipo Auditor
                     </a>
                     <a {% if operation == 'Editar'%}
                          href="{% url 'calidad:proceso_lista' pk %}"
                        {% endif %}
                        class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Procesos
                     </a>
                  </div>
                  <div class="step-content nova-panel-border-top">
                     <div class="step-pane active">

                        <div class="form-horizontal group-border-dashed">

                           <div class="form-group no-padding">
                              <div class="col-sm-7">
                                 <h5 class="wizard-title">Información de la auditoría:</h5>
                              </div>
                           </div>

                           {{ form.non_field_errors }}

                           <!-- tipo_auditoria -->
                           {% tag_field form.tipo_de_auditoria 3 6 %}

                           <!-- compania -->
                           {% tag_field form.compania 3 6 %}

                           <!-- contratos -->
                           {% tag_field form.contratos 3 6 %}

                           <!-- criterios -->
                           {% tag_field form.criterios 3 6 %}

                           <!-- fecha_programada_ini_fin -->
                           <div class="form-group">

                              {% tag_field_date form.fecha_programada_ini 3 3 True %}

                              {% tag_field_date form.fecha_programada_fin 3 3 False %}

                           </div>

                           <!-- objetivo -->
                           {% tag_field form.objetivo 3 6 %}

                           <!-- alcance_auditoria -->
                           {% tag_field form.alcance 3 6 %}

                           <!-- recursos_necesarios -->
                           {% tag_field form.recursos_necesarios 3 6 %}

                        </div>
                     </div>
                  </div>

               </div> <!-- wizard wizard-ux -->

               <!-- Botones -->
               <div class="modal-footer nova-modal-footer">

                  <div class="row col-sm-12">

                     <a href="{% url 'calidad:auditoria_lista' %}" type="button" id="boton_regresar" class="btn btn-default pull-left">
                        <i class="icon mdi mdi-arrow-left"></i>
                        Regresar
                     </a>

                     <button type="submit" id="id_boton_guardar" class="btn nova-btn btn-primary btn-lg pull-right">
                        <i class="icon icon-left mdi mdi-save nova-white"></i>
                        Guardar
                     </button>

                  </div>

               </div>
            </form>
         </div>
      </div>

   </div>
</div>

{% endblock contenido %}

{% block scripts %}

   <!-- Beagle Theme -->
   <script src="{% static 'theme/lib/datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
   <script src="{% static 'theme/lib/jquery.maskedinput/jquery.maskedinput.min.js' %}"></script>

   <!-- JS Template -->
   <script src="{% static 'auditoria/general_formulario.js' %}"></script>

{% endblock scripts %}
