{% extends 'master.html' %}

{% load static from staticfiles %}

{% block titulo %} Capital humano {% endblock titulo %}

{% block title-page %} Perfiles  {% endblock title-page %}

{% block css %}
   
   <!-- Kendo -->
   <link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.rtl.min.css' %}"/>
   <link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.common-bootstrap.min.css' %}"/>
   <link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.bootstrap.min.css' %}"/>

   <!-- Theme -->
   <link rel="stylesheet" href="{% static 'theme/lib/datetimepicker/css/bootstrap-datetimepicker.min.css' %}"/>
   <link rel="stylesheet" href="{% static 'theme/lib/daterangepicker/css/daterangepicker.css' %}"/>
    
    <!-- Nova -->
    <link rel="stylesheet" href="{% static 'grid.css' %}"/>

    <!-- wysihtml5 -->
    <link rel="stylesheet" href="{% static 'libs/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">


{% endblock css %}

{% block contenido %}

<div class="be-content">
    <div class="page-head">
        <h2 class="page-head-title">Capital Humano</h2>
        <ol class="breadcrumb page-head-nav">
            <li class="active" ><a href="incidencia/incidencia_grafica.html">Perfiles / Nuevo </a> </li>
        </ol>
    </div>

 

<div class="main-content container-fluid">
          <div class="row wizard-row">
            <div class="col-md-12 fuelux">
              <div class="block-wizard panel panel-default">
                <div id="wizard1" class="wizard wizard-ux">
                  <ul class="steps">
                    <li data-step="1" class="active">General<span class="chevron"></span></li>
                    <li data-step="2">Organigrama<span class="chevron"></span></li>
                    <li data-step="3">Requerimiento<span class="chevron"></span></li>
                    <li data-step="4">Competencias<span class="chevron"></span></li>
                     
                  </ul>
                  <div class="actions">
                    <button type="button" class="btn btn-xs btn-prev btn-default"><i class="icon mdi mdi-chevron-left"></i>Prev</button>
                    <button type="button" data-last="Finish" class="btn btn-xs btn-next btn-default">Next<i class="icon mdi mdi-chevron-right"></i></button>
                  </div>
                  <div class="step-content">
                    <div data-step="1" class="step-pane active">
                      <form action="#" data-parsley-namespace="data-parsley-" data-parsley-validate="" novalidate="" class="form-horizontal group-border-dashed"> {% csrf_token %} 
                        <div class="form-group no-padding">
                          <div class="col-sm-7">
                            <h3 class="wizard-title">Descripcion del Puesto</h3>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-3 control-label">Puesto</label>
                          <div class="col-sm-6">
                            <select class="select2 nova-select2" id="desc_puesto">
                                <option value="p0">Seleccione</option>
                                <option value="p1">54.192.COORDINADOR DE TECNOLOGIA DE INFORMACION </option>
                                <option value="p2">59.95.SUPERVISOR DE CONSTRUCCION</option>
                                <option value="p3">59.223.JEFE DE CONTROL DE CALIDAD</option>
                                <option value="p4">59.104.TECNICO INSTRUMENTISTA</option>
                            </select>
                          </div>  
                            <div class="col-sm-3 xs-pt-15">
                               <button class="btn btn-primary btn-space wizard-next">Copiar</button>
                            </div>
                        </div>

                        
                        <!-- numero de empleado ID-->
                        <div class="form-group">
                          <label class="col-sm-3 control-label">Puesto</label>
                            <div class="col-sm-6">
                              <div class="form-group {% if form.desc_puesto.field.required %} has-warning {% endif %} {% if form.desc_puesto.errors %} has-error {% endif %}">
                              <p>
                                {{ form.desc_puesto}}  
                              </p>
                              {% for error in form.desc_puesto.errors %}
                                <span class="help-block">{{ error }}</span>
                              {% endfor %}
                              </div>
                            </div>
                       </div>  
                       

                       <div class="row">
                        <!-- Empleado ID-->
                        <div class="col-sm-6">
                          <div class="form-group {% if form.empleado_id.field.required %} has-warning {% endif %} {% if form.empleado_id.errors %} has-error {% endif %}">
                          <label class="control-label">
                          <i class="fa {% if form.empleado_id.field.required %} fa-asterisk {% endif %} {% if form.empleado_id.errors %} fa-asterisk {% endif %}"></i> 
                            {{ form.empleado_id.label }} 
                          </label>
                          <p>
                            {{ form.empleado_id }}  
                          </p>
                          {% for error in form.empleado_id.errors %}
                            <span class="help-block">{{ error }}</span>
                          {% endfor %}
                          </div>
                        </div>
                       </div>
                        
                        <div class="form-group">
                          <label class="col-sm-3 control-label">Reporta a:</label>
                          <div class="col-sm-6">
                             <select class="select2 nova-select2" id="id_reportar">
                                     <option value="p1">01.184.DIRECTOR JURIDICO </option>
                                     <option value="p1">01.34.DIRECTOR DE NUEVOS NEGOCIOS </option>
                                     <option value="p1">01.35.DIRECTOR DE OPERACION Y CONSTRUCCION </option>
                                     <option value="p1">01.36.DIRECTOR DE PLANEACION, ADMINISTRACION Y FINANZAS </option>
                                     <option value="p1">01.38.DIRECTOR GENERAL </option>
                                     
                            </select>
                          </div>
                        </div>

                       <!-- objetivo -->
                       
                           <div class="form-group">
                              <label class="col-sm-3 control-label" 
                                 for="{{ form.objetivo.id_for_label }}">
                                 {{ form.objetivo.label }}
                                 Objetivo
                              </label>
                              <div class="col-sm-6 xs-pt-5">
                                 {{ form.objetivo }}
                                 <textarea class="form-control input-sm" cols="40" id="id_objetivo" rows="7">
                                 </textarea>
                              </div> 
                              {% for error in form.objetivo.errors %}
                                 <span class="help-block">{{ error }}</span>
                              {% endfor %}                                        
                           </div>

                        <div class="form-group">
                              <label class="col-sm-3 control-label" 
                                 for="{{ form.objetivo2.id_for_label }}">
                                 {{ form.objetivo2.label }}
                                 Funciones
                              </label>
                              <div class="col-sm-6 xs-pt-5">
                                 {{ form.objetivo2 }}
                                 <textarea class="form-control input-sm" cols="40" id="id_objetivo2" rows="7">
                                 </textarea>
                              </div> 
                              {% for error in form.objetivo2.errors %}
                                 <span class="help-block">{{ error }}</span>
                              {% endfor %}                                        
                           </div>

                           <div class="form-group">
                              <label class="col-sm-3 control-label" 
                                 for="{{ form.objetivo2.id_for_label }}">
                                 {{ form.objetivo2.label }}
                                 Responsabilidades
                              </label>
                              <div class="col-sm-6 xs-pt-5">
                                 {{ form.objetivo2 }}
                                 <textarea class="form-control input-sm" cols="40" id="id_responsabilidades" rows="7">
                                 </textarea>
                              </div> 
                              {% for error in form.objetivo2.errors %}
                                 <span class="help-block">{{ error }}</span>
                              {% endfor %}                                        
                           </div>

                         <div class="form-group">
                              <label class="col-sm-3 control-label" 
                                 for="{{ form.objetivo2.id_for_label }}">
                                 {{ form.objetivo2.label }}
                                 Reporte
                              </label>
                              <div class="col-sm-6 xs-pt-5">
                                 {{ form.objetivo2 }}
                                 <textarea class="form-control input-sm" cols="40" id="id_reporte" rows="7">
                                 </textarea>
                              </div> 
                              {% for error in form.objetivo2.errors %}
                                 <span class="help-block">{{ error }}</span>
                              {% endfor %}                                        
                           </div>

                        <div class="form-group">
                          <label class="col-sm-3 control-label">Posicion</label>
                          <div class="col-sm-6">
                            <input type="radio" id="staff" name="posicion" value="1" >
                                 <label class="control-label">Staff </label>
                          </div>
                        </div>

                         <div class="form-group">
                            <label class="col-sm-3 control-label"> Puestos a cargo </label>
                             <div class="main-content container-fluid">
                                      <div class="row">
                                        <div class="col-sm-6">
                                          <div class="panel panel-default panel-table">
                                            <div class="panel-heading">

                                              <div class="tools"><span class="icon mdi mdi-download"></span><span class="icon mdi mdi-more-vert"></span></div>
                                            </div>
                                            <div class="panel-body">
                                                    <table class="table">
                                                      <thead>
                                                        <tr>
                                                          <th style="width:50%;">Descripcion</th>
                                                        </tr>
                                                      </thead>
                                                      <tbody>
                                                        <tr>
                                                          <td>54.15.AUXILIAR ADMINISTRATIVO</td>
                                                          <td class="actions"><a href="#" class="icon"><i class="mdi mdi-delete"></i></a></td>
                                                        </tr>
                                                        <tr>
                                                          <td>54.138.JEFE DE SOPORTE DE INFRAESTRUCTURA</td>
                                                          <td class="actions"><a href="#" class="icon"><i class="mdi mdi-delete"></i></a></td>
                                                        </tr>
                                                        <tr>
                                                          <td>54.139.JEFE DE APLICACIONES TI</td>
                                                          <td class="actions"><a href="#" class="icon"><i class="mdi mdi-delete"></i></a></td>
                                                        </tr>
                                                        <tr>
                                                          <td>76.08.ANALISTA DE DATOS</td>
                                                          <td class="actions"><a href="#" class="icon"><i class="mdi mdi-delete"></i></a></td>
                                                        </tr>
                                                         
                                                      </tbody>
                                                    </table>
                                                  </div>
                                          </div>
                                          </div>
                                        </div>
                                        
                                      </div>

                                </div>
                        </div>


                        <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-default btn-space">Cancel</button>
                            <a href="{% url 'capitalhumano:perfil_organigrama' %}"><input  class="btn btn-primary btn-space wizard-next" value="Siguiente"></a>
                          </div>
                        </div>

                      </form>
                    </div>
                  
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      </nav>



</div>

{% endblock contenido %}

{% block scripts %}

 <!-- Theme -->
    <script src="{% static 'theme/lib/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'theme/lib/moment.js/min/moment.min.js' %}"></script>
    <script src="{% static 'theme/lib/datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'theme/lib/datetimepicker/js/locales/bootstrap-datetimepicker.es.js' %}"></script>
    <script src="{% static 'theme/lib/jquery.maskedinput/jquery.maskedinput.min.js' %}"></script>

    <!-- InputMask -->
    <script src="{% static 'libs/plugins/input-mask/jquery.inputmask.js' %}"></script>

    <!-- Kendo Js -->
    <script src="{% static 'libs/kendo/2015.2.624/js/cultures/kendo.culture.es-MX.min.js' %}"></script>
    <script src="{% static 'libs/kendo/2015.2.624/js/kendo.web.min.js' %}"></script>

   <!-- WYSIHTML5 -->
   <script src="{% static 'libs/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>

   <!-- NOVA -->
   <script src="{% static 'perfilpuesto/perfil_nuevo.js' %}"></script>      

{% endblock scripts %}
