{% extends 'master.html' %}
{% load static from staticfiles %}
{% load custom_tags %}
{% block titulo %} Noticia {% endblock titulo %}
{% block title-page %} Noticia {% endblock title-page %}

{% block css %}

    <!-- Summernote -->
    <link href="{% static 'theme/lib/summernote/summernote.css' %}" rel="stylesheet">

{% endblock css %}

{% block contenido %}

<div class="be-content">
    <div class="page-head nova-page-head">
        {% if operacion == "Editar" %}
            <h2 class="page-head-title nova-title">Edicion de Noticia: {{form.instance.pk}}</h2>
            <ol class="breadcrumb page-head-nav pull-right">
                <li><a href="{% url 'home:inicio' %}">Inicio</a></li>
                <li><a href="{% url 'editorial:post_administracion' %}">Administración de Noticias</a></li>
                <li id="menu" data-opcion="comunicacion_admin" class="active">Editar Noticia</li>
            </ol>
        {% else %}
            <h2 class="page-head-title nova-title">Nueva Noticia </h2>
            <ol class="breadcrumb page-head-nav pull-right">
                <li><a href="{% url 'home:inicio' %}">Inicio</a></li>
                <li><a href="{% url 'editorial:post_administracion' %}">Administración de Noticias</a></li>
                <li id="menu" data-opcion="comunicacion_admin" class="active">Nueva Noticia</li>
            </ol>
        {% endif %}
    </div>

    <div class="main-content container-fluid nova-main-content">
        <div class="row">
            <div class="col-md-12">
                <form class="panel panel-border panel-contrast" action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="panel-heading panel-heading-default nova-border-bottom">
                        Informacion de la Noticia
                    </div>
                    <div class="panel-body form-horizontal">

                        {% if form.non_field_errors %}

                            {% for error in form.non_field_errors %}
                                {% tag_mensaje 'error' error %}
                            {% endfor %}

                        {% endif %}

                        {% include 'tags/message.html' %}

                        {% tag_input form.titulo 3 7 %}

                        {% tag_input form.contenido 3 7 %}

                        {% tag_input form.imagen 3 7 %}

                        {% tag_input form.status 3 7 %}

                    </div>
                    <div class="modal-footer nova-modal-footer">
                        <div class="nova-footer-botons">
                            <a href=" {% url 'editorial:post_administracion' %}" class="btn btn-default">
                                <i class="icon mdi mdi-arrow-left"></i> Regresar
                            </a>
                            {% if operacion == "Editar" %}
                                <button type="submit" class="btn btn-lg nova-btn-orange pull-right"><i class="icon icon-left mdi mdi-refresh-alt nova-white"></i> Actualizar</button>
                            {% else %}
                                <button type="submit" class="btn btn-lg nova-btn-orange pull-right"><i class="icon icon-left mdi mdi-save nova-white"></i> Guardar</button>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}

{% block scripts %}

    <script type="text/javascript" src="{% static 'theme/lib/summernote/summernote.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'theme/lib/summernote/summernote-ext-beagle.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/summernote-clear/js/summernote-cleaner.js' %}"></script>

    <!-- NOVA -->
    <script type="text/javascript" src="{% static 'post/post_form.js' %}"></script>

{% endblock scripts %}
