{% extends 'master.html' %}
{% load static from staticfiles %}
{% load custom_tags %}
{% block titulo %} Inicio {% endblock titulo %}
{% block title-page %} Noticia  {% endblock title-page %}

{% block css %}
{% endblock css %}

{% block contenido %}

<div class="be-content">

    <div class="page-head nova-page-head">
      <h2 class="page-head-title nova-title">Noticia</h2>
      <ol class="breadcrumb page-head-nav pull-right">
         <li id="menu" data-opcion="inicio"><a href="{% url 'home:inicio'%}">Inicio</a></li>
         <li>Noticia</li>
      </ol>
    </div>

        <div class="main-content container-fluid nova-main-content">
            <div class="row">
                <div class=" {% if registros %} col-md-9 nova-panel-main{% else %} col-md-12 {% endif %}">
                    <div class="user-info-list panel panel-default panel-border">
                        <div class="col-md-12 panel-heading nova-post-titulo">
                            {{ registro.titulo }}
                        </div>
                        <div class="panel-body">

                            <div class="col-md-12">
                                <div class="pull-left nova-padding-elemento-post">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    {{ registro.updated_date|date:"M d, Y"}}
                                </div>
                            </div>

                            {% if registro.imagen %}
                                <div class="col-md-12 nova-contenedor-imagen">
                                    <img class="nova-post-imagen " src="{{ registro.imagen.url }}" alt="Post Imagen">
                                </div>
                            {% endif %}

                            <div class="col-md-12">
                                <section class="nova-post-contenido">
                                {% autoescape off %}
                                    {{ registro.contenido|linebreaks }}
                                {% endautoescape %}
                                </section>
                            </div>

                            <div class="modal-footer nova-centrar">
                               <a href="{% url 'home:inicio' %}" class="btn btn-default btn-lg" role="button"><i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar
                                </a>

                               {%  if user|tag_validate_has_group:"MARKETING_ADMIN" %}
                                  <a href="{% url 'editorial:post_editar' registro.pk clave %}" class="btn btn-warning btn-lg ">
                                     <i class="fa fa-pencil" aria-hiden="true"></i> Editar
                                  </a>
                               {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
                {% if registros %}
                <div class="col-md-3 own-sidebar">
                   <div class="row">
                       <div class="col-md-12">
                           <div class="panel panel-border panel-contrast user-info-list nova-panel-default">
                              <div class="panel-heading panel-heading-default nova-panel-heading-formulario nova-centrar">
                                  Últimas noticias
                              </div>
                                <div class="panel-body nova-padding-left nova-padding-right">
                                    <ul>
                                        {% for r in registros %}
                                            <li>
                                                <a href="{% url 'editorial:post_consultar' r.pk %}">{{ r.titulo }}</a>

                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                           </div>
                       </div>
                   </div>
               </div>
                {% endif %}
            </div>
        </div>

</div>


{% endblock contenido %}
