{% extends 'master.html' %}

{% load static from staticfiles %}

{% block titulo %} Viaticos {% endblock titulo %}

{% block title-page %} Viatico Solicitados {% endblock title-page %}

{% block css %}

	<!-- Kendo -->
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.rtl.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.common-bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.bootstrap.min.css' %}"/>

    <!-- Nova -->
    <link rel="stylesheet" href="{% static 'grid.css' %}"/>
    <link rel="stylesheet" href="{% static 'header.css' %}"/>

{% endblock css %}

{% block contenido %}

<div class="be-content">
	<div class="page-head">
		<h2 class="page-head-title">Solicitudes</h2>
		<ol class="breadcrumb page-head-nav">
			<li><a href="{% url 'home:inicio' %}">Inicio</a></li>
			<li class="active">Solicitudes</li>
		</ol>	
	</div>

	<div class="main-content container-fluid">  
		<div class="col-md-12">
              <div class="panel panel-default panel-table">
                <div class="panel-heading"> 
                  <div class="pull-right" id="toolbar">
                  	<button class="btn" id="boton_resultados">
                    <i class="fa fa-search"></i> Filtrar</button>
		            <button class="btn btn-space btn-success" id="boton_agregar">
                    <i class="fa fa-file-excel-o"></i> Excel</button>
                  </div>
                  <div class="title">Registros</div>
                </div>
                <div id="grid_resultados">      
                </div>
              </div>
        </div>
	</div>
</div>
{% endblock contenido %}

{% block scripts %}

	<!-- Kendo Js -->
	<script src="{% static 'libs/kendo/2015.2.624/js/cultures/kendo.culture.es-MX.min.js' %}"></script>
	<script src="{% static 'libs/kendo/2015.2.624/js/kendo.web.min.js' %}"></script>


	<!-- NOVA -->
	<script src="{% static 'viatico/viatico_lista.js' %}"></script>      


{% endblock scripts %}
