{% extends 'master.html' %}

{% load static from staticfiles %}

{% block titulo %} Viaticos {% endblock titulo %}

{% block title-page %} Nuevo Viatico {% endblock title-page %}

{% block css %}
	<!-- Kendo -->
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.rtl.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.common-bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.bootstrap.min.css' %}"/>

    <!-- Theme -->
    <link rel="stylesheet" href="{% static 'theme/lib/datetimepicker/css/bootstrap-datetimepicker.min.css' %}"/>

    <!-- Nova -->
    <link rel="stylesheet" href="{% static 'grid.css' %}"/>



{% endblock css %}


{% block contenido %}


<div class="be-content">

    <div class="page-head nova-page-head">
        <h2 class="page-head-title nova-title">Nueva Solicitud</h2>
        <ol class="breadcrumb page-head-nav pull-right">
            <li><a href="{% url 'home:inicio' %}">Inicio</a></li>
            <li><a href="{% url 'finanzas:viatico_lista' %}">Viaticos</a></li>
            <li class="active">Nuevo</li>
        </ol>
    </div>

	<!-- Targeta Formulario -->
    <div class="main-content container-fluid nova-main-content">

		<div class="row">
			<div class="col-xs-12 ">
				<div class="panel panel-border panel-contrast">
		            <div class="panel-heading panel-heading-default nova-border-bottom nova-panel-heading">
		            	<span class="nova-panel-title">
		            		Solicitud de viaticos	
		            	</span>
		            	
		               	<span class="label label-success pull-right nova-label-centrado">
		               		En edicion
		               	</span>
		            </div> 
		            <div class="panel-body">

		                <form action="" method="POST" class="form-horizontal group-border-dashed"> {% csrf_token %}

							<div class="form-group">
								
								<label class="col-sm-3 control-label" 
									for="{{ form.empleado_clave.id_for_label }}">
									{{ form.empleado_clave.label }}
								</label>
								<div class="col-sm-6 xs-pt-5">
									{{ form.empleado_clave }}
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label" 
									for="{{ form.empleado_clave.id_for_label }}">
									{{ form.empleado_clave.label }}
								</label>
								<div class="col-sm-6 xs-pt-5">
									{{ form.unidad_negocio_clave }}
								</div> 
							</div>
							
						</form>

						<!-- Botones -->
						<!-- <div class="pull-right">
							<button type="submit" class="btn btn-primary" >Guardar encabezado</button>
						</div> -->					

	              	</div>
					<!-- Botones -->
					<div class="modal-footer nova-modal-footer">

	         			<div class="row col-sm-12">
	                        <!-- <button type="button" id="boton_limpiar" class="btn btn-default pull-left"> -->
	                        <button type="button" id="boton_limpiar" class="btn btn-default pull-left">
	                            <i class="icon mdi mdi-arrow-left"></i>
	                            Regresar
	                        </button>                        
	                        
	                        <button type="button" id="boton_buscar" class="btn nova-btn btn-primary btn-lg pull-right">
	                            <i class="icon icon-left mdi mdi-save nova-white"></i>
	                            Guardar Encabezado
	                        </button>
	                    </div>
	                </div>              	
	            </div>
			</div>			
		</div>		 
    </div>

	<!-- PopUp -->
    <div id="lineasModal" tabindex="-1" role="dialog" class="modal fade colored-header colored-header-primary in">
          <div class="modal-dialog custom-width">
            <div class="modal-content">
                    <div class="modal-header nova-modal-header">
                        <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close"></span></button>
                        <h3 class="modal-title">Captura de lineas</h3>
                    </div>
                    
                    <div class="modal-body nova-modal-body-padding">

                        <form role="form" action=""> {% csrf_token %}                            
                            <!-- Concepto -->
		          			<div class="form-group">
                                <label for="{{ form2.concepto.id_for_label }}" class="nova-label-margin-bottom">Concepto</label>
                                {{ form2.concepto }}
                            </div>
                               
                            <!-- Observaciones -->
		          			<div class="form-group">
                                <label for="{{ form2.observaciones.id_for_label }}" class="nova-label-margin-bottom">Observaciones</label>
                                {{ form2.observaciones }}
                            </div>

                            <!-- Importe -->
		          			<div class="form-group">
                                <label for="{{ form2.importe.id_for_label }}" class="nova-label-margin-bottom">Importe</label>
                                {{ form2.importe }}
                            </div>

                        </form>       
                    </div><!-- Modal body-->

                    <div class="modal-footer nova-modal-footer">
                        <div class="row col-sm-12">
                            <button type="button" data-dismiss="modal" id="boton_cancelar" class="btn btn-default pull-left">
                            	<i class="mdi mdi-close"></i>
                            	Cancelar
                            </button>
                            <button type="submit" data-dismiss="modal" id="boton_guardar" class="btn nova-btn btn-space btn-primary">
                                <i class="mdi mdi-floppy"></i>
                                Guardar
                            </button>
                       </div> 
                    </div>
                </div> <!-- Modal content-->
              </div> <!-- Modal dialog -->
    		</div><!-- Modal -->

    		</div>
  		</div>
	</div>
</div>

{% endblock contenido %}

{% block scripts %}
	<!-- Kendo Js -->
	<script src="{% static 'libs/kendo/2015.2.624/js/cultures/kendo.culture.es-MX.min.js' %}"></script>
	<script src="{% static 'libs/kendo/2015.2.624/js/kendo.web.min.js' %}"></script>

    <!-- Theme -->
    <script src="{% static 'theme/lib/datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'theme/lib/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'theme/lib/moment.js/min/moment.min.js' %}"></script>
    
    <!-- plugins -->
   <script src="{% static 'libs/plugins/input-mask/jquery.inputmask.js' %}"></script>

	<!-- NOVA -->
	<script src="{% static 'viatico/viatico_formulario.js' %}"></script>      

{% endblock scripts %}

