{% extends 'master.html' %}

{% load static from staticfiles %}

{% load custom_tags %}

{% block titulo %} Viaticos {% endblock titulo %}

{% block title-page %} Nueva Solicitud de Viatico {% endblock title-page %}

{% block css %}

    <link rel="stylesheet" href="{% static 'theme/lib/datetimepicker/css/bootstrap-datetimepicker.min.css' %}" type="text/css"/>

{% endblock css %}

{% block contenido %}

<div class="be-content">

    <div class="page-head nova-page-head">
        <h2 class="page-head-title nova-title">Nueva Solicitud</h2>
        <ol class="breadcrumb page-head-nav pull-right">
            <li><a href="{% url 'home:inicio' %}">Inicio</a></li>
            <li><a href="{% url 'finanzas:viatico_lista' %}">Viaticos</a></li>
            <li id="menu" data-opcion="viaticos_lista" class="active">Nuevo</li>
        </ol>
    </div>

	<!-- Targeta Formulario -->
    <div class="main-content container-fluid nova-main-content">

        <div class="row">
            <div class="col-md-12">
                <form class="panel panel-border panel-contrast" action="" method="POST"> {% csrf_token %}
                    <div class="panel-heading panel-heading-default nova-border-bottom">
                        Informacion de la solicitud:
                    </div>
                    <div class="panel-body form-horizontal">

                        {% if form.non_field_errors %}

                            {% for error in form.non_field_errors %}
                                {% tag_mensaje 'error' error %}
                            {% endfor %}

                        {% endif %}

                        {% tag_field_registro form.empleado_clave 3 6 %}

                        {% tag_field_registro form.unidad_negocio_clave 3 6 %}

                        {% tag_field_registro_dates 'Fecha partida/regreso' form.fecha_partida form.fecha_regreso 3 3 3 %}

                        {% tag_field_registro form.ciudad_destino 3 6 %}

                        {% tag_field_registro form.proposito_viaje 3 6 %}

                        <!-- Ocultos -->
                        <div>
                            {{ form.empleado_descripcion }}
                            {{ form.unidad_negocio_descripcion }}
                        </div>

                    </div>
                    <div class="modal-footer nova-modal-footer">
                        <button type="submit" id="boton_buscar" class="btn nova-btn btn-primary btn-lg">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

{% endblock contenido %}

{% block scripts %}

    <!-- Theme -->
    <script src="{% static 'theme/lib/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'theme/lib/moment.js/min/moment.min.js' %}"></script>
    <script src="{% static 'theme/lib/datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'theme/lib/datetimepicker/js/locales/bootstrap-datetimepicker.es.js' %}"></script>


	<!-- Nova -->
    <script src="{% static 'tools.js' %}"></script>
	<script src="{% static 'viatico/viatico_nuevo.js' %}"></script>

{% endblock scripts %}
