{% extends 'master.html' %}

{% load static from staticfiles %}

{% load custom_tags %}

{% block titulo %} Viaticos {% endblock titulo %}

{% block title-page %} Solicitud de Viatico {% endblock title-page %}

{% block css %}

    <!-- DatePicker -->
    <link rel="stylesheet" href="{% static 'libs/bootstrap-datepicker/2.0/dist/css/bootstrap-datepicker.min.css' %}"/>

    <!-- Kendo -->
    <link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.rtl.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.common-bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.bootstrap.min.css' %}"/>

    <!-- Nova -->
    <link rel="stylesheet" href="{% static 'grid.css' %}"/>

{% endblock css %}

{% block contenido %}

<div class="be-content">

    <div class="page-head nova-page-head">
        <h2 class="page-head-title nova-title">Editar Solicitud</h2>
        <ol class="breadcrumb page-head-nav pull-right">
            <li><a href="{% url 'home:inicio' %}">Inicio</a></li>
            <li><a href="{% url 'finanzas:viatico_lista' %}">Viaticos</a></li>
            <li class="active">Editar</li>
        </ol>
    </div>

    <!-- Targeta Formulario -->
    <div class="main-content container-fluid nova-main-content">

        <div class="row">

            <div class="col-md-8 nova-panel-main">

                <!-- Cabecera -->
                <form class="panel panel-border panel-contrast nova-panel-default nova-panel-formulario" action="" method="POST"> {% csrf_token %}
                    <div class="panel-heading panel-heading-default nova-panel-heading-formulario">
                        <span class="title">Informacion de la solicitud: <strong>VIA-<span id="cabecera_pk">{{ form.instance.id }}</span></strong></span>
                    </div>
                    <div class="panel-body form-horizontal">

                        {% if form.non_field_errors %}
                            {% for error_message in form.non_field_errors %}
                                {% tag_mensaje 'error' error_message %}
                            {% endfor %}
                        {% endif %}

                        {% if flag_new %}
                            {% tag_mensaje 'exito' 'Solicitud Creada con exito' %}
                        {% endif %}

                        {% include 'tags/message.html' %}

                        {% tag_section_info 12 0 '¡Instrucciones!' 'Ahora puedes agregar/modificar gastos en la targeta <strong>"Lineas"</strong>' %}

                        {% tag_field_registro form.empleado_clave 3 8 %}

                        {% tag_field_registro form.unidad_negocio_clave 3 8 %}

                        {% tag_field_registro_dates 'Fecha partida/regreso' form.fecha_partida form.fecha_regreso 3 4 4 %}

                        {% tag_field_registro form.ciudad_destino 3 8 %}

                        {% tag_field_registro form.proposito_viaje 3 8 %}

                        <!-- Ocultos -->
                        <div>
                            {{ form.empleado_descripcion }}
                            {{ form.unidad_negocio_descripcion }}
                        </div>

                    </div>
                    <div class="modal-footer nova-modal-footer">
                        <div class="nova-footer-botons">
                            <a href=" {% url 'finanzas:viatico_lista' %}" class="btn btn-default">
                                <i class="icon mdi mdi-arrow-left"></i>
                                Regresar a Listado
                            </a>

                            <button type="submit" id="btn_registrar" class="btn nova-btn btn-primary btn-lg pull-right">
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Lineas -->
                <div class="panel panel-default panel-table nova-panel-table">
                    <div class="panel-heading panel-border nova-panel-heading">
                        <div class="widget-head nova-widget-head">
                            <div class="tools visible-xs-inline-block">

                                <button type="button" class="btn nova-btn btn-sm btn-rounded btn-space btn-default" id="boton_nuevo_m">
                                    <i class="icon icon-left mdi mdi-plus-circle nova-black"></i> Nuevo
                                </button>

                                <button type="button" class="btn nova-btn btn-sm btn-rounded btn-space btn-success">
                                    <i class="icon icon-left mdi mdi-download nova-white"></i> Exportar
                                </button>

                            </div>
                            <div class="button-toolbar hidden-xs">

                                <button type="button" class="btn nova-btn btn-rounded btn-space btn-default" id="boton_nuevo">
                                    <i class="icon icon-left mdi mdi-plus-circle nova-black"></i> Nuevo
                                </button>

                                <button class="btn nova-btn btn-rounded btn-space btn-success" id="boton_excel" disabled>
                                    <i class="icon icon-left mdi mdi-download nova-white"></i> Exportar
                                </button>

                            </div>
                            <span class="title">Lineas</span>
                        </div>

                    </div>

                    <div id="grid_lineas">
                    </div>
                </div>

                <!-- Botones -->
                <div class="panel panel-border panel-contrast nova-panel-default">
                    <div class="panel-body text-center">
                        <button type="button" class="btn btn-warning btn-lg" disabled>Finalizar y Enviar</button>
                    </div>
                </div>

            </div>

            <!-- Datos Autorizacion -->
            <div class="col-md-4">
                  <div class="panel panel-border panel-contrast user-info-list nova-panel-default">
                      <div class="panel-heading panel-heading-default nova-panel-heading-formulario">
                          Datos de Autorización
                      </div>
                      <div class="panel-body">
                          <table class="no-border no-strip skills">
                              <tbody class="no-border-x no-border-y">
                                  <tr>
                                        <td class="icon nova-label"><span class="mdi mdi-flag"></span></td>
                                        <td class="item nova-label">Estado:<span class="icon s7-flag"></span></td>
                                        <td><strong>{{ form.instance.get_status_display }}</strong></td>
                                  </tr>
                                  <tr>
                                      <td class="icon nova-label"><span class="mdi mdi-assignment-check"></span></td>
                                      <td class="item nova-label">Aprovador:<span class="icon s7-assignment-check"></span></td>

                                      {% if form.instance.status == "aut" %}
                                          <td><strong>{{ form.instance.approved_by.user.get_full_name|default:""|upper }}</strong></td>
                                      {% else %}
                                          <td><strong>{{ form.instance.autorizador_descripcion|default:""|upper }}</strong></td>
                                      {% endif %}

                                  </tr>
                                  <tr>
                                        <td class="icon nova-label"><span class="mdi mdi-layers"></span></td>
                                        <td class="item nova-label">Grupo:<span class="icon s7-layers"></span></td>
                                        <td><strong>{{ form.instance.grupo|default:""|upper }}</strong></td>
                                  </tr>
                                  <tr>
                                      <td class="icon nova-label"><span class="glyphicon glyphicon-calendar"></td>
                                      <td class="item nova-label">Autorizada el:<span class="icon s7-glyphicon-calendar"></span></td>
                                      <td><strong>{{ form.instance.approved_date|date:"d M Y"|default:"Sin autorizar" }}</strong></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                </div>
            </div>

            <!-- Datos Auditoria -->
            <div class="col-md-4">
                  <div class="panel panel-border panel-contrast user-info-list nova-panel-default">
                      <div class="panel-heading panel-heading-default nova-panel-heading-formulario">
                          Datos de Autitoria
                      </div>
                      <div class="panel-body">
                        <table class="no-border no-strip skills">
                            <tbody class="no-border-x no-border-y">
                                <tr>
                                    <td class="icon nova-label"><span class="mdi mdi-face"></span></td>
                                    <td class="item nova-label">Creada por:<span class="icon s7-face"></span></td>
                                    <td><strong>{{ form.instance.created_by|default:""|upper }}</strong></td>
                                </tr>
                                <tr>
                                    <td class="icon nova-label"><span class="glyphicon glyphicon-calendar"></td>
                                    <td class="item nova-label">Creada el:<span class="icon s7-glyphicon-calendar"></span></td>
                                    <td><strong>{{ form.instance.created_date|default:""|date:"d F Y" }}</strong></td>
                                </tr>
                                <tr>
                                    <td class="icon nova-label"><span class="mdi mdi-face"></span></td>
                                    <td class="item nova-label">Actualizada por:<span class="icon s7-face"></span></td>
                                    <td><strong>{{ form.instance.updated_by|default:""|upper }}</strong></td>
                                </tr>
                                <tr>
                                    <td class="icon nova-label"><span class="glyphicon glyphicon-calendar"></td>
                                    <td class="item nova-label">Actualizacion el:<span class="icon s7-glyphicon-calendar"></span></td>
                                    <td><strong>{{ form.instance.updated_date|default:""|date:"d F Y" }}</strong></td>
                                </tr>
                            </tbody>
                        </table>
                      </div>
                </div>
            </div>

            <!-- Datos para Facturacion -->
            <div class="col-md-4">
                  <div class="panel panel-border panel-contrast user-info-list nova-panel-default">
                      <div class="panel-heading panel-heading-default nova-panel-heading-formulario">
                          Datos para Facturacion
                      </div>
                      <div class="panel-body">
                          <table class="no-border no-strip skills">
                              <tbody class="no-border-x no-border-y">
                                  <tr>
                                      <td class="icon nova-label"><span class="mdi mdi-case"></span></td>
                                      <td class="item nova-label">Razon Social:<span class="icon s7-portfolio"></span></td>
                                      <td><strong>{{ form.instance.empresa|default:"" }}</strong></td>
                                  </tr>
                                  <tr>
                                      <td class="icon nova-label"><span class="mdi mdi-globe-alt"></span></td>
                                      <td class="item nova-label">RFC:<span class="icon s7-globe-alt"></span></td>
                                      <td><strong>{{ form.instance.rfc|default:"" }}</strong></td>
                                  </tr>
                                  <tr>
                                      <td class="icon nova-label"><span class="mdi mdi-pin"></span></td>
                                      <td class="item nova-label">Direccion:<span class="icon s7-pin"></span></td>
                                      <td><strong>{{ form.instance.direccion|default:"" }}</strong></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Popup Linea -->
    <div id="popup_linea" role="dialog" class="modal fade colored-header colored-header-primary">
        <div class="modal-dialog custom-width">
            <form id="formulario_linea" data-parsley-validate="" class="modal-content">

                <div class="modal-header nova-modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close">
                        <span class="mdi mdi-close nova-white"></span>
                    </button>
                    <h3 class="modal-title" id="linea_title"><span id="linea_slug"></span></h3>
                </div>

                <div class="modal-body form-horizontal">

                    {% tag_field_registro form_linea.concepto 3 8 %}

                    {% tag_field_registro form_linea.observaciones 3 8 %}

                    {% tag_field_registro form_linea.importe 3 8 %}

                </div>
                <div class="modal-footer nova-modal-footer">
                     <div class="row col-sm-12">
                        <button type="button" data-dismiss="modal" class="btn btn-default pull-left">
                            Cancelar
                        </button>

                        <button type="submit" id="boton_guardar" class="btn nova-btn btn-primary btn-lg pull-right" value="validate">
                            <!-- <i class="icon icon-left mdi mdi-search nova-white"></i> -->
                            Guardar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock contenido %}

{% block scripts %}

    <!-- Theme -->
    <script src="{% static 'theme/lib/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'theme/lib/parsley/parsley.min.js' %}"></script>
    <script src="{% static 'theme/lib/parsley/i18n/es.js' %}"></script>

    <!--JSZIP -->
    <script src="{% static 'libs/kendo/2015.2.624/js/jszip.min.js' %}"></script>

    <!-- Kendo Js -->
    <script src="{% static 'libs/kendo/2015.2.624/js/cultures/kendo.culture.es-MX.min.js' %}"></script>
    <script src="{% static 'libs/kendo/2015.2.624/js/kendo.web.min.js' %}"></script>

    <!-- DatePicker -->
    <script src="{% static 'libs/bootstrap-datepicker/2.0/dist/js/bootstrap-datepicker.min.js' %}"></script>

    <!-- Nova -->
    <script src="{% static 'tools.js' %}"></script>
    <script src="{% static 'viatico/viatico_editar.js' %}"></script>

{% endblock scripts %}
