{% extends 'master.html' %}

{% block titulo %} Viaticos {% endblock titulo %}

{% block title-page %} Nuevo Viatico  {% endblock title-page %}

{% block contenido %}

<div class="be-content">
    <div class="page-head">
        <h2 class="page-head-title">Nuevo Viatico</h2>
        <ol class="breadcrumb page-head-nav">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Viaticos</a></li>
            <li class="active">Nuevo</li>
        </ol>


    </div>
    <div class="main-content container-fluid">  

		<p> Usuario: {{ user }}</p>
		<form action="" method="POST"> {% csrf_token %}
			{{ form.as_p }}

			<button type="submit">Guardar</button>
		</form>

		{{ mensaje }}

    </div>
</div>

{% endblock contenido %}


