<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Lista de Viaticos</title>
</head>
<body>
	
	<form action="" method="POST"> {% csrf_token %}
		

		<p>
			<label for="">Nombre</label>
			<input type="text" name="nombre">
		</p>
		
		<p>
			<label for="">Numero</label>
			<input type="text" name="numero_viatico">
		</p>
		
		<p>
			<label for="">Autorizador</label>
			<input type="text" name="autorizador">
		</p>

		<p>
			<label for="">Fecha Creacion</label>
			<input type="text" name="fecha_creacion">
		</p>
		

		<button type="submit">Buscar</button>
	</form>

</body>
</html>