{% extends 'master.html' %}

{% load static from staticfiles %}

{% block titulo %} Viaticos {% endblock titulo %}

{% block title-page %} Viatico Solicitados {% endblock title-page %}

{% block css %}

	<!-- Kendo -->
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.rtl.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.common-bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.bootstrap.min.css' %}"/>

    <!-- Nova -->
    <link rel="stylesheet" href="{% static 'grid.css' %}"/>
    <link rel="stylesheet" href="{% static 'header.css' %}"/>

{% endblock css %}

{% block contenido %}

<div class="be-content">
	<div class="page-head">
		<h2 class="page-head-title">Solicitudes</h2>
		<ol class="breadcrumb page-head-nav">
			<li><a href="{% url 'home:inicio' %}">Inicio</a></li>
			<li class="active">Solicitudes</li>
		</ol>	
	</div>

	<div class="main-content container-fluid">  
		<div class="col-md-12">
              <div class="panel panel-default panel-table">
                <div class="panel-heading panel-border"> 
                  <div class="tools pull-right" id="toolbar">
                    
                    <span class="icon fa fa-plus-circle" data-toggle="tooltip" data-placement="top" data-original-title="Nuevo viático" id="boton_nuevo"></span>                   

                    <a href="#ventana_filtro" data-toggle="modal">
                        <span class="icon fa fa-search" data-toggle="tooltip" data-placement="top" data-original-title="Filtros de búsqueda" id="boton_filtro"></span>
                    </a>    
                    
		            <span class="icon fa fa-file-excel-o" data-toggle="tooltip" data-placement="top" data-original-title="Exportar a Excel" id="boton_excel"></span>

                  </div>
                  <div class="title">  Registros</div>
                </div>
                <div id="grid_resultados">      
                </div>
              </div>
        </div>
	</div>

    <!-- PopUp -->
    <div id="ventana_filtro" tabindex="-1" role="dialog" class="modal fade colored-header colored-header-primary in">
          <div class="modal-dialog custom-width">
            <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close"></span></button>
                        <h3 class="modal-title">Filtro de búsqueda</h3>
                    </div>
                    
                    <div class="modal-body">
                        <div class="form-group">
                          <label>Email address</label>
                          <input type="email" placeholder="username@example.com" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Your name</label>
                            <input type="text" placeholder="John Doe" class="form-control">
                        </div>
                        <div class="row">
                          <div class="form-group col-md-12">
                            <label>Your birth date</label>
                          </div>
                        </div>
                        <div class="row no-margin-y">
                          <div class="form-group col-xs-3">
                            <input type="text" placeholder="DD" class="form-control">
                          </div>
                          <div class="form-group col-xs-3">
                            <input type="text" placeholder="MM" class="form-control">
                          </div>
                          <div class="form-group col-xs-3">
                            <input type="text" placeholder="YYYY" class="form-control">
                          </div>
                        </div>
                        <div class="row">
                          <div class="form-group col-md-12">
                            <div class="be-checkbox">
                              <input id="check2" type="checkbox">
                              <label for="check2">Send me notifications about new products and services.</label>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancelar</button>
                        <button type="submit" id="boton_buscar" class="btn btn-default pull-right">
                        <i class="fa fa-search"></i>
                        Buscar
                    </button>

                      </div>
            </div> <!-- Modal content-->
          </div> <!-- Modal dialog -->
    </div><!-- Modal -->
</div>
{% endblock contenido %}

{% block scripts %}

	<!-- Kendo Js -->
	<script src="{% static 'libs/kendo/2015.2.624/js/cultures/kendo.culture.es-MX.min.js' %}"></script>
	<script src="{% static 'libs/kendo/2015.2.624/js/kendo.web.min.js' %}"></script>


	<!-- NOVA -->
	<script src="{% static 'viatico/viatico_lista.js' %}"></script>      


{% endblock scripts %}
