{% extends 'master.html' %}

{% load static from staticfiles %}

{% block titulo %} Viaticos {% endblock titulo %}

{% block title-page %} Nuevo Viatico {% endblock title-page %}

{% block css %}
	<!-- Kendo -->
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.rtl.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.common-bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.bootstrap.min.css' %}"/>

    <!-- Theme -->
    <link rel="stylesheet" href="{% static 'theme/lib/datetimepicker/css/bootstrap-datetimepicker.min.css' %}"/>

    <!-- Nova -->
    <link rel="stylesheet" href="{% static 'grid.css' %}"/>



{% endblock css %}


{% block contenido %}


<div class="be-content">
    <div class="page-head">
        <h2 class="page-head-title">Nuevo Viatico</h2>
        <ol class="breadcrumb page-head-nav">
            <li><a href="#">Inicio</a></li>
            <li><a href="{% url 'finanzas:viatico_lista' %}">Viaticos</a></li>
            <li class="active">Nuevo</li>
        </ol>
    </div>
    <div class="main-content container-fluid">  
			 
		<div class="col-sm-12">
			<div class="panel panel-border panel-contrast">
	                <div class="panel-heading panel-heading-default border-bottom">Solicitud de viaticos:{% if id_cabecera != ''  %}<strong value="{{ id_cabecera }}" id="id_cabecera">{{ id_cabecera }}</strong>{% endif %}
	                	<div class="tools" data-toggle="collapse" href="#collapseCabecera"><span class="icon mdi mdi-caret-down-circle"></span></div>
	                </div> 
                <div class="panel-body collapse" id="collapseCabecera">
                	<form action="" method="POST"> {% csrf_token %}	

						<div class="row">
												
							<!-- Empleado -->
							<div class="col-sm-4">

								<div class="form-group {% if form.empleado.field.required %} has-warning {% endif %} {% if form.empleado.errors %} has-error {% endif %}">

								<label class="control-label">
								<i class="fa {% if form.empleado.field.required %} fa-asterisk {% endif %} {% if form.empleado.errors %} fa-asterisk {% endif %}"></i> 
									{{ form.empleado.label }} 
								</label>
								<p>
									{{ form.empleado }}	
								</p>
								{% for error in form.empleado.errors %}
									<span class="help-block">{{ error }}</span>
								{% endfor %}
								</div>
							</div>

							<!-- Fecha Partida -->
							<div class="col-sm-4">
								
		                            <label for="{{ form.fecha_partida.id_for_label }}"> Fecha de partida inicio: </label>
		                                <div data-min-view="2" data-date-format="yyyy-mm-dd" class="input-group date datetimepicker">
		                                    {{ form.fecha_partida }}
		                                <span class="input-group-addon btn btn-primary"><i class="icon-th mdi mdi-calendar"></i></span>
		                                </div>
		                        
							</div>

							<!-- Fecha fecha_regreso -->
							<div class="col-sm-4">
								
		                            <label for="{{ form.fecha_regreso.id_for_label }}"> Fecha de partida inicio: </label>
		                                <div data-min-view="2" data-date-format="yyyy-mm-dd" class="input-group date datetimepicker">
		                                    {{ form.fecha_regreso }}
		                                <span class="input-group-addon btn btn-primary"><i class="icon-th mdi mdi-calendar"></i></span>
		                                </div>
		                        
							</div>
						</div>

						<div class="row">

							<!-- Unidad de negocio -->
							<div class="col-sm-6">

								<div class="form-group {% if form.unidad_negocio.field.required %} has-warning {% endif %} {% if form.unidad_negocio.errors %} has-error {% endif %}">

								<label class="control-label">
								<i class="fa {% if form.unidad_negocio.field.required %} fa-asterisk {% endif %} {% if form.unidad_negocio.errors %} fa-asterisk {% endif %}"></i> 
									{{ form.unidad_negocio.label }} 
								</label>
								<p>
									{{ form.unidad_negocio }}	
								</p>
								{% for error in form.unidad_negocio.errors %}
									<span class="help-block">{{ error }}</span>
								{% endfor %}
								</div>
							</div>

							<!-- Ciudad de destino -->
							<div class="col-sm-6">

								<div class="form-group {% if form.ciudad_destino.field.required %} has-warning {% endif %} {% if form.ciudad_destino.errors %} has-error {% endif %}">

								<label class="control-label">
								<i class="fa {% if form.ciudad_destino.field.required %} fa-asterisk {% endif %} {% if form.ciudad_destino.errors %} fa-asterisk {% endif %}"></i> 
									{{ form.ciudad_destino.label }} 
								</label>
								<p>
									{{ form.ciudad_destino }}	
								</p>
								{% for error in form.ciudad_destino.errors %}
									<span class="help-block">{{ error }}</span>
								{% endfor %}
								</div>
							</div>

						</div>

						<div class="row">

							<!-- Proposito del viaje -->
							<div class="col-sm-12">

								<div class="form-group {% if form.proposito_viaje.field.required %} has-warning {% endif %} {% if form.proposito_viaje.errors %} has-error {% endif %}">

								<label class="control-label">
								<i class="fa {% if form.proposito_viaje.field.required %} fa-asterisk {% endif %} {% if form.proposito_viaje.errors %} fa-asterisk {% endif %}"></i> 
									{{ form.proposito_viaje.label }} 
								</label>
									{{ form.proposito_viaje }}
													  
								{% for error in form.proposito_viaje.errors %}
									<span class="help-block">{{ error }}</span>
								{% endfor %}
								</div>
							</div>
							
						</div>

						<div class="row">

							<!-- Requiere vehiculo -->
							<div class="col-sm-6">

								<div class="form-group {% if form.requiere_vehiculo.field.required %} has-warning {% endif %} {% if form.requiere_vehiculo.errors %} has-error {% endif %}">

							  	<label class="control-label">
								<i class="fa {% if form.requiere_vehiculo.field.required %} fa-asterisk {% endif %} {% if form.requiere_vehiculo.errors %} fa-asterisk {% endif %}"></i> 
									{{ form.requiere_vehiculo.label }} 
								</label>
									{{ form.requiere_vehiculo }}
													  
								{% for error in form.requiere_vehiculo.errors %}
									<span class="help-block">{{ error }}</span>
								{% endfor %}
								</div>
							</div>

							<!-- No de vehiculo -->
							<div class="col-sm-6">

								<div class="form-group {% if form.no_vehiculo.field.required %} has-warning {% endif %} {% if form.no_vehiculo.errors %} has-error {% endif %}">

								<label class="control-label">
								<i class="fa {% if form.no_vehiculo.field.required %} fa-asterisk {% endif %} {% if form.no_vehiculo.errors %} fa-asterisk {% endif %}"></i> 
									{{ form.no_vehiculo.label }} 
								</label>
								<p>
									{{ form.no_vehiculo }}	
								</p>
								{% for error in form.no_vehiculo.errors %}
									<span class="help-block">{{ error }}</span>
								{% endfor %}
								</div>
							</div>
						</div>

						<div class="row">
							<!-- Nombre empresa -->
							<div class="col-sm-4">

								<div class="form-group {% if form.nombre_empresa.field.required %} has-warning {% endif %} {% if form.nombre_empresa.errors %} has-error {% endif %}">

								<label class="control-label">
								<i class="fa {% if form.nombre_empresa.field.required %} fa-asterisk {% endif %} {% if form.nombre_empresa.errors %} fa-asterisk {% endif %}"></i> 
									{{ form.nombre_empresa.label }} 
								</label>
								<p>
									{{ form.nombre_empresa }}	
								</p>
								{% for error in form.nombre_empresa.errors %}
									<span class="help-block">{{ error }}</span>
								{% endfor %}
								</div>
							</div>

							<!-- RFC -->
							<div class="col-sm-4">

								<div class="form-group {% if form.rfc.field.required %} has-warning {% endif %} {% if form.rfc.errors %} has-error {% endif %}">

								<label class="control-label">
								<i class="fa {% if form.rfc.field.required %} fa-asterisk {% endif %} {% if form.rfc.errors %} fa-asterisk {% endif %}"></i> 
									{{ form.rfc.label }} 
								</label>
								<p>
									{{ form.rfc }}	
								</p>
								{% for error in form.rfc.errors %}
									<span class="help-block">{{ error }}</span>
								{% endfor %}
								</div>
							</div>

							<!-- Direccion -->
							<div class="col-sm-4">

								<div class="form-group {% if form.direccion.field.required %} has-warning {% endif %} {% if form.direccion.errors %} has-error {% endif %}">

								<label class="control-label">
								<i class="fa {% if form.direccion.field.required %} fa-asterisk {% endif %} {% if form.direccion.errors %} fa-asterisk {% endif %}"></i> 
									{{ form.direccion.label }} 
								</label>
								<p>
									{{ form.direccion }}	
								</p>
								{% for error in form.direccion.errors %}
									<span class="help-block">{{ error }}</span>
								{% endfor %}
								</div>
							</div>
						</div>


						<div class="row">
							<!-- Grupo -->
							<div class="col-sm-3">

								<div class="form-group {% if form.grupo.field.required %} has-warning {% endif %} {% if form.grupo.errors %} has-error {% endif %}">

								<label class="control-label">
								<i class="fa {% if form.grupo.field.required %} fa-asterisk {% endif %} {% if form.grupo.errors %} fa-asterisk {% endif %}"></i> 
									{{ form.grupo.label }} 
								</label>
								<p>
									{{ form.grupo }}	
								</p>
								{% for error in form.grupo.errors %}
									<span class="help-block">{{ error }}</span>
								{% endfor %}
								</div>
							</div>

							<!-- Autorizador -->
							<div class="col-sm-3">

								<div class="form-group {% if form.autorizador.field.required %} has-warning {% endif %} {% if form.autorizador.errors %} has-error {% endif %}">

								<label class="control-label">
								<i class="fa {% if form.autorizador.field.required %} fa-asterisk {% endif %} {% if form.autorizador.errors %} fa-asterisk {% endif %}"></i> 
									{{ form.autorizador.label }} 
								</label>
								<p>
									{{ form.autorizador }}	
								</p>
								{% for error in form.autorizador.errors %}
									<span class="help-block">{{ error }}</span>
								{% endfor %}
								</div>
							</div>

							<!-- Estado de la solicitud -->
							<div class="col-sm-3">

								<div class="form-group {% if form.estado_solicitud.field.required %} has-warning {% endif %} {% if form.estado_solicitud.errors %} has-error {% endif %}">

								<label class="control-label">
								<i class="fa {% if form.estado_solicitud.field.required %} fa-asterisk {% endif %} {% if form.estado_solicitud.errors %} fa-asterisk {% endif %}"></i> 
									{{ form.estado_solicitud.label }} 
								</label>
								<p>
									{{ form.estado_solicitud }}	
								</p>
								{% for error in form.estado_solicitud.errors %}
									<span class="help-block">{{ error }}</span>
								{% endfor %}
								</div>
							</div>

							<!-- Fecha de autorizacion -->
							<div class="col-sm-3">

								<div class="form-group">

								<label class="control-label">
									Fecha de autorización
								</label>
								<p>
									<input class="form-control input-xs" id="id_fecha_autorizacion" type="text" name="fecha_autorizacion" readonly="True">
								</p>
								</div>
							</div>

						</div> <!-- Row -->


						<div class="pull-right">
							<button type="submit" class="btn btn-primary" >Guardar encabezado</button>
						</div>
						
					</form>

                </div>
            </div>	<!-- Panel -->
           
		</div>	<!-- col-sm-12 -->
		
		{% if id_cabecera != ''  %}
		<div class="col-sm-12">
			              <div class="panel panel-default panel-table">
			                <div class="panel-heading panel-border"> 
			                  <div class="tools pull-right" id="toolbar">
			                    
			                    <a href="#lineasModal" data-toggle="modal">
			                        <button class="btn btn-rounded btn-space btn-default" id="boton_nueva_linea"><i class="icon icon-left mdi mdi-plus-circle"></i> Linea </button>
			                    </a>    			                  

			                  </div>
			                  <div class="title"> Registros </div>
			                </div>
			                <div id="grid_resultados">      
			                </div>
			              </div>
		</div><!-- col sm 12-->
        {% endif %}  

    </div>

	<!-- PopUp -->
    <div id="lineasModal" tabindex="-1" role="dialog" class="modal fade colored-header colored-header-primary in">
          <div class="modal-dialog custom-width">
            <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close"></span></button>
                        <h3 class="modal-title">Captura de lineas</h3>
                    </div>
                    
                    <div class="modal-body">

                        <form role="form" action=""> {% csrf_token %}                            
                            <!-- Concepto -->
		          			<div class="form-group col-sx-12 col-sm-12 col-md-12">
                                <label for="{{ form2.concepto.id_for_label }}">Concepto</label>
                                {{ form2.concepto }}
                            </div>
                               
                            <!-- Observaciones -->
		          			<div class="form-group col-sx-12 col-sm-12 col-md-12">
                                <label for="{{ form2.observaciones.id_for_label }}">Observaciones</label>
                                {{ form2.observaciones }}
                            </div>

                            <!-- Importe -->
		          			<div class="form-group col-sx-12 col-sm-12 col-md-12">
                                <label for="{{ form2.importe.id_for_label }}">Importe</label>
                                {{ form2.importe }}
                            </div>

                        </form>       
                    </div><!-- Modal body-->

                    <div class="modal-footer">
                        <div class="row col-sm-12">
                            <button type="submit" data-dismiss="modal" id="boton_guardar" class="btn btn-default">
                                <i class="fa fa-floppy-o"></i>
                                Guardar
                            </button>
                            <button type="button" data-dismiss="modal" id="boton_cancelar" class="btn btn-default">
                            	<i class="fa fa-window-close"></i>
                            	Cancelar
                            </button>
                       </div> 
                    </div>
                </div> <!-- Modal content-->
              </div> <!-- Modal dialog -->
    </div><!-- Modal -->

    		</div>
  		</div>
	</div>
</div>

{% endblock contenido %}

{% block scripts %}
	<!-- Kendo Js -->
	<script src="{% static 'libs/kendo/2015.2.624/js/cultures/kendo.culture.es-MX.min.js' %}"></script>
	<script src="{% static 'libs/kendo/2015.2.624/js/kendo.web.min.js' %}"></script>

    <!-- Theme -->
    <script src="{% static 'theme/lib/datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'theme/lib/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'theme/lib/moment.js/min/moment.min.js' %}"></script>

	<!-- NOVA -->
	<script src="{% static 'viatico/viatico_formulario.js' %}"></script>      

{% endblock scripts %}

