{% extends 'master.html' %}

{% load static from staticfiles %}

{% block titulo %} Viaticos {% endblock titulo %}

{% block title-page %} Solicitud de Viatico {% endblock title-page %}

{% block css %}

    <link rel="stylesheet" href="{% static 'theme/lib/datetimepicker/css/bootstrap-datetimepicker.min.css' %}" type="text/css"/>

{% endblock css %}

{% block contenido %}

<div class="be-content">

    <div class="page-head nova-page-head">
        <h2 class="page-head-title nova-title">Editar Solicitud</h2>
        <ol class="breadcrumb page-head-nav pull-right">
            <li><a href="{% url 'home:inicio' %}">Inicio</a></li>
            <li><a href="{% url 'finanzas:viatico_lista' %}">Viaticos</a></li>
            <li class="active">Editar</li>
        </ol>
    </div>

    <!-- Targeta Formulario -->
    <div class="main-content container-fluid nova-main-content">

        <div class="row">
            <div class="col-md-12">
                <div class="widget widget-fullwidth be-loading nova-toolbar">
                    <div class="widget-head nova-widget-head">
                        <div class="tools">
                            <div class="dropdown"><span data-toggle="dropdown" class="icon mdi mdi-more-vert visible-xs-inline-block dropdown-toggle"></span>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a href="{% url 'finanzas:viatico_editar' form.instance.id %}">Cabecera</a></li>
                                    <li><a href="{% url 'finanzas:viatico_lineas' form.instance.id %}">Linea</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="button-toolbar hidden-xs">
                            <div class="btn-group">
                                <a href="{% url 'finanzas:viatico_editar' form.instance.id %}" type="button" class="btn btn-default active">Cabecera</a>
                                <a href="{% url 'finanzas:viatico_lineas' form.instance.id %}" type="button" class="btn btn-default">Lineas</a>
                            </div>
                        </div>
                        <span class="title"><strong>VIA-{{ form.instance.id }}</strong></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 nova-panel-main">
                <form class="panel panel-border panel-contrast" action="" method="POST"> {% csrf_token %}
                    <div class="panel-heading panel-heading-default nova-border-bottom">
                        Informacion de la solicitud:
                    </div>
                    <div class="panel-body form-horizontal">

                        {{ form.non_field_errors }}

                        <div class="form-group">

                            <label class="col-sm-3 control-label"
                                for="{{ form.empleado_clave.id_for_label }}">
                                {{ form.empleado_clave.label }}
                            </label>
                            <div class="col-sm-8 xs-pt-5">
                                {{ form.empleado_clave }}
                            </div>
                            {% for error in form.empleado_clave.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                for="{{ form.unidad_negocio_clave.id_for_label }}">
                                {{ form.unidad_negocio_clave.label }}
                            </label>
                            <div class="col-sm-8 xs-pt-5">
                                {{ form.unidad_negocio_clave }}
                            </div>
                            {% for error in form.unidad_negocio_clave.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>

                        <div class="form-group">

                            <label class="col-sm-3 control-label">
                                Fecha partida/regreso
                            </label>

                            <div class="col-sm-4 xs-pt-5">
                                <div class="input-group date"
                                data-min-view="2"
                                data-date-format="yyyy-mm-dd"
                                id="id_fecha_partida_input">
                                    {{ form.fecha_partida }}
                                    <span class="input-group-addon nova-addon-button">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            {% for error in form.fecha_partida.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}

                            <div class="col-sm-4 xs-pt-5">
                                <div class="input-group date"
                                data-min-view="2"
                                data-date-format="yyyy-mm-dd"
                                id="id_fecha_regreso_input">
                                    {{ form.fecha_regreso }}
                                    <span class="input-group-addon nova-addon-button">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            {% for error in form.fecha_regreso.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}


                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                for="{{ form.ciudad_destino.id_for_label }}">
                                {{ form.ciudad_destino.label }}
                            </label>
                            <div class="col-sm-8 xs-pt-5">
                                {{ form.ciudad_destino }}
                            </div>
                            {% for error in form.ciudad_destino.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                for="{{ form.proposito_viaje.id_for_label }}">
                                {{ form.proposito_viaje.label }}
                            </label>
                            <div class="col-sm-8 xs-pt-5">
                                {{ form.proposito_viaje }}
                            </div>
                            {% for error in form.proposito_viaje.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer nova-modal-footer">
                        <button type="submit" id="boton_buscar" class="btn nova-btn btn-primary btn-lg">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>

            <div class="col-md-4">
                  <div class="panel panel-border panel-contrast">
                      <div class="panel-heading panel-heading-default nova-border-bottom">
                          Datos de Autorizacion
                      </div>
                      <div class="panel-body">

                      </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Ocultos -->
    <div>
        {{ form.empleado_descripcion }}
        {{ form.unidad_negocio_descripcion }}
    </div>

</div>

{% endblock contenido %}

{% block scripts %}

    <!-- Theme -->
    <script src="{% static 'theme/lib/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'theme/lib/moment.js/min/moment.min.js' %}"></script>
    <script src="{% static 'theme/lib/datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'theme/lib/jquery.maskedinput/jquery.maskedinput.min.js' %}"></script>

    <!-- InputMask -->
    <script src="{% static 'libs/plugins/input-mask/jquery.inputmask.js' %}"></script>

    <!-- Nova -->
    <script src="{% static 'viatico/viatico_formulario.js' %}"></script>

{% endblock scripts %}
