{% extends 'master.html' %}

{% block titulo %} Viaticos {% endblock titulo %}

{% block title-page %} Viatico Solicitados {% endblock title-page %}

{% block contenido %}
<div class="be-content">
	<div class="page-head">
		<h2 class="page-head-title">Solicitudes Viatico</h2>
		<ol class="breadcrumb page-head-nav">
			<li><a href="#">Inicio</a></li>
			<li><a href="#">Viaticos</a></li>
			<li class="active">Solicitudes</li>
		</ol>

	</div>
	<div class="main-content container-fluid">  

		<p> Usuario: {{ user }}</p>
		
		{% if viaticos_solicitudes %}

		<div class="table-responsive">          
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Empleado</th>
						<th>Fecha de partida</th>
						<th>Fecha de regreso</th>
						<th>Unidad de negocio</th>
						<th>Ciudad de destino</th>
						<th>Proposito del viaje</th>
						<th>Vehículo</th>
						<th>No. de vehículo</th>
						<th>Empresa</th>
						<th>RFC</th>
						<th>Dirección</th>
					</tr>
				</thead>
				<tbody>
					{% for solicitudes in viaticos_solicitudes %}

					<tr>
						<td>{{ solicitudes.id }}</td>
						<td>{{ solicitudes.empleado }}</td>
						<td>{{ solicitudes.fecha_partida }}</td>
						<td>{{ solicitudes.fecha_regreso }}</td>
						<td>{{ solicitudes.unidad_negocio }}</td>
						<td>{{ solicitudes.ciudad_destino }}</td>
						<td>{{ solicitudes.proposito_viaje }}</td>
						<td>{{ solicitudes.requiere_vehiculo }}</td>
						<td>{{ solicitudes.no_vehiculo }}</td>
						<td>{{ solicitudes.nombre_empresa }}</td>
						<td>{{ solicitudes.rfc }}</td>
						<td>{{ solicitudes.direccion }}</td>
					</tr>

					{% endfor %}
				</tbody>
		  </table>
		  </div>
		{% else %}
			{{ mensaje }}
		{% endif %}
	</div>
</div>
{% endblock contenido %}