{% extends 'master.html' %}

{% load static from staticfiles %}

{% load custom_tags %}

{% block titulo %} Configuración {% endblock titulo %}

{% block title-page %} Configuración Criterios y Requisitos {% endblock title-page %}

{% block css %}

   <!-- bootstrap tree -->
   <link rel="stylesheet" href="{% static 'libs/bootstrap-treeview/1.2.0/css/bootstrap-treeview.css' %}"/>

   <!-- Nova -->
   <link rel="stylesheet" href="{% static 'grid.css' %}"/>

{% endblock css %}

{% block contenido %}

<div class="be-content">

   <div class="page-head nova-page-head">
      <h2 class="page-head-title nova-title">Configuración de Criterios</h2>
      <ol class="breadcrumb page-head-nav pull-right">
         <li><a href="{% url 'home:inicio' %}">Inicio</a></li>
         <li id="menu" data-opcion="calidad_configuracion"><a>Configuración</a></li>
         <li class="active">Criterios</li>
      </ol>
   </div>

   <div class="main-content container-fluid nova-main-content">

      <div class="row wizard-row">
         
         <div class="col-md-12 fuelux">

            <div id="wizard1" class="wizard wizard-ux nova-panel-borde-header">
               <ul class="steps">

                  <li class="active">Catálogo Maestro</li>

               </ul>
               <div class="actions">
                  <a class="btn btn-xs btn-prev btn-default nova-a-tab nova-active-tab">Criterios</a>
                  <a href="{% url 'calidad:configuracion_proceso_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab">Procesos</a>
                  <a href="{% url 'calidad:configuracion_aprobador_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Usuarios</a>
                  <a href="{% url 'calidad:configuracion_sitio_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Sitios</a>
                  <a href="{% url 'calidad:configuracion_metodologia_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Metodologías</a>
                  <a href="{% url 'calidad:configuracion_tipo_falla_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Descripciones</a>
                  <a href="{% url 'calidad:configuracion_formato_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Formatos</a>
               </div>
            </div>
            <div class="panel panel-default">

               <div class="panel-heading nova-panel-borde-contenido nova-panel-tools">
                  <button class="btn nova-btn btn-rounded btn-sm btn-space btn-success pull-right" id="id_boton_importar">
                     <i class="icon icon-left mdi mdi-download nova-white"></i> Importar
                  </button>
                  <a href="#id_tarjeta_filtros" 
                     class="btn nova-btn btn-rounded btn-sm btn-space btn-primary pull-right" data-toggle="modal" id="id_boton_filtro">
                     <i class="icon icon-left mdi mdi-search nova-white"></i> Filtros
                  </a>
                  <a href="#id_tarjeta_criterio"
                     class="btn nova-btn btn-rounded btn-sm btn-space btn-default pull-right" data-toggle="modal" id="id_boton_nuevo_criterio">
                     <i class="icon icon-left mdi mdi-plus-circle nova-black"></i> Criterio
                  </a>
               </div><!-- Panel Heading -->

               <!-- arbol -->
               <div id="id_arbol_criterios_requisitos" class="nova-panel-arbol">
               </div>

            </div> <!-- Panel -->
 
         </div> <!-- col md 12 -->

      </div> <!-- row wizard row -->
      
   </div> <!-- main content -->

   <!-- Tarjeta Criterio -->
   <div id="id_tarjeta_criterio" data-primaryKey="" role="dialog" class="modal fade colored-header colored-header-primary">
      <div class="modal-dialog custom-width">
         <div class="modal-content">
            
            <div class="modal-header nova-modal-header">
               <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
               <h3 class="modal-title">Nuevo Criterio de Auditoria</h3>
            </div>
            <form id="formulario_criterio" method="POST"> {% csrf_token %}

               <div class="modal-body form-horizontal">
                  
                  {% tag_field_popup formularioCriterio.clasificacion 3 8 %}

                  {% tag_field_popup formularioCriterio.criterio 3 8 %}

               </div> <!-- Modal body-->
               <div class="modal-footer nova-modal-footer">
                   <div class="row col-sm-12">
                     <button type="button" data-dismiss="modal" class="btn btn-default pull-left">
                        Cerrar
                     </button>

                     <button type="button" id="id_boton_guardar_criterio" class="btn nova-btn btn-primary btn-lg pull-right">
                        <i class="icon icon-left mdi mdi-floppy nova-white"></i>
                        Guardar
                     </button>
                  </div>
               </div>
            </form>
         </div> <!-- Modal content-->
      </div> <!-- Modal dialog -->
   </div><!-- Modal -->

   <!-- Tarjeta filtros -->
   <div id="id_tarjeta_filtros" role="dialog" class="modal fade colored-header colored-header-primary">
      <div class="modal-dialog custom-width">
         <div class="modal-content">
            
            <div class="modal-header nova-modal-header">
               <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
               <h3 class="modal-title">Filtros</h3>
            </div>
               
            <form id="id_formulario_filtro" class="modal-body form-horizontal">
               
               {% tag_filter formularioFiltro.requisito %}

            </form><!-- Modal body-->
            <div class="modal-footer nova-modal-footer">
               <div class="row col-sm-12">
                  <button type="button" data-dismiss="modal" class="btn btn-default pull-left">
                     Cancelar
                  </button>

                  <button type="button" id="id_boton_limpiar" class="btn btn-default nova-btn">
                     <i class="fa fa-eraser"></i>
                     Limpiar
                  </button>

                  <button type="button" id="id_boton_buscar" class="btn nova-btn btn-primary btn-lg pull-right">
                     <i class="icon icon-left mdi mdi-search nova-white"></i>
                     Buscar
                  </button>
               </div>
            </div>
         </div> <!-- Modal content-->
      </div> <!-- Modal dialog -->
   </div><!-- Modal -->

   <!-- tarjeta requisito -->
   <div id="id_tarjeta_requisito" data-primaryKey="" data-primarykeyParent="" role="dialog" class="modal fade colored-header colored-header-primary">
      <div class="modal-dialog custom-width">
         <div class="modal-content">
            
            <div class="modal-header nova-modal-header">
               <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
               <h3 class="modal-title">Nuevo Requisito</h3>
            </div>
               
            <form id="id_formulario_requisito" class="modal-body form-horizontal">

               {% tag_field_popup formularioRequisito.requisito 3 8 %}

            </form><!-- Modal body-->
            <div class="modal-footer nova-modal-footer">
                <div class="row col-sm-12">
                  <button type="button" data-dismiss="modal" class="btn btn-default pull-left">
                     Cerrar
                  </button>

                  <button type="button" id="id_boton_guardar_requisito" class="btn nova-btn btn-primary btn-lg pull-right">
                     <i class="icon icon-left mdi mdi-floppy nova-white"></i>
                     Guardar
                  </button>
               </div>
            </div>
         </div> <!-- Modal content-->
      </div> <!-- Modal dialog -->
   </div><!-- Modal -->

</div> <!-- be content -->
   

{% endblock contenido %}

{% block scripts %}

   <!-- bootstrap tree -->
   <script src="{% static 'libs/bootstrap-treeview/1.2.0/js/bootstrap-treeview.js' %}" ></script>

   <!-- JS Template -->
   <script src="{% static 'criterio/configuracion_lista.js' %}"></script>      

{% endblock scripts %}
