{% extends 'master.html' %}
{% load static from staticfiles %}
{% load custom_tags %}
{% block titulo %} Usuarios {% endblock titulo %}
{% block title-page %} Nuevo usuario {% endblock title-page %}
{% block css %}
	<!-- Kendo -->
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.rtl.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.common-bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.bootstrap.min.css' %}"/>
	<!-- Theme -->
	<link rel="stylesheet" href="{% static 'theme/lib/datetimepicker/css/bootstrap-datetimepicker.min.css' %}"/>

	<!-- Nova -->
	<link rel="stylesheet" href="{% static 'grid.css' %}"/>
{% endblock css %}
{% block contenido %}
<div class="be-content">
	{% if request.user.is_staff == True %}
		<div class="page-head nova-page-head">
			<h2 class="page-head-title nova-title">Cambiar contraseña</h2>
			<ol class="breadcrumb page-head-nav pull-right">
				<li><a href="{% url 'home:inicio' %}">Inicio</a></li>
				<li><a href="{% url 'seguridad:usuario_lista' %}">Usuarios</a></li>
				<li><a href="{% url 'seguridad:usuario_editar' usuario.id %}">Editar usuario</a></li>
				<li>Cambiar contraseña</li>
			</ol>
		</div><!-- End Page head -->
		<div class="main-content container-fluid nova-main-content">
	        <div class="row">
	            <div class="col-md-12">
	                <form class="panel panel-border panel-contrast" action="" method="POST"> {% csrf_token %}
	                    <div class="panel-heading panel-heading-default nova-border-bottom">
	                        Usuario <b>{{ usuario.username }}</b>
	                    </div>
	                    <div class="panel-body form-horizontal">
							
	                        {% if form.non_field_errors %}

	                            {% for error in form.non_field_errors %}
	                                {% tag_mensaje 'error' error %}
	                            {% endfor %}

	                        {% endif %}
							

	                        <!-- Password -->
	                        {% tag_field_registro form.password1 3 5 %}

	                        <!-- Confirmar Password -->
	                        {% tag_field_registro form.password2 3 5 %}

	                    </div>
	                    <div class="modal-footer nova-modal-footer">
	                        <a href="{% url 'seguridad:usuario_editar' usuario.id %}" class="btn btn-default">
	                            <i class="icon mdi mdi-close"></i>
	                            Cancelar
	                        </a>
	                         <button type="submit" id="id_boton_guardar" class="btn nova-btn btn-primary btn-lg pull-right">
	                            Guardar cambios
	                        </button>
	                    </div>
	                </form>
	            </div>
	        </div>
	    </div>
	{% else%}
		<div class="col-md-12">
			<h2> Usted no tiene acceso a esta sección </h2>
		</div>
	{% endif %}
</div><!-- End Be content-->
{% endblock contenido %}
{% block scripts %}
	<!-- Kendo Js -->
	<script src="{% static 'libs/kendo/2015.2.624/js/cultures/kendo.culture.es-MX.min.js' %}"></script>
	<script src="{% static 'libs/kendo/2015.2.624/js/kendo.web.min.js' %}"></script>
	<!-- Theme -->
	<script src="{% static 'theme/lib/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static 'theme/lib/moment.js/min/moment.min.js' %}"></script>
	<!-- NOVA -->
{% endblock scripts %}