{% extends 'master.html' %}
{% load static from staticfiles %}
{% load custom_tags %}
{% block titulo %} Perfil {% endblock titulo %}
{% block title-page %} Perfil de usuario {% endblock title-page %}
{% block css %}
{% endblock css %}
{% block contenido %}
<div class="be-content">
	<div class="page-head nova-page-head">
		<h2 class="page-head-title nova-title">Cambiar contraseña</h2>
		<ol class="breadcrumb page-head-nav pull-right">
			<li><a href="{% url 'home:inicio' %}">Inicio</a></li>
			<li><a href="{% url 'seguridad:usuario_perfil' request.user.id %}">Perfil de usuario</a></li>
			<li>Cambiar contraseña</li>
		</ol>
	</div><!-- End Pahe head -->
	<div class="main-content container-fluid nova-main-content">
        <div class="row">
            <div class="col-md-12">
                <form class="panel panel-border panel-contrast" action="" method="POST"> {% csrf_token %}
                    <div class="panel-heading panel-heading-default nova-border-bottom">
                        Usuario <b>{{ user.username }}</b>
                    </div>
                    <div class="panel-body form-horizontal">
						
                        {% if form2.non_field_errors %}
                            {% for error in form2.non_field_errors %}
                                {% tag_mensaje 'error' error %}
                            {% endfor %}
                        {% endif %}

                        <!-- Actual Password -->
                        {% tag_field_message form.contrasena_actual 3 5 messages %}
						
						<!--Nuevo Password-->
						{% tag_field_registro form2.password1 3 5 %}

                        <!-- Confirmar Password -->
                        {% tag_field_registro form2.password2 3 5 %}
	
                    </div>
                    <div class="modal-footer nova-modal-footer">
                        <a href="{% url 'seguridad:usuario_perfil' user.id %}" class="btn btn-default">
                            <i class="icon mdi mdi-arrow-left"></i> Regresar
                        </a>
                         <button type="submit" id="id_boton_guardar" class="btn nova-btn btn-primary btn-lg pull-right">
                            Cambiar contraseña
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock contenido %}
{% block scripts %}
	
	<!-- Theme -->
	<script src="{% static 'theme/lib/jquery-ui/jquery-ui.min.js' %}"></script>
	<!-- NOVA -->
	 <script src="{% static 'tools.js' %}"></script>
{% endblock scripts %}