{% extends 'master.html' %}
{% load static from staticfiles %}
{% load custom_tags %}
{% block titulo %} Usuarios {% endblock titulo %}
{% block title-page %} Grupos del usuario {% endblock title-page %}

{% block css %}

    <!-- Loudev -->
    <link rel="stylesheet" type="text/css" href="{% static 'libs/lou-multi-select/0.9.10/css/multi-select.css' %}"/>

    <!-- Own's Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'usuarios/usuario_grupos.css' %}"/>

{% endblock css %}

{% block contenido %}

<div class="be-content">
	<div class="page-head nova-page-head">
		<h2 class="page-head-title nova-title">Grupos del usuario</h2>
		<ol class="breadcrumb page-head-nav pull-right">
			<li><a href="{% url 'home:inicio' %}">Inicio</a></li>
			<li><a href="{% url 'seguridad:usuario_lista' %}">Usuarios</a></li>
            <li><a href="{% url 'seguridad:usuario_editar' form.instance.pk %}">Edicion</a></li>
			<li>Grupos</li>
		</ol>
	</div>

	<div class="main-content container-fluid nova-main-content">
        <div class="row">
            <div class="col-md-12">
                <form class="panel panel-border panel-contrast" action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="panel-heading panel-heading-default nova-border-bottom">
                        Usuario: <b>{{ form.instance.username }}</b>
                    </div>
                    <div class="panel-body form-horizontal">

                        {% if form.non_field_errors %}

                            {% for error in form.non_field_errors %}
                                {% tag_mensaje 'error' error %}
                            {% endfor %}

                        {% endif %}

						{% include 'tags/message.html' %}

                        {{ form.groups }}

                    </div>
                    <div class="modal-footer nova-modal-footer">
                         <button type="submit" id="id_boton_guardar" class="btn nova-btn nova-btn-orange btn-lg">
                            Guardar cambios
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- End Be content -->
{% endblock contenido %}
{% block scripts %}

	<!-- Theme -->
	<script src="{% static 'theme/lib/jquery-ui/jquery-ui.min.js' %}"></script>

    <!-- Loudev -->
    <script type="text/javascript" src="{% static 'libs/lou-multi-select/0.9.10/js/jquery.multi-select.js' %}"></script>

    <!-- Own's Scripts -->
    <script type="text/javascript" src="{% static 'usuarios/usuario_grupos.js' %}"></script>

{% endblock scripts %}
