{% extends 'master.html' %}
{% load static from staticfiles %}
{% load custom_tags %}
{% block titulo %} Capital humano {% endblock titulo %}
{% block title-page %} Mi nómina  {% endblock title-page %}
{% block css %}
    <!-- Kendo -->
    <link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.rtl.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.common-bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.bootstrap.min.css' %}"/>

    <!-- Nova -->
    <link rel="stylesheet" href="{% static 'grid.css' %}"/>

{% endblock css %}
{% block contenido %}

<div class="be-content">
    <div class="page-head nova-page-head">
        <h2 class="page-head-title nova-title">Mis Recibos de Nómina</h2>
        <ol class="breadcrumb page-head-nav pull-right">
         <li> <a href="{% url 'home:inicio'%}">Inicio</a></li>
         <li id="menu" data-opcion="serviciosempleado_nomina">Mis Recibos de Nómina</li>
        </ol>
    </div>
    <div class="main-content container-fluid nova-main-content">
        <div class="fuelux">
        {% if request.user.profile.clave_rh != None%}
            <div class="panel panel-default panel-table">
                    <div class="panel-heading nova-panel-borde-contenido nova-panel-tools">        
                        <div class="title hidden-xs">Recibos de nómina</div> 
                    </div>
                    <input type="hide" class="hide" value="{{ rfc }}" id="rfc" readonly="True">
                    <div id="grid_resultados" class="nova-div-overflow">
                    </div>
            </div> <!-- Panel -->
        {% else %}
            <div class="col-sm-12 widget">
                <h3> Su usuario no tiene asignado un empleado.</h3>
            </div>
        {% endif%}
        </div> <!-- col sm 12-->
    </div>
</div>  

{% endblock contenido %}
{% block scripts %}
    <!-- Kendo Js -->
    <script src="{% static 'libs/kendo/2015.2.624/js/cultures/kendo.culture.es-MX.min.js' %}"></script>
    <script src="{% static 'libs/kendo/2015.2.624/js/kendo.web.min.js' %}"></script>

    <!-- Theme -->
    <script src="{% static 'theme/lib/jquery-ui/jquery-ui.min.js' %}"></script>

    <!-- NOVA-->
    <script src="{% static 'mi_nomina.js' %}"></script>
{% endblock scripts %}