{% extends 'master.html' %}
{% load static from staticfiles %}
{% block titulo %} Servicios empleado {% endblock titulo %}
{% block title-page %} Mi Expediente  {% endblock title-page %}
{% block css %}
	<!-- Kendo -->
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.rtl.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.common-bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.bootstrap.min.css' %}"/>

	<!-- Nova -->
    <link rel="stylesheet" href="{% static 'grid.css' %}"/>

{% endblock css %}
{% block contenido %}
<div class="be-content">
	<div class="page-head nova-page-head">
		<h2 class="page-head-title nova-title">Mi Expediente</h2>
		<ol class="breadcrumb page-head-nav pull-right">
		 <li> <a href="{% url 'home:inicio'%}">Inicio</a></li>
		 <li class="active" id="menu" data-opcion="serviciosempleado_miexpediente">Mi Expediente</li>
		</ol>
	</div>
	<div class="main-content container-fluid nova-main-content">
		<div class="user-profile">
		{% if request.user.profile.clave_rh != None%}
			<div class="row">
				{% for dato in empleado %}
				<input type="hide" class="hide" value="{{ dato.pers_empleado_numero }}" id="numero_empleado">
				<div class="col-md-12">
					<!-- Encabezado perfil -->
					<div class="user-display panel-border">
						<div class="user-display-bottom">
							<div class="user-display-avatar"><img src="{{ ruta }}" alt="Avatar">
							</div>
							<a href="#modal_actualizar" class="btn nova-btn btn-rounded btn-space btn-primary pull-right" data-toggle="modal" id="boton_filtros">
					                <i class="icon icon-left mdi mdi-edit nova-white"></i> Solicitar
					        </a>
							<div class="user-display-info">
								<div class="name">{{ dato.pers_nombre_completo }}</div>
								<div class="nick"><span class="mdi mdi-account"></span> {{ request.user }}</div>
							</div>
							<div class="row user-display-details">
								<div class="col-xs-4">
									<div class="title">No Empleado</div>
									<div class="counter">{{ dato.pers_empleado_numero }}</div>
								</div>
								<div class="col-xs-4">
									<div class="title">Fecha Ingreso</div>
									<div class="counter">{{ dato.pers_fecha_contratacion|cut:"00:00:00" }}</div>
								</div>
								<div class="col-xs-4">
									<div class="title">Centro costos</div>
									<div class="counter">{{ dato.grup_fase_jde }}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Informacion perfil -->
				<div class="col-md-6 nova-fix-padding-right">
					<div class="user-info-list panel panel-default panel-border">
						<div class="panel-heading nova-panel-heading-divider">Información personal</div>
						<div class="panel-body">
							<table class="no-border no-strip skills">
								<tbody class="no-border-x no-border-y">
									<tr>
										<td class="icon nova-icon-gray"><span class="mdi mdi-face"></span></td>
										<td class="item">Genero</td>
										<td>{{ dato.pers_genero_desc|upper }}</td>
									</tr>
									<tr>
										<td class="icon nova-icon-gray"><span class="mdi mdi-collection-text"></span></td>
										<td class="item">CURP</td>
										<td>{{ dato.pers_curp }}</td>
									</tr>
									<tr>
										<td class="icon nova-icon-gray"><span class="mdi mdi-male-female"></span></td>
										<td class="item">Estado civil</td>
										<td>{{ dato.pers_estado_civil_desc }}</td>
									</tr>
									<tr>
										<td class="icon nova-icon-gray"><span class="mdi mdi-cake"></span></td>
										<td class="item">Fecha de Nacimiento</td>
										<td>{{ request.user.profile.fecha_nacimiento|cut:"00:00:00"}}</td>
									</tr>
									<tr>
										<td class="icon nova-icon-gray"><span class="mdi mdi-globe-alt"></span></td>
										<td class="item">Lugar de nacimiento</td>
										<td>{{ dato.pers_ciudad_nacimiento }}, {{ dato.pers_estado_nacimiento }}</td>
									</tr>
									<tr>
										<td class="icon nova-icon-gray"><span class="icon mdi mdi-globe"></span></td>
										<td class="item">Pais de nacimiento</td>
										<td>{{ dato.pers_pais_nacimiento_clave }}</td>
									</tr>
									<tr>
										<td class="icon nova-icon-gray"><span class="mdi mdi-email"></span></td>
										<td class="item">Correo</td>
										<td>{{ dato.pers_email }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="col-md-6 nova-fix-padding-left">
					<div class="user-info-list panel panel-default panel-border">
						<div class="panel-heading nova-panel-heading-divider">Información del trabajo</div>
						<div class="panel-body">
							<table class="no-border no-strip skills">
								<tbody class="no-border-x no-border-y">
									<tr>
										<td class="icon nova-icon-gray"><span class="mdi mdi-home "></span></td>
										<td class="item">Organizacion</td>
										<td>{{ dato.asig_organizacion_desc }}</td>
									</tr>
									<tr>
										<td class="icon nova-icon-gray"><span class="mdi mdi-case"></span></td>
										<td class="item">Puesto</td>
										<td>{{ dato.asig_puesto_desc }}</td>
									</tr>

									<tr>
										<td class="icon nova-icon-gray"><span class="mdi mdi-pin"></span></td>
										<td class="item">Ubicacion</td>
										<td>{{ dato.asig_ubicacion_desc }}</td>
									</tr>
									<tr>
										<td class="icon nova-icon-gray"><span class="mdi mdi-male-alt"></span></td>
										<td class="item">Jefe directo</td>
										<td>{{ dato.asig_jefe_directo_desc }}</td>
									</tr>
									<tr>
										<td class="icon nova-icon-gray"><span class="mdi mdi-collection-text"></span></td>
										<td class="item">Categoria</td>
										<td>{{ dato.asig_grado_desc }} {{ dato.asig_trabajo_desc }}</td>
									</tr>
									<tr>
										<td class="icon nova-icon-gray"><span class="mdi mdi-collection-text"></span></td>
										<td class="item">RFC</td>
										<td>{{ dato.pers_rfc }}</td>
									</tr>
									<tr>
										<td class="icon nova-icon-gray"><span class="mdi mdi-collection-text"></span></td>
										<td class="item">IMSS</td>
										<td>{{ dato.pers_numero_imss }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>

			<!-- Panel con tabs -->
			<div class="fuelux">
	            <div id="wizard1" class="wizard wizard-ux nova-panel-borde-header nova-overflow-visible nova-panel-no-border-bottom">
	               	<div class="nova-wizard-header">
			            <span class="nova-wizard-title">Documentos</span>
			            <div class="nova-wizard-tools visible-xs-inline-block dropdown"><span data-toggle="dropdown" class="icon mdi mdi-more-vert dropdown-toggle" aria-expanded="false"></span>
			                <ul role="menu" class="dropdown-menu">
			                   <li class="active" id="per">
			                     	<a>Documentos personales</a>
			                   </li>
			                   <li id="cap">
			                     	<a>Capacitacion</a>
			                   </li>
			                </ul>
			            </div>
			        </div>
	               	<div class="actions hidden-xs">
		                  <a class="btn btn-xs btn-prev btn-default nova-a-tab nova-active-tab" id="personales" >Documentos personales</a>
		                  <a class="btn btn-xs btn-next btn-default nova-a-tab" id="capacitaciones">Capacitacion</a>
		                  <!--<a class="btn btn-xs btn-next btn-default nova-a-tab nova-a-tab-border nova-tab">Incidencias</a>
		                  <a href="" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Desempeño</a>-->
	               	</div>
	            </div>

               <div id="grid_resultados" class="nova-div-overflow">
               </div>
	        </div> <!-- col sm 12-->

	        {% else %}
		        	<div class="col-sm-12 widget nova-contenido-borde nova-panel-mensaje">
						<h3> Su usuario no tiene asignado un empleado.</h3>
					</div>
			{% endif%}
		</div>
	</div>
</div>
<!-- Modal ver archivos-->
<div id="modal_ver_informacion" role="dialog" class="modal fade colored-header colored-header-primary">
    <div class="modal-dialog custom-width nova-modal-responsive">
        <div class="modal-content nova-modal-content-responsive">

            <div class="modal-header nova-modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
                <h3 class="modal-title">Archivos adjuntos</h3>
            </div>

				<div class="modal-body form-horizontal" id="contenido">


				</div>

                <!-- Botones de acción -->
                <div class="modal-footer nova-modal-footer">
                     <div class="row col-sm-12">
						<button type="button" class="btn btn-primary pull-right" id="id_boton_salir" >Salir</button>
                    </div>
                </div>
        </div> <!-- Modal content-->
    </div> <!-- Modal dialog -->
</div><!-- Modal -->
<!-- Modal ver archivos-->
<!-- Modal actualizar-->
<div id="modal_actualizar" role="dialog" class="modal fade colored-header colored-header-primary">
    <div class="modal-dialog custom-width nova-modal-responsive">
        <div class="modal-content nova-modal-content-responsive">
            <div class="modal-header nova-modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
                <h3 class="modal-title">Solicitud</h3>
            </div>

            <form action="" method="POST" enctype="multipart/form-data" id="formulario"> {% csrf_token %}

            <div class="modal-body form-horizontal">
				<!-- Informacion -->
				<div class="nova-modal-contenido">
	                Si desea agregar archivos a su expediente personal u algún dato/archivo es erróneo o necesita actualizarse, indique a continuación el asunto de la solicitud, descripción de la operación a realizarse y adjunte un archivo que corrobore la información proporcionada.
                </div>
                <input type="hide" class="hide" value="107" id="departamento">
					<!-- Asunto -->
	                <div class="form-group xs-mt-10">
		                <div class="col-sm-12 nova-modal-contenido">
		                    {{ form.asunto }}
		                </div>
	                </div>
	                <!-- Descripcion -->
	                <div class="form-group xs-mt-10">
		                <div class="col-sm-12 nova-modal-contenido">
		                    {{ form.descripcion }}
		                </div>
	                </div>
	                <!-- Archivo -->
	                <div class="form-group xs-mt-10">
		                <div class="col-sm-12 nova-modal-contenido">
		                    {{ form.archivo }}
		                </div>
	                </div>
                <input type="hide" class="hide" value="{{ request.user.profile.pk }}" id="id_created_by">
            </div>
            </form>

            <!-- Botones de acción -->
            <div class="modal-footer nova-modal-footer">
                <div class="row col-sm-12">
                    <button type="button" id="boton_limpiar" class="btn btn-default pull-left">
                            <i class="fa fa-eraser"></i>
                            Limpiar
                    </button>
                    <button type="submit" id="boton_enviar" class="btn btn-primary pull-right" method='POST'>
                            <i class="icon icon-left mdi mdi-mail-send nova-white"></i>
                            Enviar
                    </button>
                </div>
            </div>
        </div> <!-- Modal content-->
    </div> <!-- Modal dialog -->
</div><!-- Modal actualizar-->
{% endblock contenido %}
{% block scripts %}
	<!-- Kendo Js -->
	<script src="{% static 'libs/kendo/2015.2.624/js/cultures/kendo.culture.es-MX.min.js' %}"></script>
	<script src="{% static 'libs/kendo/2015.2.624/js/kendo.web.min.js' %}"></script>
	<!-- Theme InputMask -->
	<script src="{% static 'theme/lib/jquery.maskedinput/jquery.maskedinput.min.js' %}"></script>
   <!-- InputMask -->
   <script src="{% static 'libs/plugins/input-mask/jquery.inputmask.js' %}"></script>
	<!-- Theme -->
	<script src="{% static 'theme/lib/jquery-ui/jquery-ui.min.js' %}"></script>
	<!-- NOVA-->
   	<script src="{% static 'mi_perfil.js' %}"></script>
{% endblock scripts %}
