
<!-- <div class='input-group date' id='datetimepicker1'>
    <input type='text' class="form-control" value="awebo puto" />
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>

 -->

<!-- <div class="col-md-3 col-xs-7">
    <div
        data-date="1979-09-16T05:25:07Z"
        data-date-format="yyyy-mm-dd - HH:ii"
        data-link-field="dtp_input1"
        class="input-group date datetimepicker">
        <input size="16" type="text" value="" readonly="" class="form-control">
        <span class="input-group-addon btn btn-primary">
            <i class="icon-th mdi mdi-calendar"></i>
        </span>
    </div>
</div> 


-->


<div class="col-sm-3 xs-pt-5">
    <div class="input-group date" 
    data-min-view="2" 
    data-date-format="yyyy-mm-dd" 
    id={{clave}}>
        <input type="text" class="form-control input-xs" id={{clave_fecha}} value="{{valor}}">
        <span class="input-group-addon nova-addon-button">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    {% for error in form.unidad_negocio_clave.errors %}
        <span class="help-block">{{ error }}</span>
    {% endfor %}                                                                                
    
</div>