{% extends 'master.html' %}

{% load static from staticfiles %}

{% load custom_tags %}

{% block titulo %} Configuración {% endblock titulo %}

{% block title-page %} Configuración de Sitios {% endblock title-page %}

{% block css %}

   <!-- Kendo -->
   <link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.rtl.min.css' %}"/>
   <link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.common-bootstrap.min.css' %}"/>
   <link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.bootstrap.min.css' %}"/>

   <!-- Nova -->
   <link rel="stylesheet" href="{% static 'grid.css' %}"/>

{% endblock css %}

{% block contenido %}

<div class="be-content">

   <div class="page-head nova-page-head">
      <h2 class="page-head-title nova-title">Configuración de Sitios</h2>
      <ol class="breadcrumb page-head-nav pull-right">
         <li><a href="{% url 'home:inicio' %}">Inicio</a></li>
         <li id="menu" data-opcion="calidad_configuracion"><a>Configuración</a></li>
         <li class="active">Sitios</li>
      </ol>
   </div>
   
   <div class="main-content container-fluid nova-main-content">

      <div class="row wizard-row">
         
         <div class="col-md-12 fuelux">
            
               <div id="wizard1" class="wizard wizard-ux nova-panel-borde-header">
                  <ul class="steps">

                     <li class="active">Catálogo Maestro</li>

                  </ul>
                  <div class="actions">
                     <a href="{% url 'calidad:configuracion_criterio_lista' %}" class="btn btn-xs btn-prev btn-default nova-a-tab">Criterios</a>
                     <a href="{% url 'calidad:configuracion_proceso_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab">Procesos</a>
                     <a href="{% url 'calidad:configuracion_rol_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Roles</a>
                     <a class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab nova-active-tab">Sitios</a>
                     <a href="{% url 'calidad:configuracion_metodologia_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Metodologías</a>
                     <a href="{% url 'calidad:configuracion_tipo_falla_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Descripciones</a>
                     <a href="{% url 'calidad:configuracion_formato_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Formatos</a>
                  </div>
               </div>
               <div class="panel panel-default panel-table">

                  <div class="panel-heading nova-panel-borde-contenido nova-panel-tools">
                     <a class="btn nova-btn btn-rounded btn-sm btn-space btn-default pull-right" id="id_boton_nuevo">
                        <i class="icon icon-left mdi mdi-plus-circle nova-black"></i> Sitio
                     </a>
                  </div><!-- Panel Heading -->

                  <div id="grid_resultados">
                     
                  </div>

               </div> <!-- Panel -->

         </div> <!-- col md 12 -->
      </div> <!-- row wizard row -->
      
   </div> <!-- main content -->

   <!-- Targeta sitio -->
   <div id="id_tarjeta_sitio" role="dialog" class="modal fade colored-header colored-header-primary" >
      <div class="modal-dialog custom-width">
         <div class="modal-content">
            
            <div class="modal-header nova-modal-header">
               <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
               <h3 class="modal-title">Nuevo Sitio</h3>
            </div>
               
            <form id="id_formulario_sitio" class="modal-body form-horizontal">
               
               <!-- sitio -->
               {% tag_field_popup form.sitio 3 8 %}  

            </form><!-- Modal body-->
            <div class="modal-footer nova-modal-footer">
                <div class="row col-sm-12">
                  <button type="button" data-dismiss="modal" class="btn btn-default pull-left">
                     Cerrar
                  </button>

                  <button type="button" id="id_boton_guardar_sitio" class="btn nova-btn btn-primary btn-lg pull-right">
                     <i class="icon icon-left mdi mdi-floppy nova-white"></i>
                     Guardar
                  </button>
               </div>
            </div>
         </div> <!-- Modal content-->
      </div> <!-- Modal dialog -->
   </div><!-- Modal -->
</div> <!-- be content -->

{% endblock contenido %}

{% block scripts %}

   <!-- Kendo Js -->
   <script src="{% static 'libs/kendo/2015.2.624/js/cultures/kendo.culture.es-MX.min.js' %}"></script>
   <script src="{% static 'libs/kendo/2015.2.624/js/kendo.web.min.js' %}"></script>

   <!-- JS Template -->
   <script src="{% static 'sitio/configuracion_lista.js' %}"></script>      

{% endblock scripts %}
