{% extends 'master.html' %}

{% load static from staticfiles %}

{% load custom_tags %}

{% block titulo %} Autorizaciones {% endblock titulo %}

{% block title-page %} Autorizaciones {% endblock title-page %}

{% block css %}

    <!-- DatePicker -->
    <link rel="stylesheet" href="{% static 'libs/bootstrap-datepicker/2.0/dist/css/bootstrap-datepicker.min.css' %}"/>

{% endblock css %}

{% block contenido %}

<div class="be-content">

    <div class="page-head nova-page-head">
		<h2 class="page-head-title nova-title">Autorizaciones</h2>
		<ol class="breadcrumb page-head-nav pull-right">
			<li><a href="{% url 'home:inicio' %}">Inicio</a></li>
			<li id="menu" data-opcion="viaticos_lista" class="active">Autorizaciones</li>
		</ol>
	</div>

    <!-- Targeta Resultados -->
    <div class="main-content container-fluid nova-main-content">
        <div class="row">
            <div class="col-xs-12 nova-col">
                    <div class="panel panel-default panel-table nova-panel-table">
                        <div class="panel-heading panel-border nova-panel-heading">
                            <div class="widget-head nova-widget-head">
                                <div class="button-toolbar">
                                    <a href="{% url 'finanzas:viatico_nuevo' %}"
                                        class="btn nova-btn btn-rounded btn-space btn-default" id="boton_nuevo">
                                        <i class="icon icon-left mdi mdi-plus-circle nova-black"></i> Nuevo
                                    </a>

                                    <a href="#tarjeta_filtros"
                                        class="btn nova-btn btn-rounded btn-space btn-primary" data-toggle="modal" id="boton_filtros">
                                        <i class="icon icon-left mdi mdi-search nova-white"></i> Filtros
                                    </a>

                                    <button class="btn nova-btn btn-rounded btn-space btn-success" id="boton_excel" disabled>
                                        <i class="icon icon-left mdi mdi-download nova-white"></i> Exportar
                                    </button>
                                </div>
                                <span class="title hidden-xs">Documentos</span>
                            </div>
                        </div>

                        <div id="grid_resultados">
                        </div>
                  </div>
            </div>
        </div>
	</div>
</div>

{% endblock contenido %}

{% block scripts %}

    <!-- Theme -->
    <script src="{% static 'theme/lib/jquery-ui/jquery-ui.min.js' %}"></script>

    <!-- DatePicker -->
    <script src="{% static 'libs/bootstrap-datepicker/2.0/dist/js/bootstrap-datepicker.min.js' %}"></script>

{% endblock scripts %}
