{% extends 'expedientes_general.html' %}
{% load static from staticfiles %}
{% load custom_tags %}
{% block titulo %} Capital humano {% endblock titulo %}
{% block title-page %} Expedientes  {% endblock title-page %}
{% block tab_expedientes %}
    <!-- Panel con tabs -->
    <div class="fuelux">
        <div id="wizard1" class="wizard wizard-ux nova-panel-borde-header nova-overflow-visible">
            <div class="nova-wizard-header">
                <span class="nova-wizard-title">Documentos personales</span>
                <div class="nova-wizard-tools visible-xs-inline-block dropdown"><span data-toggle="dropdown" class="icon mdi mdi-more-vert dropdown-toggle" aria-expanded="false"></span>
                    <ul role="menu" class="dropdown-menu">
                       <li>
                         <a id="general" href="{% url 'capitalhumano:empleado_expedientes_general' %}"> Empleados</a>
                       </li>
                       <li>
                         <a id="general" href="{% url 'capitalhumano:empleado_expedientes_grado' %}"> Grados academicos</a>
                       </li>
                       <li class="active">
                         <a id="personales" href="{% url 'capitalhumano:empleado_expedientes_docpersonal' %}">Documentos personales</a>
                       </li>
                       <li>
                           <a id="capacitaciones" href="{% url 'capitalhumano:empleado_expedientes_doccapacitacion' %}">Capacitacion</a>
                       </li>
                    </ul>
                </div>
            </div>
             <div class="actions hidden-xs">
                <a class="btn btn-xs btn-prev btn-default nova-a-tab" id="general" href="{% url 'capitalhumano:empleado_expedientes_general' %}"> Empleados</a>
                <a class="btn btn-xs btn-prev btn-default nova-a-tab" id="general" href="{% url 'capitalhumano:empleado_expedientes_grado' %}"> Grados academicos</a>
                <a class="btn btn-xs btn-next btn-default nova-a-tab nova-a-tab-border nova-active-tab" id="personales"href="{% url 'capitalhumano:empleado_expedientes_docpersonal' %}">Documentos personales</a>
                <a class="btn btn-xs btn-next btn-default nova-a-tab nova-a-tab-border" id="capacitaciones"href="{% url 'capitalhumano:empleado_expedientes_doccapacitacion' %}">Capacitacion</a>
             </div>
        </div>
        <div class="panel panel-default panel-table">
                <div class="panel-heading nova-panel-borde-contenido nova-panel-tools">
                    <button class="btn nova-btn btn-rounded btn-space btn-success pull-right" id="id_exportar">
                        <i class="icon icon-left mdi mdi-download nova-white"></i>Exportar
                    </button>
                    <a href="#modal_filtro" class="btn nova-btn btn-rounded btn-space btn-primary pull-right" data-toggle="modal" id="boton_filtros">
                            <i class="icon icon-left mdi mdi-search nova-white"></i>Filtros
                    </a>
                </div>
                <div id="grid_resultados" class="nova-div-overflow">
                </div>
        </div> <!-- Panel -->
</div> <!-- col sm 12-->

<!-- Modal personal-->
<div id="modal_filtro" role="dialog" class="modal fade colored-header colored-header-primary">
        <div class="modal-dialog custom-width">
                <div class="modal-content">
                        <div class="modal-header nova-modal-header">
                            <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
                            <h3 class="modal-title">Filtros</h3>
                        </div>
                        <div class="modal-body form-horizontal">
                            <!-- Numero empleado -->
                            {% tag_field_popup_apuntador form.numero_empleado '(EBS)' %}
                            
                            <!-- Agrupador -->
                            {% tag_field_popup_apuntador form.agrupador '' %}

                            <!-- Tipo documento -->
                            {% tag_field_popup_apuntador form.tipo_documento '' %}

                            <!-- Organizacion -->
                            {% tag_field_popup_apuntador form.asig_organizacion_clave '(EBS)' %}

                            <!-- Estatus -->
                            {% tag_field_popup_apuntador form.estatus '' %}
                          
                        </div>
                                                
                        <!-- Botones de acción -->
                        <div class="modal-footer nova-modal-footer">
                                <div class="row col-sm-12">
                                        <button type="button" id="boton_limpiar" class="btn btn-default pull-left">
                                                <i class="fa fa-eraser"></i>
                                                Limpiar
                                        </button>

                                        <button type="submit" id="boton_buscar" class="btn nova-btn btn-primary btn-lg pull-right" method='POST'>
                                                <i class="icon icon-left mdi mdi-search nova-white"></i>
                                                Buscar
                                        </button>
                                </div>
                        </div>
                </div> <!-- Modal content-->
        </div> <!-- Modal dialog -->
</div><!-- Modal personal-->

<!-- Modal ver archivos-->
<div id="modal_ver_informacion" role="dialog" class="modal fade colored-header colored-header-primary">
    <div class="modal-dialog custom-width">
        <div class="modal-content">
            
            <div class="modal-header nova-modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
                <h3 class="modal-title">Archivos adjuntos</h3>
            </div>

                <div class="modal-body form-horizontal" id="contenido">


                </div>
                
                <!-- Botones de acción -->
                <div class="modal-footer nova-modal-footer">
                     <div class="row col-sm-12">
                        <button type="button" class="btn btn-primary pull-right" id="id_boton_salir" >Salir</button>
                    </div>
                </div>
        </div> <!-- Modal content-->
    </div> <!-- Modal dialog -->
</div><!-- Modal -->
<!-- Modal ver archivos-->
{% endblock tab_expedientes %}
{% block scripts %}
    <!--JSZIP -->
    <script src="{% static 'libs/kendo/2015.2.624/js/jszip.min.js' %}"></script>
    <!-- Kendo Js -->
    <script src="{% static 'libs/kendo/2015.2.624/js/cultures/kendo.culture.es-MX.min.js' %}"></script>
    <script src="{% static 'libs/kendo/2015.2.624/js/kendo.web.min.js' %}"></script>

    <!-- Theme -->
    <script src="{% static 'theme/lib/jquery-ui/jquery-ui.min.js' %}"></script>

    <!-- NOVA-->
     <script src="{% static 'documento_personal/expedientes_docpersonal.js' %}"></script>
{% endblock scripts %}