{% extends 'master.html' %}

{% load static from staticfiles %}

{% block titulo %} Configuración {% endblock titulo %}

{% block title-page %} Configuración Roles {% endblock title-page %}

{% block css %}
   <!-- Beagle Theme -->
   <link rel="stylesheet" href="{% static 'theme/lib/daterangepicker/css/daterangepicker.css' %}"/>
   <link rel="stylesheet" href="{% static 'theme/lib/bootstrap-multiselect/css/bootstrap-multiselect.css' %}"/>
   <link rel="stylesheet" href="{% static 'theme/lib/multiselect/css/multi-select.css' %}"/>

   <!-- Kendo -->
   <link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.rtl.min.css' %}"/>
   <link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.common-bootstrap.min.css' %}"/>
   <link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.bootstrap.min.css' %}"/>

   <!-- Nova -->
   <link rel="stylesheet" href="{% static 'grid.css' %}"/>

{% endblock css %}

{% block contenido %}

<div class="be-content">

   <div class="page-head nova-page-head">
      <h2 class="page-head-title nova-title">Configuración de Roles</h2>
      <ol class="breadcrumb page-head-nav pull-right">
         <li><a href="{% url 'home:inicio' %}">Inicio</a></li>
         <li id="menu" data-opcion="configuracion"><a>Configuración</a></li>
         <li class="active">Roles</li>
      </ol>
   </div>

   <!-- Targeta Formulario -->
   <div class="main-content container-fluid nova-main-content">

      <div class="row wizard-row">
         
         <div class="col-md-12 fuelux">
               
               <div id="wizard1" class="wizard wizard-ux nova-panel-borde-header">
                  <ul class="steps">

                     <li class="active">Catálogo Maestro</li>

                  </ul>
                  <div class="actions">
                     <a href="{% url 'calidad:configuracion_requisito_lista' %}" class="btn btn-xs btn-prev btn-default nova-a-tab">Criterios y Requisitos</a>
                     <a href="{% url 'calidad:configuracion_proceso_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab">Procesos</a>
                     <a class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab nova-active-tab">Roles</a>
                     <a href="{% url 'calidad:configuracion_auditor_interno_formulario' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Auditores internos</a>
                     <a href="{% url 'calidad:configuracion_sitio_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Sitios</a>
                     <a href="{% url 'calidad:configuracion_metodologia_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Metodologías</a>
                     <a href="{% url 'calidad:configuracion_tipo_hallazgo_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Hallazgo</a>
                     <a href="{% url 'calidad:configuracion_formato_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Formatos</a>
                  </div>
               </div>
               <div class="panel panel-default panel-table">

                  <div class="panel-heading nova-panel-borde-contenido nova-panel-tools">
                     <a href="#id_tarjeta_filtros" 
                        class="btn nova-btn btn-rounded btn-sm btn-space btn-primary pull-right" data-toggle="modal" id="id_boton_filtros">
                        <i class="icon icon-left mdi mdi-search nova-white"></i> Filtros
                     </a>
                     <a href="#id_tarjeta_nuevo_rol"
                        class="btn nova-btn btn-rounded btn-sm btn-space btn-default pull-right" data-toggle="modal" id="id_boton_nuevo_rol">
                        <i class="icon icon-left mdi mdi-plus-circle nova-black"></i> Rol
                     </a>
                  </div><!-- Panel Heading -->

                  <div id="grid_resultados" class="nova-div-overflow">
                     <table class="table table-bordered">
                        <thead>
                           <tr>
                              <th style="width: 38px;"></th>
                              <th>Nombre</th>
                              <th>Compañia</th>
                              <th>Rol</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>
                                 <a href="#id_tarjeta_acciones" data-toggle="modal" class="btn nova-btn btn-default" id="boton_nuevo">
                                    <i class="icon icon-left icon mdi mdi-settings nova-black"></i>
                                 </a>
                              </td>
                              <td>Diana Castillo Hernandez</td>
                              <td>GEOLIS</td>
                              <td>Auditor lider</td>
                           </tr>
                           <tr>
                              <td>
                                 <a href="#id_tarjeta_acciones" data-toggle="modal" class="btn nova-btn btn-default" id="boton_nuevo">
                                    <i class="icon icon-left icon mdi mdi-settings nova-black"></i>
                                 </a>
                              </td>
                              <td>Luis Alberto Lopez Gonzalez</td>
                              <td>MET</td>
                              <td>Aprobador</td>
                           </tr>
                           <tr>
                              <td>
                                 <a href="#id_tarjeta_acciones" data-toggle="modal" class="btn nova-btn btn-default" id="boton_nuevo">
                                    <i class="icon icon-left icon mdi mdi-settings nova-black"></i>
                                 </a>
                              </td>
                              <td>Carlos Rodriguez Mendez</td>
                              <td>MET</td>
                              <td>Auditor</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>

               </div> <!-- Panel -->

         </div> <!-- col md 12 -->
      </div> <!-- row wizard row -->
      
   </div> <!-- main content -->
   <!-- Targeta Nuevo -->
   <div id="id_tarjeta_nuevo_rol" role="dialog" class="modal fade colored-header colored-header-primary">
      <div class="modal-dialog custom-width">
         <div class="modal-content">
            
            <div class="modal-header nova-modal-header">
               <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
               <h3 class="modal-title">Nuevo Rol</h3>
            </div>
               
            <form id="id_formulario_aprobador" class="modal-body form-horizontal">
               
               <!-- compania -->
               <div class="form-group">
                  <label class="col-sm-3 nova-col-filter control-label">Compañia</label>
                  <div class="col-sm-8 xs-pt-5">
                     <select class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true" id="id_compania">
                        <option value="" selected="selected">-------</option>
                        <option value="00001">1 - SISTEMAS INTEGRALES COMPRESION</option>
                        <option value="00002">2 - PART TECHNICAL SERVICES</option>
                        <option value="00003">3 - IPC</option>
                        <option value="00004">4 - MET</option>
                     </select>
                  </div>
               </div>

               <div class="form-group">
                  <label class="col-sm-3 nova-col-filter control-label">Empleado</label>
                  <div class="col-sm-8 xs-pt-5">
                     <select class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true" id="id_empleado">
                        <option value="" selected="selected">-------</option>
                        <option value="JPJ">Diana Castillo Hernandez</option>
                        <option value="LALG">Luis Alberto Lopez Gonzalez</option>
                     </select>
                  </div>
               </div>

               <div class="form-group">
                  <label class="col-sm-3 nova-col-filter control-label">Rol</label>
                  <div class="col-sm-8 xs-pt-5">
                     <select class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true" id="id_rol">
                        <option value="" selected="selected">-------</option>
                        <option value="LALG">Aprobador</option>
                        <option value="JPJ">Auditor lider</option>
                        <option value="LALG">Auditor</option>
                        <option value="LALG">Auditor en capacitacion</option>
                        <option value="LALG">Auditor consultor</option>
                     </select>
                  </div>
               </div>

            </form><!-- Modal body-->
            <div class="modal-footer nova-modal-footer">
                <div class="row col-sm-12">
                  <button type="button" data-dismiss="modal" class="btn btn-default pull-left">
                     Cerrar
                  </button>

                  <button type="button" id="id_boton_guardar" class="btn nova-btn btn-primary btn-lg pull-right">
                     <i class="icon icon-left mdi mdi-floppy nova-white"></i>
                     Guardar
                  </button>
               </div>
            </div>
         </div> <!-- Modal content-->
      </div> <!-- Modal dialog -->
   </div><!-- Modal -->
</div> <!-- be content -->
<!-- Tarjeta filtros-->
   <div id="id_tarjeta_filtros" role="dialog" class="modal fade colored-header colored-header-primary">
      <div class="modal-dialog custom-width">
         <div class="modal-content">
            
            <div class="modal-header nova-modal-header">
               <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
               <h3 class="modal-title">Filtros</h3>
            </div>
               
            <form id="formulario_filtro" class="modal-body form-horizontal">

               <!-- compania -->
               <div class="form-group">
                  <label class="col-sm-3 nova-col-filter control-label">Compañia</label>
                  <div class="col-sm-7 xs-pt-5">
                     <select class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true" id="id_compania_filtro">
                        <option value="" selected="selected">-------</option>
                        <option value="00001">1 - SISTEMAS INTEGRALES COMPRESION</option>
                        <option value="00002">2 - PART TECHNICAL SERVICES</option>
                        <option value="00003">3 - IPC</option>
                        <option value="00004">4 - MET</option>
                     </select>
                  </div>
               </div>

               <div class="form-group">
                  <label class="col-sm-3 nova-col-filter control-label">Empleado</label>
                  <div class="col-sm-7 xs-pt-5">
                     <input type="text" class="form-control input-xs" name="" id="id_empleado_filtro">
                  </div>
               </div>

               <div class="form-group">
                  <label class="col-sm-3 nova-col-filter control-label">Rol</label>
                  <div class="col-sm-7 xs-pt-5">
                     <select class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true" id="id_rol_filtro">
                        <option value="" selected="selected">-------</option>
                        <option value="LALG">Aprobador</option>
                        <option value="JPJ">Auditor lider</option>
                        <option value="LALG">Auditor</option>
                        <option value="LALG">Auditor en capacitacion</option>
                        <option value="LALG">Auditor consultor</option>
                     </select>
                  </div>
               </div>


            </form><!-- Modal body-->
            <div class="modal-footer nova-modal-footer">
               <div class="row col-sm-12">
                  <button type="button" data-dismiss="modal" class="btn btn-default pull-left">
                     Cancelar
                  </button>

                  <button type="button" id="id_boton_limpiar" class="btn btn-default nova-btn">
                     <i class="fa fa-eraser"></i>
                     Limpiar
                  </button>

                  <button type="button" id="id_boton_buscar" class="btn nova-btn btn-primary btn-lg pull-right">
                     <i class="icon icon-left mdi mdi-search nova-white"></i>
                     Buscar
                  </button>
               </div>
            </div>
         </div> <!-- Modal content-->
      </div> <!-- Modal dialog -->
   </div><!-- Modal -->

   <!-- tarjeta_acciones-->
   <div id="id_tarjeta_acciones" tabindex="-1" role="dialog" class="modal fade colored-header colored-header-primary">
      <div style="width: 100px; height: 500px" class="modal-dialog">
         <div class="modal-content">
         <div class="modal-header nova-modal-header">
            <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span class="mdi mdi-close"></span></button>
            <h3 class="modal-title">Acciones Del Rol</h3>
         </div>
         <div class="modal-body">
            <div class="text-center">
               <div role="group" class="btn-group-vertical btn-space">
                  <a href="#id_tarjeta_nuevo_rol" class="btn nova-btn btn-space btn-default btn-lg"  data-toggle="modal" id="id_boton_editar">
                     <i class="icon icon-left mdi mdi-edit nova-black"></i> Editar Rol
                  </a>
                  <a href="#" class="btn nova-btn btn-space btn-warning btn-lg" id="id_boton_eliminar">
                     <i class="icon icon-left mdi mdi-alert-triangle nova-white"></i> Eliminar Rol
                  </a>
               </div>
            </div>
         </div>
         </div>
      </div>
   </div>

{% endblock contenido %}

{% block scripts %}

   <!-- Beagle Theme -->
   <script src="{% static 'theme/lib/datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
   <script src="{% static 'theme/lib/jquery.maskedinput/jquery.maskedinput.min.js' %}"></script>
   <script src="{% static 'theme/lib/bootstrap-multiselect/js/bootstrap-multiselect.js' %}" type="text/javascript"></script>
   <script src="{% static 'theme/lib/multiselect/js/jquery.multi-select.js' %}" type="text/javascript"></script>
   <script src="{% static 'theme/lib/quicksearch/jquery.quicksearch.min.js' %}" type="text/javascript"></script>

   <!-- Kendo Js -->
   <script src="{% static 'libs/kendo/2015.2.624/js/cultures/kendo.culture.es-MX.min.js' %}"></script>
   <script src="{% static 'libs/kendo/2015.2.624/js/kendo.web.min.js' %}"></script>

   <!-- InputMask -->
   <script src="{% static 'libs/plugins/input-mask/jquery.inputmask.js' %}"></script>

   <!-- JS Template -->
   <script src="{% static 'rol/configuracion_lista.js' %}"></script>      

{% endblock scripts %}
