
/* .nova-be-left-sidebar{
   background-color: #eee;
}

.nova-be-left-sidebar .sidebar-elements > li ul {
   background-color: #f5f5f5 !important;
}

.nova-be-wrapper {
   background-color: #f5f5f5;
} */

.nova-toolbar {
    color: #333333;
    /*background-color: transparent;*/
    border: 1px solid #d4d4d4;
    margin-bottom: 10px;
}

.nova-widget-head {
    /*padding: 10px 20px 10px !important;*/
    margin-bottom: 0;
}

.nova-sidebar-elements li a {
   text-overflow: clip !important;
}

.nova-main-content {
   padding: 15px 10px 25px;
}

.nova-panel-heading {
   margin: 0px;
   padding: 15px 20px 15px !important;
   min-height: 55px;
}

.nova-page-head {
   padding: 40px 25px 10px;
}

.nova-panel-footer{
   margin: 0px;
   padding: 15px 20px 15px !important;
   min-height: 55px;
}

.nova-active-tab {
   background-color: #f7f7f7;
}

.nova-active-tab:hover {
   color: #949494 !important;
}

.nova-active-tab:focus {
   color: #ffffff;
   /* background: #4285f4; */
   /* border-color: #4285f4; */
}
.nova-a-tab {
   margin-right: 0px !important;
}
.nova-a-tab-border {
   border-left: 1px solid #d4d4d4 !important;
}

/*
.nova-col {
   padding-left: 0px !important;
   padding-right: 0px !important;
} */

.nova-title {
   display: inline-block;
   line-height: 0px;
}

.nova-white {
   color: white !important;
}

.nova-black {
   color: #404040 !important;
}

.nova-badge {
   border: 0;
}

.nova-col-filter {
   padding-right: 0px !important;
}

/* .nov-filter {
   padding-right: 15px !important;
} */

.nova-tools {
   margin-right: 20px;
}

.nova-btn {
   font-weight: 500;
}

.nova-border {
    border-bottom: 1px solid #d4d4d4 !important;
    color: black !important;
    background-color: #ffffff !important;
 }

.nova-border-bottom {
   border-bottom: 1px solid #d4d4d4 !important;
   color: black !important;
   background-color: #ffffff !important;
}

.nova-panel-heading {
   padding: 0px;
}

.nova-panel-heading-title {

}

.nova-panel-heading-status {

}

.nova-panel-heading-bottons {

}

.nova-addon-button {
   line-height: 0;
   padding: 0 10px 0 10px;
}

.nova-label-centrado{
   font-weight: 300;
   /* margin-left: 6em; */
   /* margin-top: 2em; */
   border-radius: 3px;
}

.nova-label-margin-bottom{
   margin-bottom: 4px;
}

.nova-input-group-padding{
   padding: 0px !important;
}


.nova-modal-header {
   padding: 15px 20px !important;
}

.nova-modal-content {
   padding: 10px 0px;
}

.nova-modal-body-padding {
   padding:  15px 60px 0px 60px !important;
}

.nova-modal-footer {
   text-align: left !important;
   border-top: 1px solid #d4d4d4;;
   padding: 15px 0 15px 15px !important;
}
<<<<<<< HEAD
.nova-modal-informacion {
   font-size: 14px;
}
.nova-modal-espaciado{
   padding: 0 0 !important;
}
.nova-modal-header {
   padding: 15px 20px !important;
}
.nova-modal-content {
   padding: 10px 0px;
=======

    .nova-footer-botons {
        padding-right: 1em;
    }


.nova-content {
    max-width: none;
>>>>>>> origin/master
}

.nova-padding-row {
   padding: 0 15px;
}

.select2-container {
   width: 100% !important;
}

.select2-container--default .select2-selection--single {
   height: 30px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
   height: 30px !important;
   line-height: 30px;
   padding: 0 30px 0 7px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
   height: 30px !important;
   top: -7px;
   right: -7px;
}

.nova-div-overflow {
   overflow: auto;
   overflow-x: auto;
   overflow-y: auto;
}

.nova-opt-disable {
   background-color: red !important;
   color: white !important;
}

/* Multiselect con dos contenedores */
.ms-container {
   width: 100% !important;
}
/*.ms-selectable {
   float: right !important;
}
.ms-selection {
   float: left !important;
}*/


.nova-panel-2ndseccion {
   border-top: 1px solid #d4d4d4;
}

@media (min-width: 768px) {

   .nova-col-filter {
      width: 25%;
   }

   .nova-panel-footer {
      padding-bottom: 20px;
   }

}
.nova-margin-highcharts {
    margin: 10px 0px 20px;
}
.nova-sparkline {
    display: inline-block;
    width: 85px;
    height: 35px;
    vertical-align: top;
}
.nova-contenedor-organigrama {
    background-color: white;
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: auto;
    text-align: center;
}
.nova-icon-gray {
    fill: gray;
    -webkit-text-fill-color: gray;
}
.nova-panel-heading-divider {
    border-bottom: 1px solid #d9d9d9;
    margin: 0 0 8px;
    padding-bottom: 16px;
    padding-left: 20px;
}

/* nova-navbar */
.nova-content-nav {
   border-top: 1px solid #d4d4d4 !important;
   width: 100%;
   padding: 10px 0px 20px;
   clear: both;
   position: relative;
}

.nova-nav-tab {
   width:70%;
   left:50%;
   margin:0px;
}

.nova-nav-tab a {
   right:50%;
}

/* Bordes */
.nova-nav-tab a:first-child {
   border-top-left-radius: 7px;
   border-bottom-left-radius: 7px;
}

.nova-nav-tab a:last-child {
   border-top-right-radius: 7px;
   border-bottom-right-radius: 7px;
}

/* nova-navbar */

/* nova-breadcrumb-nav */
.nova-breadcrumb-nav {
   background-color: transparent !important;
   position: relative;
}

.nova-breadcrumb-nav ol.breadcrumb {
   background-color: transparent !important;
}

/* nova-breadcrumb-nav */

/* nova-panel */
.nova-panel-tools {
   margin: 0px;
   padding: 5px 20px 0px !important;
   overflow: hidden;
}

.nova-panel-borde-contenido {
   border-top: none !important;
   border-bottom: none !important;
   border-left: 1px solid #d4d4d4 !important;
   border-right: 1px solid #d4d4d4 !important;
   border-radius: 0px! important;
}

.nova-panel-borde-header {
   border: 1px solid #d4d4d4 !important;
   border-radius: 0px! important;
}

.nova-panel-no-border-top {
   border-top: 0px !important;
}
/* nova-panel */

/* nova-panel-arbol */
.nova-panel-arbol {
   padding: 0px !important;
   border-radius: 0px! important;
}

div.nova-panel-arbol span.badge {
   border: 0px !important;
   background-color: inherit !important;
   padding: 0px !important;
}

div.nova-panel-arbol li.list-group-item {
   overflow-y: hidden !important;
   border-radius: 0px !important;
}
/* nova-panel-arbol */

/* nova-detalle */
.nova-btn-space {
   margin-top: 5px;
}

.nova-btn-delete {
   background-color: #ff4141 !important;
}

.nova-btn-edit {
   background-color: #fba605 !important;
}
/* nova-detalle */

/* nova-home */
.nova-panel-inicio-top {
   padding: 30px 0px;
   background-color: #ffffff !important;
}

.nova-panel-inicio-bottom {
   padding: 30px 0px;
   background-color: #ddd !important;
}

.nova-btn-home {
   padding: 10px !important;
   border: 1px solid #d4d4d4;
   border-radius: 11px;
   font-size: 13px;
   width: 100%;
}

.nova-btn-home i.icon {
   font-size: 32px !important;
}

.nova-info {
   text-align: center;
   font-size: 16px
}

.nova-info h4:first-child {
   margin-top: 0px;
}

.nova-home-title {
   font-size: 22px;
   text-align: center;
   margin-top: 17px;
}

.nova-paper {
   background-color: #ffffff;
   border-radius: 6px;
}

.nova-titulo-acciones {
   font-size: 16px;
   margin-bottom: 5px;
   border-bottom: 1px solid #d4d4d4;
}

.nova-img {
   border-radius: 10px;
}

.nova-tags {
   margin-bottom: 3px;
   font-size: 12px;
}

.nova-tag-icon {
   font-size: 16px;
}

.nova-insignia:before {
   content: "\f005";
   font-family: FontAwesome;
   font-size: 30px;
   color: #FFF;
   background-color: #FBCC30;
   position: absolute;
   width: 37px;
   height: 50px;
   top: 0px;
   left: 6px;
   padding: 5px;
}

.nova-paper-acciones {
   display: inline-block;
   background-color: #ffffff;
   max-width: 24%;
   border-radius: 6px;
   margin-right: 5px;
   margin-bottom: 5px;
}
/* nova-home */

/* nova-menu-slider */
.nova-panel-slider {
   background-color: #ffffff;
   border-right: 1px solid #d4d4d4;
   border-bottom: 1px solid #d4d4d4;
   border-left: 1px solid #d4d4d4;
   overflow: hidden;
   position: relative;
}

.nova-slider-menu {
   border-radius: 0px !important;
   padding: 15px;
   position: relative;
}

.sticky {
  position: fixed;
  top: 60px;
}

.nova-slider-menu-fixed {
   position: relative !important;
   top: 0px !important;
}

.nova-slider-section {
   padding: 15px 20px 20px 20px;
}

.nova-slider-panel {
   border: 1px solid #d4d4d4;
   border-radius: 3px;
}

.nova-slider-panel-heading {
   background-color: #f5f5f5;
   border-top-right-radius: 3px;
   border-top-left-radius: 3px;
   padding: 5px 10px;
   border-bottom: 1px solid #d4d4d4;
}

.nova-slider-panel-heading-table {
   background-color: #f5f5f5;
   border-top-right-radius: 3px;
   border-top-left-radius: 3px;
   padding: 5px 10px;
   border-top: 1px solid #d4d4d4;
   border-left: 1px solid #d4d4d4;
   border-right: 1px solid #d4d4d4;
   overflow: hidden;
}

.nova-slider-panel-content {
   padding: 10px 20px;
}

.nova-slider-panel-footer {
   background-color: #f5f5f5;
   border-bottom-right-radius: 3px;
   border-bottom-left-radius: 3px;
   padding: 5px 10px;
   border-top: 1px solid #d4d4d4;
   overflow: hidden;
}

.nova-slider-title {
   font-size: 16px;
   padding: 5px;
}
/* nova-menu-slider */

/* modales */
.nova-modal-maxwidth {
   max-width: 930px !important;
}

.nova-modal-acciones {
   width: 320px;
}

.nova-modal-title-seguimientos {
   width: 80%;
}

.nova-overflow-hidden {
   overflow: hidden;
}

.nova-modal-informacion {
   padding: 12px 15px;
}
.nova-modal-accordion {
   margin-bottom: 0px !important;
}
.nova-accordion-row {
   padding-left: 15px;
   padding-right: 15px;
   overflow: hidden;
}
.nova-accordion-border-bottom {
   border-bottom: 1px solid #d4d4d4;
}
.nova-modal-accordion-panel {
   border-radius: 0px !important;
   margin-top: 0px !important;
}
/* modales */

/* bootstrap tables */
.nova-active-row {
   background-color: #f0f0f0;
}

.nova-columna-acciones {
   width: 38px;
}

.nova-aling-center {
   text-align:center;
}

.nova-status-en-aprobacion {
   background-color: #5ac3f6;
}

.nova-status-cancelado {
   background-color: #d4d4d4;
}

.nova-status-aprobado {
   background-color: #4285f4;
}

.nova-status-rechazado {
   background-color: #f6b663;
}

.nova-status-autorizado {
   background-color: #34a853;
}
/* bootstrap tables */

/* multiselect 2 */
.select2-container--default .select2-results__option[aria-selected="true"]{
   background-color: #4285f4;
   color: #ffffff;
}
/* multiselect 2 */

/* Kendo grid, estilo en las filas*/
.nova-fecha-vencida {
  background-color: #E6E6E6;
}
.nova-fecha-por-vencer{
   background-color: #FBFBEF;
}
/* jquery multiselect */
.nova-has-error {
   border: 1px solid #ea4335 !important;
   box-shadow: 0 0 7px #ff0000 !important;
}
/* jquery multiselect */
.nova-col-popup {
   padding-right: 0px !important;
}
/* bootstrap Tables */
.nova-sin-resultados {
   font-size: 32px;
   background-color: #ececec;
}
.nova-tabla-popup {
   padding: 0px 74px 0px 74px;
   margin-top: 20px;
}
.nova-table-popup-gradient {
   border-color: #cccccc;
   white-space: nowrap;
   margin-bottom: 0px !important;
}
.nova-table-popup-gradient thead {
   background: #428bca;
   background: -webkit-linear-gradient(#e6e6e6 ,#ebebeb); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(#e6e6e6 ,#ebebeb); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(#e6e6e6 ,#ebebeb); /* For Firefox 3.6 to 15 */
   background: linear-gradient(#e6e6e6 ,#ebebeb); /* Standard syntax */
   color: black;
}
.nova-table-popup-gradient > thead > tr > th {
   font-weight: 400;
   font-size: 14px;
   border-color: #cccccc;
}
.nova-popup-table-footer {
   text-align: left !important;
   padding: 15px 0 15px 15px !important;
}
/* bootstrap Tables */
/* kendo grid */
.nova-grid-column-yellow {
   background-color: LightYellow;
}
.nova-grid-column-purple {
   background-color: GhostWhite;
}
.nova-grid-column-blue {
   background-color: Azure;
}
/* kendo grid */
/* modal descripcion */
.nova-modal-contenido{
  font-size: 14px;
  margin-left: 0 30px 0 30px;
}
.nova-margin{
   margin-bottom: 0 !important;
}
/* modal descripcion */


@media (min-width: 992px) {
    .nova-panel-main {
        padding-right: 0;
    }
}
