
/* .nova-be-left-sidebar{
    background-color: #eee;
}

.nova-be-left-sidebar .sidebar-elements > li ul { 
    background-color: #f5f5f5 !important;
}

.nova-be-wrapper {
    background-color: #f5f5f5;
} */

.nova-sidebar-elements li a {
    text-overflow: clip !important;
}

.nova-panel-heading {
    margin: 0px;
    padding: 15px 20px 15px !important;
    min-height: 55px;
}

.nova-page-head {
    padding: 40px 25px 10px;
}

.nova-panel-footer{
    margin: 0px;
    padding: 15px 20px 15px !important;
    min-height: 55px;
}

.nova-main-content {
    padding: 15px 10px 25px;   
}

.nova-active-tab {

    background-color: #f7f7f7;
}

.nova-active-tab:hover {
    color: #949494 !important;
}

.nova-active-tab:focus {
    color: #ffffff;
    /* background: #4285f4; */
    /* border-color: #4285f4; */
}
.nova-a-tab {
    margin-right: 0px !important;
    border-right: 1px solid #d4d4d4 !important;
}

/* 
.nova-col {
    padding-left: 0px !important;
    padding-right: 0px !important;    
} */

.nova-title {
    display: inline-block;
    line-height: 0px;
}

.nova-white {
    color: white !important;
}

.nova-black {
    color: #404040 !important;
}

.nova-badge {
    border: 0;
}

.nova-col-filter {
    padding-right: 0px !important;
}

/* .nov-filter {
    padding-right: 15px !important;  
} */

.nova-tools {
    margin-right: 20px;
}

.nova-btn {
    font-weight: 500;
}

.nova-border-bottom {
    border-bottom: 1px solid #d4d4d4 !important;
    color: black !important;
    background-color: #ffffff !important;
}

.nova-panel-heading {
    padding: 0px;
}

.nova-panel-heading-title {

}

.nova-panel-heading-status {

}

.nova-panel-heading-bottons {

}

.nova-addon-button {
    line-height: 0;
    padding: 0 10px 0 10px;
}

.nova-label-centrado{
    font-weight: 300;
    /* margin-left: 6em; */
    /* margin-top: 2em; */
    border-radius: 3px;
}

.nova-label-margin-bottom{
    margin-bottom: 4px;
}

.nova-input-group-padding{
    padding: 0px !important;
}

.nova-modal-body-padding {
    padding:  15px 60px 0px 60px !important;
}

.nova-modal-footer {

    text-align: left !important;
    border-top: 1px solid #d4d4d4;;
    padding: 15px 0 15px 15px !important;
}

.nova-modal-header{
    padding: 15px 20px !important;
}

.nova-padding-row{
    padding: 0 15px;
}

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--single {
    height: 30px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 30px !important;
    line-height: 30px;
    padding: 0 30px 0 7px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 30px !important;
    top: -7px;
    right: -7px;    
}

.nova-div-overflow{
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: scroll;
}

.nova-opt-disable {
    background-color: red !important;
    color: white !important;
}

.nova-panel-2ndseccion {
    border-top: 1px solid #d4d4d4;
}

@media (min-width: 768px) {
    
    .nova-col-filter {
        width: 25%;
    }

    .nova-panel-footer {
        padding-bottom: 20px;
    }

}
.nova-margin-highcharts{
    margin: 10px 0px 20px ;
}
.nova-sparkline{
    display: inline-block; 
    width: 85px; 
    height: 35px; 
    vertical-align: top;
}
.nova-panel-heading-titulo{
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
    margin: 0 20px;
    border-bottom-width: 0;
    border-radius: 3px 3px 0 0;
}