.be-left-sidebar{
    background-color: #eee;
    
}

.be-wrapper{
    background-color: #f5f5f5;
}

.be-left-sidebar .sidebar-elements > li ul { 
    background-color: #f5f5f5 !important;
}

.panel-heading{
    margin: 0px;
}

.title {
    margin-left: 20px;
}

.icon{
    margin-right: 10px;
}

.tools{
    margin-right: 20px;
}

.fa-plus-circle {
    color: cornflowerblue !important;
}

.fa-search {
    color: darkgreen !important;
}

.fa-file-excel-o:before {
    color: cadetblue;
}

.border-bottom {
    border-bottom: 1px solid #d4d4d4;
}

.btn{
    font-weight: 500;
}

.labelCentrado{
    padding: 2px 7px;
    font-size: 18px;
    font-weight: 300;
    margin-left: 2em;
}