{% extends 'login.html' %}
{% block titulo %} Restablecer contraseña {% endblock titulo %}
{% block contenido %}
<div class="be-content">
	<div class="page-head">
		<h2 class="page-head-title">Restablecer contraseña.</h2>
	</div>
	<div class="col-md-12">
		<div class="main-content container-fluid">
			<div class="col-md-8">
				<div class="panel panel-default panel-table">
					<div class="form-group">
						<br>
						<h4>Ingrese el correo electronico o clave de empleado asociado a su cuenta.</h4>
						<br>
						<form method="post">
							{% csrf_token %}
							{{ form.as_p }}
							<!-- Botones de accion -->
							<a class="button" href="{% url 'seguridad:login' %}"> Regresar </a>
							<button type="submit" class="btn btn-primary" id="id_boton_guardar" >Enviar correo</button>
						</form>
					</div><!-- End Form group -->
					{% if messages %}
					    {% for message in messages %}
					    	<div {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} class="alert alert-danger" {% else %} class="alert alert-success alert-dismissible" {% endif %}> 
					            <strong>{{message}}</strong>
					        </div>
					    {% endfor %}
					{% endif %}
				</div><!-- End Panel default -->
			</div><!-- End Col-md-8 -->
		</div><!-- End Main content -->
	</div><!-- End Col-md-12 -->
</div><!-- End Be content -->
{% endblock contenido%}