{% extends 'login.html' %}
{% block titulo %} Restablecer contraseña {% endblock titulo %}
{% block contenido %}
<div class="be-content">
	<div class="page-head">
		<h2 class="page-head-title">Mensaje</h2>
	</div>
	<div class="col-md-12">
		<div class="main-content container-fluid">
			<div class="col-md-8">
				<div class="panel panel-default panel-table">
					<div class="form-group">
						<br>
						<p>
							<h4>Si su cuenta de usuario se encuentra asociada al correo electronico proporcionado, en breves momentos recibira un correo con las instrucciones para poder restablecer su contraseña.</h4>
						</p>
						<br>
						<p>
							<h4>Nota: Si usted no recuerda el correo electronico asociado a su cuenta, por favor comuniquese con el administrador del sitio.</h4>
						</p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock contenido %}