{% extends 'login.html' %}
{% block titulo %} Restablecer contraseña {% endblock titulo %}
{% block contenido %}
<div class="be-content">
	<div class="page-head">
		<h2 class="page-head-title">Mensaje</h2>
	</div>
	<div class="col-md-12">
		<div class="main-content container-fluid">
			<div class="col-md-10">
				<div class="panel panel-default panel-table">
					<br>
					<p>
						<h4>Se ha enviado un correo electronico con las instrucciones para poder restablecer su contraseña.</h4>
					</p>
					<br>
				</div><!-- End Panel default -->
			</div><!-- End Col-md-8 -->
		</div><!-- End Main content -->
	</div><!-- End Col-md-12 -->
</div><!-- End Be content -->
{% endblock contenido %}