{% extends 'master.html' %}

{% load static from staticfiles %}

{% block titulo %} Hallazgos del Proceso {% endblock titulo %}

{% block title-page %} Hallazgos del Proceso  {% endblock title-page %}

{% block css %}

<!-- wysihtml5 -->
<link rel="stylesheet" href="{% static 'libs/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">

{% endblock css %}

{% block contenido %}

<div class="be-content">

   <div class="page-head nova-page-head">
      <h2 class="page-head-title nova-title">Hallazgos del Requisito</h2>
      <ol class="breadcrumb page-head-nav pull-right">
         <li><a href="{% url 'home:inicio' %}">Inicio</a></li>
         <li id="menu" data-opcion="auditorias_lista"><a href="{% url 'sgi:auditoria_lista' %}">Solicitudes de Auditorías</a></li>
         <li><a href="{% url 'sgi:proceso_lista' %}">Procesos</a></li>
         <li><a href="{% url 'sgi:requisito_lista' %}">Requisitos</a></li>
         <li class="active"><a>Hallazgos</a></li>
      </ol>
   </div>

   <div class="main-content container-fluid nova-main-content">
      
      <div class="row wizard-row">

         <!-- Tarjeta titulo-->
         <div class="col-sm-12 nova-col">
            <div class="panel panel-default panel-border-color panel-border-color-primary">
               <div class="nova-panel-heading-titulo">Hallazgos del requisito <strong>14.2</strong> del proceso <strong>1</strong> Tecnologías de la información de la auditoria <strong>01 - 17</strong>
                  
               </div>
            </div>  <!-- Panel -->
         </div>  <!-- col-sm-12 -->

         <!-- Tarjeta formulario-->
         <div class="col-md-12 fuelux">
            <form class="block-wizard panel panel-default" action="" method="POST" > {% csrf_token %}
               <div id="wizard1" class="wizard wizard-ux">
                  <div class="step-content">
                     <div data-step="1" class="step-pane active">

                        <div class="form-horizontal group-border-dashed">

                           <div class="form-group no-padding">
                              <div class="col-sm-7">
                                 <h5 class="wizard-title">Información de la auditoría:</h5>
                              </div>
                           </div>

                           {{ form.non_field_errors }} 

                           <!-- tipo_hallazgo -->
                           <div class="form-group">
                              <label class="col-sm-3 control-label" 
                                 for="{{ form.tipo_hallazgo.id_for_label }}">
                                 Tipo de Hallazgo
                              </label>
                              <div class="col-sm-6 xs-pt-5">
                                 <select class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true" id="id_tipo_hallazgo">
                                    <option value="TIPOA">Mayor</option>
                                    <option value="TIPOB">Menor</option>
                                    <option value="Observacion">Observacion</option>
                                 </select>
                              </div>
                              {% for error in form.tipo_hallazgo.errors %}
                                 <span class="help-block">{{ error }}</span>
                              {% endfor %}
                           </div>

                           <!-- observacion -->
                           <div class="form-group">
                              <label class="col-sm-3 control-label" 
                                 for="{{ form.observacion.id_for_label }}">
                                 {{ form.observacion.label }}
                                 Observación
                              </label>
                              <div class="col-sm-6 xs-pt-5">
                                 {{ form.observacion }}
                                 <textarea class="form-control input-sm" cols="40" id="id_observacion" rows="7">
                                 </textarea>
                              </div> 
                              {% for error in form.observacion.errors %}
                                 <span class="help-block">{{ error }}</span>
                              {% endfor %}                                        
                           </div>

                           <!-- imagen -->
                           <div class="form-group">
                              <label class="col-sm-3 control-label" 
                                 for="{{ form.imagen.id_for_label }}">
                                 {{ form.imagen.label }}
                                 Recursos Necesarios
                              </label>
                              <div class="col-sm-6 xs-pt-5">
                                 {{ form.imagen }}
                                 <input type="file" name="file-2" id="id_imagen" data-multiple-caption="{count} Archivos seleccionados" multiple="" class="inputfile">
                                 <label for="id_imagen" class="btn-primary"> <i class="mdi mdi-upload"></i><span>Seleccionar archivo</span></label>
                              </div> 
                              {% for error in form.imagen.errors %}
                                 <span class="help-block">{{ error }}</span>
                              {% endfor %}                                        
                           </div>

                        </div>
                     </div>
                  </div>
               </div>
               <!-- Botones -->
               <div class="modal-footer nova-modal-footer">
                  <div class="row col-sm-12">
                     <button type="submit" id="boton_guardar" class="btn nova-btn btn-primary btn-lg pull-right">
                        <i class="icon icon-left mdi mdi-save nova-white"></i>
                        Guardar
                     </button>
                  </div>
               </div>
            </form>
         </div> <!-- col sm 12-->
         <div class="col-sm-12">
            <div class="panel panel-default panel-border-color panel-border-color-primary">
               <div class="panel-heading panel-heading-default nova-border-bottom"><strong>Hallazgo Tipo: A</strong>
                  
               </div>
               <div class="panel-body">
                  <div class="col-sm-8">
                     <textarea class="form-control" readonly="" rows="12">Se encontró que la documentacion solicitada de acuerdo a las conformidades de la norma 13.5.....</textarea>
                  </div>
                  <div class="col-sm-4">
                     <img class="img-responsive" src="{% static "src/documento.jpg" %}" alt="Avatar">
                  </div>
               </div>
            </div>  <!-- Panel -->
         </div>  <!-- col-sm-12 -->

      </div>
   </div> <!-- main content -->

   <!-- Tarjeta Nuevo-->
   <div id="tarjeta_nuevo_requisito" role="dialog" class="modal fade colored-header colored-header-primary">
      <div class="modal-dialog custom-width">
         <div class="modal-content">
            
            <div class="modal-header nova-modal-header">
               <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
               <h3 class="modal-title">Nuevo requisito</h3>
            </div>
               
            <form id="formulario_proceso" class="modal-body form-horizontal">

               <div class="form-group">
                  <label class="col-sm-3 nova-col-filter control-label">Norma</label>
                  <div class="col-sm-7 xs-pt-5">
                     <select class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true" id="id_norma">
                        <option value="ISO 9001:2008">ISO 9001:2008</option>
                        <option value="ISO 14001:2004">ISO 14001:2004</option>
                        <option value="OHSAS 18001:2007">OHSAS 18001:2007</option>
                     </select>
                  </div>
               </div>                

               <div class="form-group">
                  <label class="col-sm-3 nova-col-filter control-label">Requisito</label>
                  <div class="col-sm-7 xs-pt-5">
                     <select class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true" id="id_requisito">
                        <option value="ISO9001-14-1">Requisito 14.1 Demostrar que los documentos</option>
                        <option value="ISO9001-14-1">Requisito 12.2 Demostrar que los documentos</option>
                        <option value="ISO9001-14-1">Requisito 16.5 Demostrar que los documentos</option>
                        <option value="ISO9001-14-1">Requisito 1.6 Demostrar que los documentos</option>
                        <option value="ISO9001-14-1">Requisito 9.1 Demostrar que los documentos</option>
                        <option value="ISO9001-14-1">Requisito 2.1 Demostrar que los documentos</option>
                     </select>
                  </div>
               </div>

            </form><!-- Modal body-->
            <div class="modal-footer nova-modal-footer">
                <div class="row col-sm-12">
                     <button type="button" data-dismiss="modal" class="btn btn-default pull-left">
                        Cerrar
                     </button>

                     <button type="button" id="boton_modal_guardar" class="btn nova-btn btn-primary btn-lg pull-right">
                        <i class="icon icon-left mdi mdi-floppy nova-white"></i>
                        Guardar
                     </button>
               </div>
            </div>
         </div> <!-- Modal content-->
      </div> <!-- Modal dialog -->
   </div><!-- Modal -->

</div> <!-- be-content -->

{% endblock contenido %}

{% block scripts %}
   <!-- WYSIHTML5 -->
   <script src="{% static 'libs/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>

   <!-- Beagle Theme -->
   <script src="{% static 'theme/lib/daterangepicker/js/daterangepicker.js' %}"></script>

   <!-- JS Template -->
   <script src="{% static 'hallazgo/hallazgo_formulario.js' %}"></script>

{% endblock scripts %}
