{% extends 'master.html' %}

{% load static from staticfiles %}

{% load custom_tags %}

{% block titulo %} Hallazgo {% endblock titulo %}

{% block title-page %} Hallazgo {% endblock title-page %}

{% block css %}

   <!-- Beagle Theme -->
   <link rel="stylesheet" href="{% static 'theme/lib/bootstrap-multiselect/css/bootstrap-multiselect.css' %}"/>
   <link rel="stylesheet" href="{% static 'theme/lib/multiselect/css/multi-select.css' %}"/>

   <!-- bootstrap-fileinput -->
   <link rel="stylesheet" href="{% static 'libs/bootstrap-fileinput/4.4.2/css/fileinput.min.css' %}">

{% endblock css %}

{% block contenido %}

<div class="be-content">

   <div class="page-head nova-page-head">
      <h2 class="page-head-title nova-title">Hallazgo</h2>
      <ol class="breadcrumb page-head-nav pull-right">
         <li><a href="{% url 'home:inicio' %}">Inicio</a></li>
         <li id="menu" data-opcion="auditorias_lista"><a href="{% url 'calidad:auditoria_lista' %}">Procesos de Auditoría</a></li>
         <li><a href="{% url 'calidad:proceso_lista' pk %}">Procesos</a></li>
         <li class="active">Hallazgos</li>
      </ol>
   </div>

   <div class="main-content container-fluid nova-main-content">

      <div class="row wizard-row">

         <div class="col-md-12 fuelux">

            <div id="wizard1" class="wizard wizard-ux nova-panel-borde-header">

               <div class="nova-wizard-header">

                    <span class="nova-wizard-title">Auditoría No: <strong>{{folio}}</strong></span>
                    <div class="nova-wizard-tools visible-xs-inline-block dropdown"><span data-toggle="dropdown" class="icon mdi mdi-more-vert dropdown-toggle" aria-expanded="false"></span>
                        <ul role="menu" class="dropdown-menu">
                          <li>
                            <a href="{% url 'calidad:general_formulario_update' pk %}">Generales</a>
                          </li>
                          <li>
                            <a href="{% url 'calidad:auditor_formulario_update' pk %}">Equipo Auditor</a>
                          </li>
                          <li class="active">
                            <a href="{% url 'calidad:proceso_lista' pk %}">Procesos</a>
                          </li>
                        </ul>
                    </div>

               </div>
               <div class="actions hidden-xs">
                  <a href="{% url 'calidad:general_formulario_update' pk %}" class="btn btn-xs btn-prev btn-default nova-a-tab">Generales</a>
                  <a href="{% url 'calidad:auditor_formulario_update' pk %}" class="btn btn-xs btn-next btn-default nova-a-tab">Equipo Auditor</a>
                  <a href="{% url 'calidad:proceso_lista' pk %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab nova-active-tab">Procesos</a>
               </div>
               <div class="nova-content-nav">
                  <div class="nova-breadcrumb-nav">
                     <ol class="breadcrumb">
                        <li>
                           <a href="{% url 'calidad:proceso_lista' pk %}"><span class="badge">Lista de Procesos</span></a>
                        </li>
                        <li>
                           <a href="{% url 'calidad:proceso_formulario_update' pk pk_pro %}"><span class="badge">Proceso: {{ proceso }} </span></a>
                        </li>
                        <li>
                           <a href="{% url 'calidad:hallazgo_lista' pk pk_pro %}"><span class="badge">Subproceso: {{ subproceso }} </span></a>
                        </li>
                        <li class="active">
                           <a><span class="badge">Hallazgo: {{ titulo }}</a></span>
                        </li>
                     </ol>
                  </div>
               </div>

            </div> <!-- wizard wizard-ux -->

            <div class="nova-panel-slider">

               <div class="col-md-4 col-lg-3">

                  <div class="row nova-slider">
                     <div id="lista_acciones" class="nova-slider-menu">

                        <div class="list-group" id="id_lista">
                           <a href="#id_detalle_hallazgo" class="list-group-item active">
                               Detalle del hallazgo
                           </a>
                           <a href="#id_analisis_causas" class="list-group-item">
                              Analisis de causas
                           </a>
                           <a href="#id_plan_accion" class="list-group-item">
                              Plan de acción
                           </a>
                           <a href="#id_evidencias" class="list-group-item">
                              Evidencias
                           </a>
                        </div>

                     </div> <!-- nova-slider-menu -->
                  </div> <!-- row -->

               </div> <!-- col-md-4 col-lg-3 -->

               <div class="col-md-8 col-lg-9">

                  <section id="id_detalle_hallazgo" class="nova-slider-section">

                     <form id="formulario_detalle_hallazgo" class="form-horizontal" method="post"> {% csrf_token %}
                        <div class="nova-slider-panel">

                           <div class="nova-slider-panel-heading">

                              <div class="nova-slider-title">Detalle del Hallazgo
                              </div>

                           </div>
                           <div class="nova-slider-panel-content">

                             <!-- titulo -->
                             {% tag_field form.titulo 3 8 %}

                             <!-- requisito_referencia -->
                             {% tag_field form.requisito_referencia 3 8 %}

                             <!-- descripciones -->
                             {% tag_field form.descripciones 3 8 %}

                             <!-- tipo_hallazgo -->
                             {% tag_field form.tipo_hallazgo 3 8 %}

                             <!-- observaciones -->
                             {% tag_field form.observaciones 3 8 %}

                             <input type="hide" class="hide" value="{{ request.user.profile.pk }}" id="id_actual_user">
                             <input type="hide" class="hide" value="{{ pk_hal }}" id="id_pk_hal">

                           </div> <!-- nova-slider-panel-content -->
                           <div class="nova-slider-panel-footer">

                              <button type="submit" id="id_boton_guardar_hallazgo" class="btn nova-btn btn-primary btn-lg pull-right">
                                 <i class="icon icon-left mdi mdi-floppy nova-white"></i>
                                 Guardar
                              </button>

                           </div>

                        </div> <!--panel-->
                     </form><!-- Modal body-->

                  </section> <!-- section -->

                  <section id="id_analisis_causas" class="nova-slider-section">

                     <div class="nova-slider-panel-heading-table">

                        <div class="nova-slider-title pull-left">Análisis de causas
                        </div>

                        <a class="btn nova-btn btn-rounded btn-sm btn-default nova-btn-space pull-right" id="id_boton_analisis">
                           <i class="icon icon-left mdi mdi-plus-circle nova-black"></i>Nuevo
                        </a>
                     </div>

                     <div class="nova-div-overflow">
                        <table id="id_grid_analisis_causa" class="table table-bordered table-hover">
                           <thead>
                              <tr>
                                 <th class="nova-columna-acciones"></th>
                                 <th>Título</th>
                                 <th>Metodología</th>
                                 <th>Causas probables</th>
                              </tr>
                           </thead>
                           <tbody id="id_tbody_analisis">
                           </tbody>
                        </table>

                     </div>

                  </section> <!-- section -->

                  <section id="id_plan_accion" class="nova-slider-section">

                     <div class="nova-slider-panel-heading-table">

                        <div class="nova-slider-title pull-left">Plan de Acción
                        </div>

                        <a class="btn nova-btn btn-rounded btn-sm btn-default nova-btn-space pull-right" id="id_boton_plan">
                           <i class="icon icon-left mdi mdi-plus-circle nova-black"></i>Nuevo
                        </a>
                     </div>

                     <div class="nova-div-overflow">
                        <table id="id_grid_plan_accion" class="table table-bordered table-hover">
                           <thead>
                              <tr>
                                 <th class="nova-columna-acciones"></th>
                                 <th>Título</th>
                                 <th>Actividad</th>
                                 <th>Responsable</th>
                                 <th>Fecha programada</th>
                                 <th>Evidencia</th>
                                 <th>Observaciones</th>
                                 <th>Resultado</th>
                              </tr>
                           </thead>
                           <tbody id="id_tbody_plan_accion">
                              <tr class="clickable-row">
                                 <td>
                                    <button class="btn nova-btn btn-default">
                                       <i class="icon icon-left icon mdi mdi-settings nova-black"></i>
                                    </button>
                                 </td>
                                 <!-- id_tarjeta_acciones -->
                                 <td><!-- En proceso de modificar los id del grid y estrucutura html-->
                                    <a class="btn btn-default nova-url" data-toggle="modal">Fijar cables</a>
                                    <!-- #id_tarjeta_actividad -->
                                 </td>
                                 <td>Fijar los cables a las canaletas con cinchos</td>
                                 <td>Luis Enrique lopez Mendez</td>
                                 <td>29/03/2017</td>
                                 <td>Se presencio el aseguramiento de los cables</td>
                                 <td>Ninguna</td>
                                 <td>Cumple</td>
                              </tr>
                           </tbody>
                        </table>

                     </div>

                  </section> <!-- section -->

                  <section id="id_evidencias" class="nova-slider-section">

                     <div class="nova-slider-panel-heading-table">

                        <div class="nova-slider-title pull-left">Evidencias
                        </div>

                        <a class="btn nova-btn btn-rounded btn-sm btn-default nova-btn-space pull-right" data-toggle="modal" id="id_boton_evidencia">
                           <i class="icon icon-left mdi mdi-plus-circle nova-black"></i>Nuevo
                        </a>
                     </div>

                     <div class="nova-div-overflow">
                        <table id="id_grid_evidencia" class="table table-bordered table-hover">
                           <thead>
                              <tr>
                                 <th class="nova-columna-acciones"></th>
                                 <th>Título</th>
                                 <th>Observación</th>
                              </tr>
                           </thead>
                           <tbody id="id_tbody_evidencia">
                           </tbody>
                        </table>

                     </div>

                  </section> <!-- section -->

               </div> <!--col-md-8-->

            </div> <!-- nova-panel-slider-panel -->

         </div> <!-- col sm 12-->

      </div> <!-- row wizzard row -->

   </div> <!-- main content -->

   <!-- tarjeta_analisis -->
   <div id="id_tarjeta_analisis" role="dialog" data-primaryKey="" class="modal fade colored-header colored-header-primary">
      <div class="modal-dialog modal-lg">
         <div class="modal-content nova-modal-maxwidth">

            <div class="modal-header nova-modal-header">
               <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
               <h3 class="modal-title" id="id_popup_titulo_analisis"></h3>
            </div>

               <form id="id_formulario_analisis" class="modal-body form-horizontal">

                  <span id="id_mensaje_error_analisis"></span>

                  <!-- titulo -->
                  {% tag_field_popup formulario_analisis_causa.titulo 3 8 %}

                  <!-- metodologia -->
                  {% tag_field_popup formulario_analisis_causa.metodologia 3 8 %}

                  <!-- causas -->
                  {% tag_field_popup formulario_analisis_causa.causas 3 8 %}

                  <!-- archivo -->
                  {% tag_field_popup formulario_analisis_causa.archivo 3 8 %}

               </form><!-- Modal body-->

            <div class="modal-footer nova-modal-footer">
               <div class="row col-sm-12">
                  <button type="button" data-dismiss="modal" class="btn btn-default pull-left">
                     Cerrar
                  </button>

                  <button type="button" id="id_boton_guardar_analisis" class="btn nova-btn btn-primary btn-lg pull-right">
                     <i class="icon icon-left mdi mdi-floppy nova-white"></i>
                     Guardar
                  </button>
               </div>
            </div>
         </div> <!-- Modal content-->
      </div> <!-- Modal dialog -->
   </div><!-- Modal -->

   <!-- tarjeta_acciones-->
   <div id="id_tarjeta_acciones" tabindex="-1" role="dialog" class="modal fade colored-header colored-header-primary">
      <div class="modal-dialog nova-modal-acciones">
        <div class="modal-content">
          <div class="modal-header nova-modal-header">
            <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span class="mdi mdi-close"></span></button>
            <h3 class="modal-title">Acciones De La Actividad</h3>
          </div>
          <div class="modal-body">
            <div class="text-center">
               <div role="group" class="btn-group-vertical btn-space">
                  <a href="#id_tarjeta_seguimiento_plan" class="btn nova-btn btn-space btn-default btn-lg" data-toggle="modal" id="id_boton_seguimiento_plan">
                     <i class="icon icon-left mdi mdi-assignment-o nova-black"></i> Seguimiento Al Plan de Acción
                  </a>
                  <a href="#id_tarjeta_evaluacion" class="btn nova-btn btn-space btn-default btn-lg" data-toggle="modal" id="id_boton_evaluacion_eficacia">
                     <i class="icon icon-left mdi mdi-assignment-check nova-black"></i> Evaluación De Eficacia A Acciones
                  </a>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>

   <!-- id_tarjeta_actividad -->
   <div id="id_tarjeta_actividad" role="dialog" data-primaryKey="" class="modal fade colored-header colored-header-primary">
      <div class="modal-dialog custom-width">
         <div class="modal-content">

            <div class="modal-header nova-modal-header">
               <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
               <h3 class="modal-title" id="id_popup_titulo_actividad"></h3>
            </div>

            <form id="id_formulario_actividad" class="modal-body form-horizontal">

               <span id="id_mensaje_error_actividad"></span>

               <!-- titulo -->
               {% tag_field_popup formulario_plan_accion_hallazgo.titulo 3 8 %}

               <!-- actividad -->
               {% tag_field_popup formulario_plan_accion_hallazgo.actividad 3 8 %}

               <!-- responsable -->
               {% tag_field_popup formulario_plan_accion_hallazgo.responsable 3 8 %}

               <!-- fecha_programada -->
               <div class="form-group">
                  {% tag_field_popup_datepicker formulario_plan_accion_hallazgo.fecha_programada 3 8 True %}
               </div>

               <!-- evidencia -->
               {% tag_field_popup formulario_plan_accion_hallazgo.evidencia 3 8 %}

            </form><!-- Modal body-->
            <div class="modal-footer nova-modal-footer">
               <div class="row col-sm-12">
                  <button type="button" data-dismiss="modal" class="btn btn-default pull-left">
                     Cerrar
                  </button>

                  <button type="button" id="id_boton_guardar_actividad" class="btn nova-btn btn-primary btn-lg pull-right">
                     <i class="icon icon-left mdi mdi-floppy nova-white"></i>
                     Guardar
                  </button>
               </div>
            </div>
         </div> <!-- Modal content-->
      </div> <!-- Modal dialog -->
   </div><!-- Modal -->

   <!-- id_tarjeta_seguimiento_plan -->
   <div id="id_tarjeta_seguimiento_plan" tabindex="-1" role="dialog" class="modal fade colored-header colored-header-primary">
      <div class="modal-dialog modal-lg">
         <div class="modal-content nova-modal-maxwidth">

            <div class="modal-header nova-modal-header">
               <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
               <h3 class="modal-title">Seguimiento al Plan de Acción</h3>
            </div>

            <form id="id_formulario_seguimiento_plan" class="modal-body form-horizontal">
               <div class="nova-modal-content nova-overflow-hidden">

                  <!-- resultado_seguimiento -->
                  {% tag_field_popup formulario_seguimiento_plan.resultado_seguimiento 3 8 %}

                  <!-- fecha_seguimiento -->
                  <div class="form-group">
                     {% tag_field_popup_datepicker formulario_seguimiento_plan.fecha_seguimiento 3 8 True %}
                  </div>

                  <button type="button" id="id_boton_guardar_seguimiento_plan" class="btn nova-btn btn-primary btn-lg pull-right">
                     <i class="icon icon-left mdi mdi-floppy nova-white"></i>
                     Guardar
                  </button>
               </div>

               <div class="panel panel-default panel-border-color panel-border-color-primary">
                  <div class="panel-heading panel-heading-default nova-border-bottom nova-overflow-hidden">
                     <div class="pull-left nova-modal-title-seguimientos">
                        Evaluador: <strong>Julio Hendandez Perez</strong>. Fecha Seguimiento: <strong>2017-06-19</strong>. Fecha Evaluacion: <strong>2017-06-19</strong>. Criterio: <strong>Criterio 1</strong>
                     </div>
                     <button type="button" class="btn btn-space btn-social nova-btn-delete pull-right"><i class="icon mdi mdi-delete nova-white"></i></button>
                     <button type="button" class="btn btn-space btn-social nova-btn-edit pull-right"><i class="icon mdi mdi-edit nova-white"></i></button>
                  </div>
                  <div class="panel-body">
                     <div class="row">
                        <div class="col-sm-12 nova-modal-informacion">
                           <textarea class="form-control" readonly="">Resultados de seguimiento</textarea>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-12 nova-modal-informacion">

                           <!-- archivo -->
                           {% tag_field_popup formulario_seguimiento_plan.archivo 0 12 %}

                        </div>
                     </div>

                  </div>
               </div>  <!-- Panel -->

            </form><!-- Modal body-->

            <div class="modal-footer nova-modal-footer">
               <div class="row col-sm-12">
                  <button type="button" data-dismiss="modal" class="btn btn-default pull-left">
                     Cerrar
                  </button>
               </div>
            </div>
         </div> <!-- Modal content-->
      </div> <!-- Modal dialog -->
   </div><!-- Modal -->

   <!-- id_tarjeta_evaluacion_plan_accion -->
   <div id="id_tarjeta_evaluacion" role="dialog" class="modal fade colored-header colored-header-primary">
      <div class="modal-dialog custom-width">
         <div class="modal-content">

            <div class="modal-header nova-modal-header">
               <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
               <h3 class="modal-title">Evaluación</h3>
            </div>

            <form id="id_formulario_evaluacion" class="modal-body form-horizontal">

              <!-- resultado -->
              {% tag_filter_radio formulario_seguimiento_plan_evaluacion.resultado %}

              <!-- resultado_evaluacion -->
              {% tag_field_popup formulario_seguimiento_plan_evaluacion.resultado_evaluacion 3 8 %}

              <!-- fecha_evaluacion -->
              <div class="form-group">
                 {% tag_field_popup_datepicker formulario_seguimiento_plan_evaluacion.fecha_evaluacion 3 8 True %}
              </div>

              <!-- criterio_decision -->
              {% tag_field_popup formulario_seguimiento_plan_evaluacion.criterio_decision 3 8 %}

              <!-- observaciones -->
              {% tag_field_popup formulario_seguimiento_plan_evaluacion.observaciones 3 8 %}

              <!-- archivo -->
              {% tag_field_popup formulario_seguimiento_plan_evaluacion.archivo 3 8 %}

            </form><!-- Modal body-->
            <div class="modal-footer nova-modal-footer">
               <div class="row col-sm-12">
                  <button type="button" data-dismiss="modal" class="btn btn-default pull-left">
                     Cerrar
                  </button>

                  <button type="button" id="id_boton_guardar_evaluacion" class="btn nova-btn btn-primary btn-lg pull-right">
                     <i class="icon icon-left mdi mdi-floppy nova-white"></i>
                     Guardar
                  </button>
               </div>
            </div>
         </div> <!-- Modal content-->
      </div> <!-- Modal dialog -->
   </div><!-- Modal -->

   <!-- id_tarjeta_evidencia -->
   <div id="id_tarjeta_evidencia" role="dialog" data-primaryKey="" class="modal fade colored-header colored-header-primary">
      <div class="modal-dialog modal-lg">
         <div class="modal-content nova-modal-maxwidth">

            <div class="modal-header nova-modal-header">
               <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
               <h3 class="modal-title" id="id_popup_titulo_evidencia"></h3>
            </div>

            <form id="id_formulario_evidencia" class="modal-body form-horizontal">

               <span id="id_mensaje_error_evidencia"></span>

               <!-- titulo -->
               {% tag_field_popup formulario_evidencia_hallazgo.titulo 3 8 %}

               <!-- observacion -->
               {% tag_field_popup formulario_evidencia_hallazgo.observacion 3 8 %}

               <!-- archivo_evidencia -->
               {% tag_field_popup formulario_evidencia_hallazgo.archivo 3 8 %}

            </form><!-- Modal body-->

            <div class="modal-footer nova-modal-footer">
               <div class="row col-sm-12">
                  <button type="button" data-dismiss="modal" class="btn btn-default pull-left">
                     Cerrar
                  </button>

                  <button type="button" id="id_boton_guardar_evidencia" class="btn nova-btn btn-primary btn-lg pull-right">
                     <i class="icon icon-left mdi mdi-floppy nova-white"></i>
                     Guardar
                  </button>
               </div>
            </div>
         </div> <!-- Modal content-->
      </div> <!-- Modal dialog -->
   </div><!-- Modal -->

   <!-- id_tarjeta_editar_actividad --> <!-- INVALIDO-Se movieron los campos a los popup de evaluacion y nuevo plan  -->
   <div id="id_tarjeta_editar_actividad" role="dialog" class="modal fade colored-header colored-header-primary">
      <div class="modal-dialog custom-width">
         <div class="modal-content">

            <div class="modal-header nova-modal-header">
               <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
               <h3 class="modal-title">Editar Actividad</h3>
            </div>

            <form id="id_formulario_editar_actividad" class="modal-body form-horizontal">
               <!-- evidencia -->
               <div class="form-group">
                  <label class="col-sm-3 nova-col-filter control-label">Evidencia</label>
                  <div class="col-sm-8 xs-pt-5">
                     <textarea class="form-control textarea" id="id_evidencia">
                     </textarea>
                  </div>
               </div>

               <!-- observaciones -->
               <div class="form-group">
                  <label class="col-sm-3 nova-col-filter control-label">Observaciones</label>
                  <div class="col-sm-8 xs-pt-5">
                     <textarea class="form-control textarea" id="id_plan_observaciones">
                     </textarea>
                  </div>
               </div>

            </form><!-- Modal body-->
            <div class="modal-footer nova-modal-footer">
               <div class="row col-sm-12">
                  <button type="button" data-dismiss="modal" class="btn btn-default pull-left">
                     Cerrar
                  </button>

                  <button type="button" id="id_boton_guardar_editar_actividad" class="btn nova-btn btn-primary btn-lg pull-right">
                     <i class="icon icon-left mdi mdi-search nova-white"></i>
                     Guardar
                  </button>
               </div>
            </div>
         </div> <!-- Modal content-->
      </div> <!-- Modal dialog -->
   </div><!-- Modal -->

</div> <!-- be-content -->

{% endblock contenido %}

{% block scripts %}

   <!-- Beagle Theme -->
   <script src="{% static 'theme/lib/bootstrap-multiselect/js/bootstrap-multiselect.js' %}"></script>
   <script src="{% static 'theme/lib/multiselect/js/jquery.multi-select.js' %}"></script>
   <script src="{% static 'theme/lib/quicksearch/jquery.quicksearch.min.js' %}"></script>
   <script src="{% static 'theme/lib/jquery.maskedinput/jquery.maskedinput.min.js' %}"></script>
   <script src="{% static 'theme/lib/datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>

   <!-- bootstrap-fileinput -->
   <script src="{% static 'libs/bootstrap-fileinput/4.4.2/js/plugins/sortable.min.js' %}" type="text/javascript"></script>
   <script src="{% static 'libs/bootstrap-fileinput/4.4.2/js/plugins/purify.min.js' %}"></script>
   <script src="{% static 'libs/bootstrap-fileinput/4.4.2/js/fileinput.min.js' %}" type="text/javascript"></script>
   <script src="{% static 'libs/bootstrap-fileinput/4.4.2/js/locales/es.js' %}" type="text/javascript"></script>

   <!-- JS Template -->
   <script src="{% static 'hallazgo/hallazgo_detalle.js' %}"></script>

{% endblock scripts %}
