{% extends 'master.html' %}

{% load static from staticfiles %}

{% load custom_tags %}

{% block titulo %} Compras {% endblock titulo %}

{% block title-page %} Compras  {% endblock title-page %}

{% block css %}
   <!-- Kendo -->
   <link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.rtl.min.css' %}"/>
   <link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.common-bootstrap.min.css' %}"/>
   <link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.bootstrap.min.css' %}"/>

   <!-- Theme -->
   <link rel="stylesheet" href="{% static 'theme/lib/datetimepicker/css/bootstrap-datetimepicker.min.css' %}"/>
   <link rel="stylesheet" href="{% static 'theme/lib/daterangepicker/css/daterangepicker.css' %}"/>
   
   <!-- Nova -->
   <link rel="stylesheet" href="{% static 'grid.css' %}"/>

{% endblock css %}

{% block contenido %}

<div class="be-content">

   <div class="page-head">
      <h2 class="page-head-title">Compras</h2>
      <ol class="breadcrumb page-head-nav">
         <li id="menu" data-opcion="compras_seguimiento" class="active">Seguimiento</li>
      </ol>
   </div>

   <div class="main-content container-fluid">
      
      <div class="col-sm-12">
         <div class="panel panel-default panel-table">
            <div class="panel-heading panel-border nova-panel-heading">
               <div class="tools pull-right" id="toolbar">
                  <a href="#id_tarjeta_filtros"
                     class="btn nova-btn btn-rounded btn-sm btn-space btn-primary" data-toggle="modal" id="id_boton_filtro">
                     <i class="icon icon-left mdi mdi-search nova-white"></i> Filtros
                  </a>
                  
                  <button type="submit" name="exportar" value="exportar" class="btn nova-btn btn-rounded btn-space btn-success" id="id_boton_exportar">
                     <i class="icon icon-left mdi mdi-download nova-white"></i>
                     Exportar
                  </button>
               </div>
               <div class="title hidden-xs">Registros</div>
            </div><!-- Panel Heading -->
            <div id="grid_resultados">
            </div>
         </div> <!-- Panel -->
      </div><!-- col sm 12-->

      <!-- Targeta Filtros -->
      <div id="id_tarjeta_filtros" role="dialog" class="modal fade colored-header colored-header-primary">
         <div class="modal-dialog modal-lg">
            <div class="modal-content nova-modal-maxwidth">
               
               <div class="modal-header nova-modal-header">
                  <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
                  <h3 class="modal-title">Filtros</h3>
               </div>
                  
               <form role="form" action="" method="POST" id="id_formulario_filtro" name="formulario_filtro"> {% csrf_token %}

                  <div id="accordion1" class="panel-group accordion nova-modal-accordion">
                     
                     <div class="panel panel-default nova-modal-accordion-panel nova-accordion-border-bottom">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" aria-expanded="true" class="">
                                 <i class="icon mdi mdi-chevron-down"></i> Datos deCompañia:
                              </a>
                           </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true">
                           
                           <div class="nova-accordion-row">

                              <!-- compañia -->
                              {% tag_field_popup_filter form.compania 6 %}

                              <!-- sucursal -->
                              {% tag_field_popup_filter form.sucursal 6 %}

                           </div>

                           <div class="nova-accordion-row">

                              <!-- comprador -->
                              {% tag_field_popup_filter form.comprador 6 %}
                              
                              <!-- requisicion_originador -->
                              {% tag_field_popup_filter form.requisicion_originador 6 %}

                           </div>
                           
                        </div>
                     </div>

                     <div class="panel panel-default nova-modal-accordion-panel nova-accordion-border-bottom">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo" class="collapsed" aria-expanded="false">
                                 <i class="icon mdi mdi-chevron-down"></i> Requisición:
                              </a>
                           </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">

                           <div class="nova-accordion-row">

                              <!-- requisicion -->
                              {% tag_field_popup_filter form.requisicion 4 %}

                              <!-- requisicion_tipo -->
                              {% tag_field_popup_filter form.requisicion_tipo 5 %}

                              <!-- requisicion_canceladas -->
                              <div class="col-sm-3">
                                 <div class="form-group {% if form.requisicion_canceladas.errors %} has-error {% endif %}" id="id_requisicion_canceladas">

                                 <label class="control-label">
                                 <i class="fa {% if form.requisicion_canceladas.errors %} fa-asterisk {% endif %}"></i> 
                                    ¿Mostrar canceladas?
                                 </label>
                                 <div>
                                    {% for radio in form.requisicion_canceladas %}
                                       <div class="be-radio inline">
                                         {{ radio.tag }}
                                         <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                       </div>
                                    {% endfor %}
                                 </div>
                                 {% for error in form.requisicion_canceladas.errors %}
                                    <span class="help-block">{{ error }}</span>
                                 {% endfor %}
                                 </div>
                              </div>

                           </div>

                           <div class="nova-accordion-row">

                              <!-- req_desde  y req_hasta-->
                              {% tag_field_popup_daterangepicker form.req_desde_hasta 6 %}

                           </div>

                        </div>
                     </div>

                     <div class="panel panel-default nova-modal-accordion-panel nova-accordion-border-bottom">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseThree" class="collapsed" aria-expanded="false">
                                 <i class="icon mdi mdi-chevron-down"></i> Cotización:
                              </a>
                           </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                           
                           <div class="nova-accordion-row">

                              <!-- cotizacion -->
                              {% tag_field_popup_filter form.cotizacion 4 %}

                              <!-- cotizacion_tipo -->
                              {% tag_field_popup_filter form.cotizacion_tipo 5 %}

                              <!-- cotizacion_canceladas -->
                              <div class="col-sm-3">
                                 <div class="form-group {% if form.cotizacion_canceladas.errors %} has-error {% endif %}" id="id_cotizacion_canceladas">

                                    <label class="control-label">
                                    <i class="fa {% if form.cotizacion_canceladas.errors %} fa-asterisk {% endif %}"></i> 
                                       ¿Mostrar canceladas?
                                    </label>
                                    <div>
                                       {% for radio in form.cotizacion_canceladas %}
                                          <div class="be-radio inline">
                                            {{ radio.tag }}
                                            <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                          </div>
                                       {% endfor %}
                                    </div>
                                    {% for error in form.cotizacion_canceladas.errors %}
                                       <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                 </div>
                              </div>

                           </div>
                           
                           <div class="nova-accordion-row">

                              <!-- cotización_originador -->
                              {% tag_field_popup_filter form.cotizacion_originador 6 %}

                           </div>

                        </div>
                     </div>

                     <div class="panel panel-default nova-modal-accordion-panel nova-accordion-border-bottom">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFour" class="collapsed" aria-expanded="false">
                                 <i class="icon mdi mdi-chevron-down"></i> Orden de Compra:
                              </a>
                           </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                           
                           <div class="nova-accordion-row">
                              
                              <!-- oc -->
                              {% tag_field_popup_filter form.oc 4 %}
                              
                              <!-- oc_tipo -->
                              {% tag_field_popup_filter form.oc_tipo 5 %}


                              <!-- oc_canceladas -->
                              <div class="col-sm-3">
                                 <div class="form-group {% if form.oc_canceladas.errors %} has-error {% endif %}">

                                 <label class="control-label">
                                 <i class="fa {% if form.oc_canceladas.errors %} fa-asterisk {% endif %}"></i> 
                                    ¿Mostrar canceladas?
                                 </label>
                                 <div>
                                    {% for radio in form.oc_canceladas %}
                                       <div class="be-radio inline">
                                         {{ radio.tag }}
                                         <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                       </div>
                                    {% endfor %}
                                 </div>
                                 {% for error in form.oc_canceladas.errors %}
                                    <span class="help-block">{{ error }}</span>
                                 {% endfor %}
                                 </div>
                              </div>

                           </div>
                           <div class="nova-accordion-row">
                              
                              <!-- oc_desde_hasta -->
                              {% tag_field_popup_daterangepicker form.oc_desde_hasta 4 %}

                              <!-- proveedor -->
                              {% tag_field_popup_filter form.proveedor 4 %}

                              <!-- oc_originador -->
                              {% tag_field_popup_filter form.oc_originador 4 %}
                              
                              

                           </div>

                        </div>
                     </div>

                     <div class="panel panel-default nova-modal-accordion-panel">
                        <div class="panel-heading">
                           <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion1" href="#collapseFive" class="collapsed" aria-expanded="false"><i class="icon mdi mdi-chevron-down"></i> Almacen:</a></h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                           
                           <div class="nova-accordion-row">

                              <!-- item -->
                              {% tag_field_popup_filter form.item 6 %}

                              <!-- recepcion -->
                              {% tag_field_popup_filter form.recepcion 6 %}
                              
                           </div>

                        </div>
                     </div>

                  </div><!-- Accordion-->
               </form>
               <div class="modal-footer nova-modal-footer">
                  <div class="row col-sm-12">
                     <button type="button" data-dismiss="modal" class="btn btn-default pull-left">
                        Cancelar
                     </button>

                     <button type="button" id="boton_limpiar" class="btn btn-default nova-btn">
                        <i class="fa fa-eraser"></i>
                        Limpiar
                     </button>

                     <button type="submit" name="buscar" value="buscar" id="boton_buscar" class="btn nova-btn btn-primary btn-lg pull-right">
                        <i class="icon icon-left mdi mdi-search nova-white"></i>
                        Buscar
                     </button>
                  </div>
               </div>
            </div> <!-- Modal content-->
         </div> <!-- Modal dialog -->
      </div><!-- Modal -->
   
      <!-- tarjeta_detalles-->
      <div id="id_tarjeta_detalles" role="dialog" class="modal fade colored-header colored-header-primary in">
         <div class="modal-dialog custom-width">
            <div class="modal-content">
                 
               <div class="modal-header nova-modal-header">
                  <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
                  <h3 class="modal-title" id="id_titulo_detalles"></h3>
               </div>
               <div id="tabla_detalles" class="nova-div-overflow">
                   
               </div>
               <div class="modal-footer nova-modal-footer">  
                  <div class="row col-sm-12">
                      <button type="button" data-dismiss="modal" class="btn nova-btn btn-primary btn-lg pull-right">Aceptar
                      </button>
                  </div>
               </div>
               
            </div> <!-- Modal content-->
         </div> <!-- Modal dialog -->
      </div><!-- Modal -->

      <!-- tarjeta_acciones-->
      <div id="id_tarjeta_acciones" tabindex="-1" role="dialog" class="modal fade colored-header colored-header-primary">
         <div class="modal-dialog nova-modal-acciones">
            <div class="modal-content">
               <div class="modal-header nova-modal-header">
                  <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span class="mdi mdi-close"></span></button>
                  <h3 class="modal-title">Acciones de la Compra</h3>
                </div>
                <div class="modal-body">
                  <div class="text-center">
                     <div role="group" class="btn-group-vertical btn-space">
                        <button class="btn nova-btn btn-space btn-success btn-lg" id="id_boton_autorizadores">
                           <i class="icon icon-left mdi mdi-accounts nova-white"></i> Autorizadores
                        </button>
                        <button class="btn nova-btn btn-space btn-success btn-lg" id="id_boton_recepciones">
                           <i class="icon icon-left mdi mdi-archive nova-white"></i> Recepciones
                        </button>
                        <button class="btn nova-btn btn-space btn-success btn-lg" id="id_boton_cotejo">
                           <i class="icon icon-left mdi mdi-assignment-check nova-white"></i> Cotejo
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>
</div>

{% endblock contenido %}

{% block scripts %}

   <!--JSZIP -->
   <script src="{% static 'libs/kendo/2015.2.624/js/jszip.min.js' %}"></script>

   <!-- Kendo Js -->
   <script src="{% static 'libs/kendo/2015.2.624/js/cultures/kendo.culture.es-MX.min.js' %}"></script>
   <script src="{% static 'libs/kendo/2015.2.624/js/kendo.web.min.js' %}"></script>

   <!-- Theme -->
   <script src="{% static 'theme/lib/jquery-ui/jquery-ui.min.js' %}"></script>
   <script src="{% static 'theme/lib/datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
   <script src="{% static 'theme/lib/datetimepicker/js/locales/bootstrap-datetimepicker.es.js' %}"></script>
   <script src="{% static 'theme/lib/daterangepicker/js/daterangepicker.js' %}"></script>

   <!-- NOVA -->
   <script src="{% static 'seguimiento_compras.js' %}"></script>

{% endblock scripts %}