{% extends 'master.html' %}

{% load static from staticfiles %}

{% load custom_tags %}

{% block titulo %} Configuración {% endblock titulo %}

{% block title-page %} Configuración de Procesos {% endblock title-page %}

{% block css %}

   <!-- Beagle Theme -->
   <link rel="stylesheet" href="{% static 'theme/lib/multiselect/css/multi-select.css' %}"/>
   
   <!-- bootstrap tree -->
   <link rel="stylesheet" href="{% static 'libs/bootstrap-treeview/1.2.0/css/bootstrap-treeview.css' %}"/>

   <!-- Nova -->
   <link rel="stylesheet" href="{% static 'grid.css' %}"/>

{% endblock css %}

{% block contenido %}

<div class="be-content">

   <div class="page-head nova-page-head">
      <h2 class="page-head-title nova-title">Configuración de Procesos</h2>
      <ol class="breadcrumb page-head-nav pull-right">
         <li><a href="{% url 'home:inicio' %}">Inicio</a></li>
         <li id="menu" data-opcion="calidad_configuracion"><a>Configuración</a></li>
         <li class="active">Proceso</li>
      </ol>
   </div>

   <div class="main-content container-fluid nova-main-content">

      <div class="row wizard-row">
         
         <div class="col-md-12 fuelux">
               
            <div id="wizard1" class="wizard wizard-ux nova-panel-borde-header">
               <ul class="steps">

                  <li class="active">Catálogo Maestro</li>

               </ul>
               <div class="actions">
                  <a href="{% url 'calidad:configuracion_criterio_lista' %}" class="btn btn-xs btn-prev btn-default nova-a-tab">Criterios</a>
                  <a class="btn btn-xs btn-next btn-default nova-a-tab nova-active-tab">Procesos</a>
                  <a href="{% url 'calidad:configuracion_rol_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Roles</a>
                  <a href="{% url 'calidad:configuracion_sitio_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Sitios</a>
                  <a href="{% url 'calidad:configuracion_metodologia_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Metodologías</a>
                  <a href="{% url 'calidad:configuracion_tipo_falla_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Descripciones</a>
                  <a href="{% url 'calidad:configuracion_formato_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Formatos</a>
               </div>
              </div> 
               <div class="panel panel-default">

                  <div class="panel-heading nova-panel-borde-contenido nova-panel-tools">
                     <button class="btn nova-btn btn-rounded btn-sm btn-space btn-success pull-right" id="id_boton_importar">
                        <i class="icon icon-left mdi mdi-download nova-white"></i> Importar
                     </button>
                     <a class="btn nova-btn btn-rounded btn-sm btn-space btn-default pull-right" data-toggle="modal" id="id_boton_nuevo_proceso">
                        <i class="icon icon-left mdi mdi-plus-circle nova-black"></i> Proceso
                     </a>
                  </div><!-- Panel Heading -->

                  <!-- arbol -->
                  <div id="id_arbol" class="nova-panel-arbol">
                  </div>

               </div> <!-- Panel --> 

         </div> <!-- col md 12 -->
      </div> <!-- row wizard row -->
      
   </div> <!-- main content -->

   <!-- Tarjeta proceso -->
   <div id="id_tarjeta_proceso" data-primaryKey="" role="dialog" class="modal fade colored-header colored-header-primary">
      <div class="modal-dialog custom-width">
         <div class="modal-content">
   
            <div class="modal-header nova-modal-header">
               <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
               <h3 id="id_popup_proceso_titulo" class="modal-title"></h3>
            </div>
               
            <form id="id_formulario_proceso" class="modal-body form-horizontal">

               {% tag_field_popup formularioProceso.proceso 2 9 %}

            </form><!-- Modal body-->
            <div class="modal-footer nova-modal-footer">
               <div class="row col-sm-12">
                  <button type="button" data-dismiss="modal" class="btn btn-default pull-left">
                     Cerrar
                  </button>

                  <button type="button" id="id_boton_guardar_proceso" class="btn nova-btn btn-primary btn-lg pull-right">
                     <i class="icon icon-left mdi mdi-floppy nova-white"></i>
                     Guardar
                  </button>
               </div>
            </div>
         </div> <!-- Modal content-->
      </div> <!-- Modal dialog -->
   </div><!-- Modal -->
   
   <!-- Tarjeta responsable -->
   <div id="id_tarjeta_responsable" data-primaryKey="" role="dialog" class="modal fade colored-header colored-header-primary">
      <div class="modal-dialog modal-lg">
         <div class="modal-content nova-modal-maxwidth">
   
            <div class="modal-header nova-modal-header">
               <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
               <h3 class="modal-title">Responsables</h3>
            </div>
               
            <form id="id_formulario_responsable" class="modal-body form-horizontal">

               <div class="form-group">
                  
                  <!-- responsable -->
                  <div class="col-sm-offset-1 col-sm-8">

                     {{ formularioResponsable.responsable }} 
                     
                  </div>
                  <div class="col-sm-2">
                     <button type="button" id="id_boton_agregar" class="btn nova-btn btn-success pull-right">
                        <i class="icon icon-left mdi mdi-plus nova-white"></i>
                        Agregar
                     </button>
                  </div>

               </div>
               <div class="nova-tabla-popup">
                  <div class="nova-div-overflow">
                     <table class="table table-bordered table-hover" id="id_grid_responsable">
                        <thead>
                           <tr>
                              <th class="nova-columna-acciones"></th>
                              <th>No. Empleado</th>
                              <th>Nombre</th>
                           </tr>
                        </thead>
                        <tbody id="id_tbody_responsables">
                           
                        </tbody>
                     </table>
                  </div>
               </div>

            </form><!-- Modal body-->
            <div class="modal-footer nova-modal-footer">
               <div class="row col-sm-12">
                  <button type="button" data-dismiss="modal" id="id_boton_aceptar" class="btn nova-btn btn-primary btn-lg pull-right">
                     <i class="icon icon-left mdi mdi-check nova-white"></i>
                     Aceptar
                  </button>
               </div>
            </div>
         </div> <!-- Modal content-->
      </div> <!-- Modal dialog -->
   </div><!-- Modal -->

   <!-- Tarjeta nuevo subproceso -->
   <div id="id_tarjeta_subproceso" data-primaryKey="" data-primarykeyParent="" role="dialog" class="modal fade colored-header colored-header-primary">
      <div class="modal-dialog custom-width">
         <div class="modal-content">
            
            <div class="modal-header nova-modal-header">
               <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
               <h3 id="id_popup_subproceso_titulo" class="modal-title"></h3>
            </div>
               
            <form id="id_formulario_subproceso" class="modal-body form-horizontal">

               {% tag_field_popup formularioSubproceso.subproceso 3 8 %}

            </form><!-- Modal body-->
            <div class="modal-footer nova-modal-footer">
               <div class="row col-sm-12">
                  <button type="button" data-dismiss="modal" class="btn btn-default pull-left">
                     Cerrar
                  </button>

                  <button type="button" id="id_boton_guardar_subproceso" class="btn nova-btn btn-primary btn-lg pull-right">
                     <i class="icon icon-left mdi mdi-floppy nova-white"></i>
                     Guardar
                  </button>
               </div>
            </div>
         </div> <!-- Modal content-->
      </div> <!-- Modal dialog -->
   </div><!-- Modal -->
</div> <!-- be content -->

{% endblock contenido %}

{% block scripts %}

   <!-- Beagle Theme -->
   <script src="{% static 'theme/lib/multiselect/js/jquery.multi-select.js' %}" type="text/javascript"></script>
   <script src="{% static 'theme/lib/quicksearch/jquery.quicksearch.min.js' %}" type="text/javascript"></script>

   <!-- bootstrap tree -->
   <script src="{% static 'libs/bootstrap-treeview/1.2.0/js/bootstrap-treeview.js' %}" ></script>

   <!-- JS Template -->
   <script src="{% static 'proceso/configuracion_lista.js' %}"></script>      

{% endblock scripts %}
