{% extends 'master.html' %}

{% load static from staticfiles %}

{% load custom_tags %}

{% block titulo %} Procesos de la Auditoría {% endblock titulo %}

{% block title-page %} Procesos de la Auditoría {% endblock title-page %}

{% block css %}

   <!-- DatePicker -->
   <link rel="stylesheet" href="{% static 'libs/bootstrap-datepicker/2.0/dist/css/bootstrap-datepicker.min.css' %}"/>

{% endblock css %}

{% block contenido %}

<div class="be-content">

   <div class="page-head nova-page-head">
      <h2 class="page-head-title nova-title">Procesos de la Auditoría</h2>
      <ol class="breadcrumb page-head-nav pull-right">
         <li><a href="{% url 'home:inicio' %}">Inicio</a></li>
         <li id="menu" data-opcion="auditorias_lista"><a href="{% url 'calidad:auditoria_lista' %}">Procesos de Auditoría</a></li>
         <li class="active">Procesos</li>
      </ol>
   </div>

   <div class="main-content container-fluid nova-main-content">

      <div class="row wizard-row">
         <!-- Tarjeta resultados-->
         <div class="col-md-12 fuelux">

            <div id="wizard1" class="wizard wizard-ux nova-panel-borde-header nova-overflow-visible">
                <div class="nova-wizard-header">

                    <span class="nova-wizard-title">Auditoría No: <strong>{{folio}}</strong></span>
                    <div class="nova-wizard-tools visible-xs-inline-block dropdown"><span data-toggle="dropdown" class="icon mdi mdi-more-vert dropdown-toggle" aria-expanded="false"></span>
                        <ul role="menu" class="dropdown-menu">
                          <li>
                            <a href="{% url 'calidad:general_formulario_update' pk %}">Generales</a>
                          </li>
                          <li>
                            <a href="{% url 'calidad:auditor_formulario_update' pk %}">Equipo Auditor</a>
                          </li>
                          <li class="active">
                            <a>Procesos</a>
                          </li>
                        </ul>
                    </div>

                 </div>
                <div class="actions hidden-xs">
                    <a href="{% url 'calidad:general_formulario_update' pk %}" class="btn btn-xs btn-prev btn-default nova-a-tab">Generales</a>
                    <a href="{% url 'calidad:auditor_formulario_update' pk %}" class="btn btn-xs btn-next btn-default nova-a-tab">Equipo Auditor</a>
                    <a class="btn btn-xs btn-next btn-default nova-a-tab nova-a-tab-border nova-active-tab">Procesos</a>
                </div>
            </div>

            <div class="panel panel-default panel-table">
                  <div class="panel-heading nova-panel-borde-contenido nova-panel-tools">
                     <a href="#id_tarjeta_proceso" class="btn nova-btn btn-rounded btn-sm btn-space btn-default pull-right" data-toggle="modal" id="boton_nuevo">
                        <i class="icon icon-left mdi mdi-plus-circle nova-black"></i>Proceso
                     </a>
                  </div><!-- Panel Heading -->
                  <div id="grid_resultados" class="nova-div-overflow">
                     <table class="table table-bordered table-hover" id="id_grid_proceso">
                        <thead>
                           <tr>
                              <th class="nova-columna-acciones"></th>
                              <th>Subproceso</th>
                              <th>Proceso</th>
                              <!--<th>Jefe del departamento</th>-->
                              <th>Representante del área</th>
                              <th>Auditor</th>
                           </tr>
                        </thead>
                        <tbody>
                          {% if procesos %}
                            {% for proceso in procesos %}
                              <tr class="clickable-row">
                                 <td>
                                    <a href="#id_tarjeta_acciones" data-toggle="modal" data-event="acciones" class="btn nova-btn btn-default" id="id_boton_accion" data-id="{{ pk }}" data-id-pro="{{ proceso.pk }}">
                                       <i class="icon icon-left icon mdi mdi-settings nova-black"></i>
                                    </a>
                                 </td>
                                 <td>
                                    <a href="{% url 'calidad:proceso_formulario_update' pk proceso.pk %}" class="btn btn-default nova-url">{{ proceso.subproceso }}</a>
                                 </td>
                                 <td>{{ proceso.proceso }}</td>
                                 <td>{{ proceso.rep_subpro_nombre_completo }}</td>
                                 <td>{{ proceso.auditor_nombre_completo }}</td>
                                 <!--<td>auditoria.jefedepto</td>-->
                              </tr>
                            {% endfor %}
                          {% else %}
                            <tr class="clickable-row">
                              <td colspan="5" class="nova-aling-center nova-sin-resultados">
                                Sin Procesos de Auditoria Actualmente.
                              </td>
                            </tr>
                          {% endif %}
                        </tbody>
                     </table>
                  </div>
            </div> <!-- Panel -->
         </div> <!-- col sm 12-->
      </div>
      {% if messages %}
          {% for message in messages %}
              <input type="hide" class="hide" value="{{ message }}" id="id_{{ message.extra_tags }}">
          {% endfor %}
      {% endif %}
   </div> <!-- main content -->

   <!-- Targeta Nuevo -->
   <div id="id_tarjeta_proceso" role="dialog" class="modal fade colored-header colored-header-primary">
      <div class="modal-dialog custom-width">
         <div class="modal-content">

            <div class="modal-header nova-modal-header">
               <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
               <h3 class="modal-title">Nuevo proceso</h3>
            </div>

            <form id="formulario_proceso" method="POST"> {% csrf_token %}

              <div class="modal-body form-horizontal">

                <!-- proceso -->
                {% tag_field_popup form.proceso 3 8 %}

                <!-- subproceso -->
                {% tag_field_popup form.subproceso 3 8 %}

                <!-- representante subproceso -->
                {% tag_field_popup form.rep_subproceso 3 8 %}

                <!-- fecha_desde_hasta -->
                {% tag_field_popup_dates 'Fecha Programada desde / hasta' form.fecha_programada_ini form.fecha_programada_fin %}

                <!-- auditor -->
                {% tag_field_popup form.auditor 3 8 %}

                <!-- sitio -->
                {% tag_field_popup form.sitio 3 8 %}

              </div><!-- Modal body-->

              <div class="modal-footer nova-modal-footer">
                 <div class="row col-sm-12">
                    <button type="button" data-dismiss="modal" class="btn btn-default pull-left">
                       Cerrar
                    </button>

                    <button type="submit" id="id_boton_guardar" class="btn nova-btn btn-primary btn-lg pull-right">
                       <i class="icon icon-left mdi mdi-floppy nova-white"></i>
                       Guardar
                    </button>
                 </div>
              </div>
            </form>
         </div> <!-- Modal content-->
      </div> <!-- Modal dialog -->
   </div><!-- Modal -->

   <!-- tarjeta_acciones-->
   <div id="id_tarjeta_acciones" tabindex="-1" role="dialog" class="modal fade colored-header colored-header-primary">
      <div class="modal-dialog nova-modal-acciones">
         <div class="modal-content">
            <div class="modal-header nova-modal-header">

               <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span class="mdi mdi-close"></span></button>
               <h3 class="modal-title">Acciones Del proceso <strong>Licitaciones</strong></h3>

            </div>
            <div class="modal-body">
               <div class="text-center">
                  <div role="group" class="btn-group-vertical btn-space">

                     <a class="btn nova-btn btn-space btn-success btn-lg" id="id_boton_check_list">
                        <i class="icon icon-left mdi mdi-collection-pdf nova-white"></i> Reporte De Check-list
                     </a>
                     <a href="{% url 'calidad:general_formulario_create' %}" class="btn nova-btn btn-space btn-success btn-lg" id="id_boton_reporta_auditoria">
                        <i class="icon icon-left mdi mdi-collection-pdf nova-white"></i> Reporte De Auditoria
                     </a>

                  </div>
               </div>
            </div>
         </div>
      </div>
    </div>

</div> <!-- be-content -->

{% endblock contenido %}

{% block scripts %}

   <!-- DatePicker -->
   <script src="{% static 'libs/bootstrap-datepicker/2.0/dist/js/bootstrap-datepicker.min.js' %}"></script>
   <script src="{% static 'libs/bootstrap-datepicker/2.0/dist/locales/bootstrap-datepicker.es.min.js' %}"></script>

   <!-- JS Template -->
   <script src="{% static 'proceso/proceso_lista.js' %}"></script>

{% endblock scripts %}
