{% extends 'master.html' %}

{% load static from staticfiles %}

{% block titulo %} Requisitos del Proceso {% endblock titulo %}

{% block title-page %} Requisitos del Proceso  {% endblock title-page %}

{% block css %}


{% endblock css %}

{% block contenido %}

<div class="be-content">

   <div class="page-head nova-page-head">
      <h2 class="page-head-title nova-title">Requisitos del Proceso</h2>
      <ol class="breadcrumb page-head-nav pull-right">
         <li><a href="{% url 'home:inicio' %}">Inicio</a></li>
         <li id="menu" data-opcion="auditorias_lista"><a href="{% url 'calidad:auditoria_lista' %}">Procesos de Auditoría</a></li>
         <li><a href="{% url 'calidad:proceso_lista' 1 %}">Procesos</a></li>
         <li class="active">Información</li>
      </ol>
   </div>

   <div class="main-content container-fluid nova-main-content">

      <div class="row wizard-row">

         <!-- Tarjeta formulario-->
         <div class="col-md-12 fuelux">

            <form class="block-wizard panel panel-default nova-panel-borde-header" action="" method="POST" > {% csrf_token %}

               <div id="wizard1" class="wizard wizard-ux">
                  <ul class="steps">

                     <li class="active">Auditoría No: <strong>AUD-01-15</strong>
                     </li>

                  </ul>
                  <div class="actions">
                     <a href="{% url 'calidad:general_formulario_create' %}" class="btn btn-xs btn-prev btn-default nova-a-tab">Generales</a>
                     <a href="{% url 'calidad:auditor_formulario_update' pk %}" class="btn btn-xs btn-next btn-default nova-a-tab">Equipo Auditor</a>
                     <a href="{% url 'calidad:proceso_lista' 1 %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab nova-active-tab">Procesos</a>
                  </div>
                  <div class="nova-content-nav">

                     <div class="nova-breadcrumb-nav"> 
                        <ol class="breadcrumb">
                           <li id="menu" data-opcion="auditorias_lista"><a href="{% url 'calidad:proceso_lista' 1 %}"><span class="badge">Lista de Procesos</span></a></li>
                           <li class="active"><a><span class="badge">Proceso: Licitaciones</a></span></li>
                        </ol>
                     </div>

                     <div role="group" class="btn-group btn-group-justified nova-nav-tab">
                        <a class="btn btn-primary">Información</a>
                        <a href="{% url 'calidad:requisito_lista' %}" class="btn btn-default">Requisitos</a>
                        <a href="{% url 'calidad:hallazgo_lista' %}" class="btn btn-default">Hallazgos</a>
                     </div>

                  </div>
                  <div class="step-content nova-panel-no-border-top">

                     <div class="step-pane active">

                        <div class="form-horizontal group-border-dashed">

                           {{ form.non_field_errors }}

                           <div class="form-group">
                              <label class="col-sm-3 nova-col-filter control-label">Proceso</label>
                              <div class="col-sm-8 xs-pt-5">
                                 <select class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true" id="id_proceso">
                                    <option value="" selected="selected">-------</option>
                                    <option value="JPJ">Capital humano</option>
                                    <option value="LALG">Tecnologías de información</option>
                                    <option value="LALG">Suministro, Logística y Control</option>
                                 </select>
                              </div>
                           </div>

                           <div class="form-group">
                              <label class="col-sm-3 nova-col-filter control-label">Subproceso</label>
                              <div class="col-sm-8 xs-pt-5">
                                 <select class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true" id="id_subproceso">
                                    <option value="" selected="selected">-------</option>
                                    <option value="JPJ">Capacitación, Selección y Reclutamiento</option>
                                 </select>
                              </div>
                           </div>

                           <div class="form-group">
                              <label class="col-sm-3 nova-col-filter control-label">Representante del subproceso</label>
                              <div class="col-sm-8 xs-pt-5">
                                 <select class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true" id="id_representante_subproceso">
                                    <option value="" selected="selected">-------</option>
                                    <option value="JPJ">Juan Perez Jimenez</option>
                                    <option value="LALG">Luis Alberto Lopez Gonzalez</option>
                                 </select>
                              </div>
                           </div>

                           <!-- fecha_desde_hasta -->
                           <div class="form-group">

                              <label class="col-sm-3 control-label">
                                 Fecha Programada desde/hasta
                              </label>

                              <div class="col-sm-4 xs-pt-5">
                                 <div class="input-group date"
                                 data-min-view="2"
                                 data-date-format="yyyy-mm-dd"
                                 id="id_fecha_planificada_desde_input">
                                    {{ form.fecha_partida }}
                                    <input type="text" name="fecha_planificada_desde" required="" class="form-control input-xs" id="id_fecha_planificada_desde">
                                    <span class="input-group-addon nova-addon-button">
                                       <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                 </div>
                              </div>

                              <div class="col-sm-4 xs-pt-5">
                                 <div class="input-group date"
                                 data-min-view="2"
                                 data-date-format="yyyy-mm-dd"
                                 id="id_fecha_planificada_hasta_input">
                                    {{ form.fecha_regreso }}
                                    <input type="text" name="fecha_planificada_hasta" required="" class="form-control input-xs" id="id_fecha_planificada_hasta">
                                    <span class="input-group-addon nova-addon-button">
                                       <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                 </div>
                              </div>

                           </div>

                           <div class="form-group">
                              <label class="col-sm-3 nova-col-filter control-label">Auditor</label>
                              <div class="col-sm-8 xs-pt-5">
                                 <select class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true" id="id_auditor">
                                       <option value="" selected="selected">-------</option>
                                       <option value="JPJ">Juan Perez Jimenez</option>
                                       <option value="LALG">Luis Alberto Lopez Gonzalez</option>
                                 </select>
                              </div>
                           </div>

                           <div class="form-group">
                              <label class="col-sm-3 nova-col-filter control-label">Sitio</label>
                              <div class="col-sm-8 xs-pt-5">
                                 <select class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true" id="id_sitio">
                                       <option value="" selected="selected">-------</option>
                                       <option value="JPJ">Sala de juntas</option>
                                       <option value="LALG">Oficinas</option>
                                 </select>
                              </div>
                           </div>

                        </div> <!-- form-horizontal group-border-dashed -->

                     </div> <!-- step-pane active -->

                  </div> <!-- step-content -->

               </div> <!-- wizard wizard-ux -->
               <!-- Botones -->
               <div class="modal-footer nova-modal-footer">
                  <div class="row col-sm-12">
                     <button type="submit" id="id_boton_guardar" class="btn nova-btn btn-primary btn-lg pull-right">
                        <i class="icon icon-left mdi mdi-save nova-white"></i>
                        Guardar
                     </button>
                  </div>
               </div>
            </form>

         </div> <!-- col sm 12 fuelux -->

      </div> <!-- row wizard-row -->
   </div> <!-- main content -->

</div> <!-- be-content -->

{% endblock contenido %}

{% block scripts %}

   <!-- Beagle Theme -->
   <script src="{% static 'theme/lib/datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
   <script src="{% static 'theme/lib/jquery.maskedinput/jquery.maskedinput.min.js' %}"></script>

   <!-- JS Template -->
   <script src="{% static 'proceso/proceso_formulario.js' %}"></script>

{% endblock scripts %}
