{% extends 'master.html' %}

{% load static from staticfiles %}

{% load custom_tags %}

{% block titulo %} Requisitos del Proceso {% endblock titulo %}

{% block title-page %} Requisitos del Proceso  {% endblock title-page %}

{% block css %}


{% endblock css %}

{% block contenido %}

<div class="be-content">

   <div class="page-head nova-page-head">
      <h2 class="page-head-title nova-title">Edición del Proceso</h2>
      <ol class="breadcrumb page-head-nav pull-right">
         <li><a href="{% url 'home:inicio' %}">Inicio</a></li>
         <li id="menu" data-opcion="auditorias_lista"><a href="{% url 'calidad:auditoria_lista' %}">Procesos de Auditoría</a></li>
         <li><a href="{% url 'calidad:proceso_lista' pk %}">Procesos</a></li>
         <li class="active">Información</li>
      </ol>
   </div>

   <div class="main-content container-fluid nova-main-content">

      <div class="row wizard-row">

         <!-- Tarjeta formulario-->
         <div class="col-md-12 fuelux">

            <form class="block-wizard panel panel-default nova-panel-borde-header" action="" method="POST" > {% csrf_token %}

               <div id="wizard1" class="wizard wizard-ux">
                 <div class="nova-wizard-header">

                     <span class="nova-wizard-title">Auditoría No: <strong>{{folio}}</strong></span>
                     <div class="nova-wizard-tools visible-xs-inline-block dropdown"><span data-toggle="dropdown" class="icon mdi mdi-more-vert dropdown-toggle" aria-expanded="false"></span>
                         <ul role="menu" class="dropdown-menu">
                           <li>
                             <a href="{% url 'calidad:general_formulario_update' pk %}">Generales</a>
                           </li>
                           <li>
                             <a href="{% url 'calidad:auditor_formulario_update' pk %}">Equipo Auditor</a>
                           </li>
                           <li class="active">
                             <a href="{% url 'calidad:proceso_lista' pk %}">Procesos</a>
                           </li>
                         </ul>
                     </div>

                 </div>
                  <div class="actions hidden-xs">
                     <a href="{% url 'calidad:general_formulario_update' pk %}" class="btn btn-xs btn-prev btn-default nova-a-tab">Generales</a>
                     <a href="{% url 'calidad:auditor_formulario_update' pk %}" class="btn btn-xs btn-next btn-default nova-a-tab">Equipo Auditor</a>
                     <a href="{% url 'calidad:proceso_lista' pk %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab nova-active-tab">Procesos</a>
                  </div>
                  <div class="nova-content-nav">

                     <div class="nova-breadcrumb-nav">
                        <ol class="breadcrumb">
                           <li id="menu" data-opcion="auditorias_lista"><a href="{% url 'calidad:proceso_lista' pk %}"><span class="badge">Lista de Procesos</span></a></li>
                           <li class="active"><a><span class="badge">Proceso: {{ proceso }}</a></span></li>
                        </ol>
                     </div>

                     <div role="group" class="btn-group btn-group-justified nova-nav-tab">
                        <a class="btn btn-primary">Información</a>
                        <a href="{% url 'calidad:requisito_lista' pk pk_pro %}" class="btn btn-default">Requisitos</a>
                        <a href="{% url 'calidad:hallazgo_lista' pk pk_pro %}" class="btn btn-default">Hallazgos</a>
                     </div>

                  </div>
                  <div class="step-content nova-panel-no-border-top">

                     <div class="step-pane active">

                        <div class="form-horizontal group-border-dashed">

                           {{ form.non_field_errors }}

                           <!-- proceso -->
                           {% tag_field form.proceso 3 8 %}

                           <!-- subproceso -->
                           {% tag_field form.subproceso 3 8 %}

                           <!-- representante subproceso -->
                           {% tag_field form.rep_subproceso 3 8 %}

                           <!-- fecha_desde_hasta -->
                           <div class="form-group">

                              {% tag_field_date form.fecha_programada_ini 3 4 True %}

                              {% tag_field_date form.fecha_programada_fin 3 4 False %}

                           </div>

                           <!-- auditor -->
                           {% tag_field form.auditor 3 8 %}

                           <!-- sitio -->
                           {% tag_field form.sitio 3 8 %}

                        </div> <!-- form-horizontal group-border-dashed -->

                     </div> <!-- step-pane active -->

                  </div> <!-- step-content -->

               </div> <!-- wizard wizard-ux -->
               <!-- Botones -->
               <div class="modal-footer nova-modal-footer">
                  <div class="row col-sm-12">
                     <button type="submit" id="id_boton_guardar" class="btn nova-btn btn-primary btn-lg pull-right">
                        <i class="icon icon-left mdi mdi-save nova-white"></i>
                        Guardar
                     </button>
                  </div>
               </div>
            </form>

         </div> <!-- col sm 12 fuelux -->

      </div> <!-- row wizard-row -->
   </div> <!-- main content -->

</div> <!-- be-content -->

{% endblock contenido %}

{% block scripts %}

   <!-- Beagle Theme -->
   <script src="{% static 'theme/lib/datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
   <script src="{% static 'theme/lib/jquery.maskedinput/jquery.maskedinput.min.js' %}"></script>

   <!-- JS Template -->
   <script src="{% static 'proceso/proceso_formulario.js' %}"></script>

{% endblock scripts %}
