{% extends 'master.html' %}

{% load static from staticfiles %}

{% block titulo %} Aprobar Documento {% endblock titulo %}

{% block title-page %} Aprobar Documento {% endblock title-page %}

{% block contenido %}

    <div class="be-content">
        <div class="page-head nova-page-head">
    		<h2 class="page-head-title nova-title">Aprobar Documento</h2>
    		<ol class="breadcrumb page-head-nav pull-right">
    			<li><a href="{% url 'home:inicio' %}">Inicio</a></li>
    			<li class="active">
                    <a href="{% url 'seguridad:autorizacion_lista' %}">Autorizaciones</a>
                </li>
                <li id="menu" class="active">Aprobar</li>
    		</ol>
    	</div>

        <div class="main-content container-fluid nova-main-containt">

            <div class="row">
                <div class="col-md-12">

                    <form class="panel panel-border panel-contrast nova-panel-default nova-panel-formulario user-info-list" action="" method="POST"> {% csrf_token %}

                        <div class="panel-heading panel-heading-default nova-panel-heading-formulario text-center">
                            <h3>
                            ¿Esta seguro que desea autorizar el viatico  <a href="{% url 'finanzas:viatico_editar' documento.pk %}">V-{{ documento.pk }}</a> ?
                            </h3>
                        </div>

                        <div class="panel-body">
                            {% include 'tags/message.html' %}
                            <table class="no-border no-strip skills">
                                <tbody class="no-border-x no-border-y">
                                    <tr>
                                        <td class="icon nova-icon nova-label"><span class="mdi mdi-face"></span></td>
                                        <td class="item nova-label">
                                            Empleado:<span class="icon s7-face"></span>
                                            <strong class="nova-item">
                                                {{ documento.empleado_descripcion|default:""|upper }}
                                            </strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="icon nova-icon nova-label"><span class="mdi mdi-shopping-basket"></span></td>
                                        <td class="item nova-label">Unidad Negocio:<span class="icon s7-shopping-basket"></span>
                                            <strong class="nova-item">({{documento.un_clave|default:""}}) {{ documento.un_descripcion|default:""|upper }}</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="icon nova-icon nova-label"><span class="mdi mdi-case"></span></td>
                                        <td class="item nova-label">Empresa:<span class="icon s7-case"></span>
                                            <strong class="nova-item">{{ documento.empresa_descripcion|default:"" }}</strong>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="icon nova-icon nova-label"><span class="glyphicon glyphicon-calendar"></td>
                                        <td class="item nova-label">Partida:<span class="icon s7-glyphicon-calendar"></span>
                                            <strong class="nova-item">{{ documento.fecha_partida|default:""|date:"d F Y" }}</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="icon nova-icon nova-label"><span class="glyphicon glyphicon-calendar"></td>
                                        <td class="item nova-label">Regreso:<span class="icon s7-glyphicon-calendar"></span>
                                            <strong class="nova-item">{{ documento.fecha_regreso|default:""|date:"d F Y" }}</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="icon nova-icon nova-label"><span class="mdi mdi-airplane"></span></td>
                                        <td class="item nova-label">Destino:<span class="icon s7-airplane"></span>
                                            <strong class="nova-item">{{ documento.ciudad_destino|default:"" }}</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="icon nova-icon nova-label"><span class="mdi mdi-flag"></span></td>
                                        <td class="item nova-label">Proposito:<span class="icon s7-flag"></span>
                                            <strong class="nova-item">{{ documento.proposito_viaje|default:"" }}</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="icon nova-icon nova-label"><span class="mdi mdi-money"></span></td>
                                        <td class="item nova-label">Importe:<span class="icon s7-money"></span>
                                            <strong class="nova-item">{{ documento.importe_total }}</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="icon nova-icon nova-label"><span class="mdi mdi-face"></span></td>
                                        <td class="item nova-label">
                                            Autorizador:<span class="icon s7-face"></span>
                                            <strong class="nova-item">
                                                {{ documento.autorizador_descripcion|default:""|upper }}
                                            </strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer nova-modal-footer">
                            <div class="nova-footer-botons">
                                <a href=" {% url 'seguridad:autorizacion_lista' %}" class="btn btn-default">
                                    <i class="icon mdi mdi-arrow-left"></i>
                                    No, Regresar a Listado
                                </a>

                                <button type="submit" id="btn_registrar" class="btn nova-btn btn-success btn-lg pull-right">
                                    Si, lo apruebo
                                </button>
                            </div>
                        </div>
                    </form>
                </div
            </div>
        </div>
    </div>

{% endblock contenido %}
