{% extends 'master.html' %}

{% load static from staticfiles %}

{% load custom_tags %}

{% block titulo %} Autorizaciones {% endblock titulo %}

{% block title-page %} Autorizaciones {% endblock title-page %}

{% block css %}

    <!-- DatePicker -->
    <link rel="stylesheet" href="{% static 'libs/bootstrap-datepicker/2.0/dist/css/bootstrap-datepicker.min.css' %}"/>

{% endblock css %}

{% block contenido %}

<div class="be-content">

    <div class="page-head nova-page-head">
		<h2 class="page-head-title nova-title">Autorizaciones</h2>
		<ol class="breadcrumb page-head-nav pull-right">
			<li><a href="{% url 'home:inicio' %}">Inicio</a></li>
			<li id="menu" data-opcion="viaticos_lista" class="active">Autorizaciones</li>
		</ol>
	</div>

    <!-- Targeta Resultados -->
    <div class="main-content container-fluid nova-main-content">
        <div class="row">
            <div class="col-xs-12 nova-col">

                    <div class="panel panel-default panel-table nova-panel-table">
                        <div class="panel-heading panel-border nova-panel-heading">
                            <div class="widget-head nova-widget-head">
                                <div class="button-toolbar">
                                    <!-- <a href="#tarjeta_filtros"
                                        class="btn nova-btn btn-rounded btn-space btn-primary" data-toggle="modal" id="boton_filtros">
                                        <i class="icon icon-left mdi mdi-search nova-white"></i> Filtros
                                    </a>-->
                                </div>
                                <span class="title hidden-xs">Documentos</span>
                            </div>
                        </div>

                        <div class="panel-body own-panel-body">
                            <div class="table-responsive noSwipe">
                                {% if viaticos %}
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>No. Documento</th>
                                            <th>Empleado</th>
                                            <th>Descripcion Documento</th>
                                            <th>Fechas</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for viatico in viaticos %}
                                    <tr class="clickable-row">
                                        <td>
                                            <a class="btn btn-default" href="{% url 'finanzas:viatico_editar' viatico.pk %}">
                                                VIA-{{viatico.pk}}
                                            </a>
                                        </td>
                                        <td class="cell-detail">
                                            <span>
                                                {{viatico.empleado_descripcion}}
                                            </span>
                                            <span class="cell-detail-description">
                                                {{viatico.empleado_clave}}
                                            </span>
                                        </td>
                                        <td class="cell-detail">
                                            <span>{{ viatico.proposito_viaje }}</span>
                                            <span class="cell-detail-description">
                                                $ {{ viatico.importe_total }}
                                            </span>
                                        </td>
                                        <td class="cell-detail">
                                            <span>Partida: {{ viatico.fecha_partida|date:"j M Y" }}</span>
                                            <span class="cell-detail-description">
                                                Regreso: {{ viatico.fecha_regreso|date:"j M Y" }}
                                            </span>
                                        </td>
                                        <td>
                                            <a class="btn btn-success" href="{% url 'seguridad:autorizacion_aprobar' _type="viatico" _pk=viatico.pk %}">Aprobar</a>
                                            <a class="btn btn-danger"  href="{% url 'seguridad:autorizacion_cancelar' _type="viatico" _pk=viatico.pk %}">Cancelar</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                   </tbody>
                                </table>
                                {% else %}

                                <h3 class="text-center">No se encontraron documentos pendientes que autorizar.</h3>

                                {% endif %}

                            </div>
                        </div>
                  </div>
            </div>
        </div>
	</div>
</div>

{% endblock contenido %}

{% block scripts %}

    <!-- Theme -->
    <script src="{% static 'theme/lib/jquery-ui/jquery-ui.min.js' %}"></script>

    <!-- DatePicker -->
    <script src="{% static 'libs/bootstrap-datepicker/2.0/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap-datepicker/2.0/dist/locales/bootstrap-datepicker.es.min.js' %}"></script>

{% endblock scripts %}
