{% extends 'master.html' %}

{% load static from staticfiles %}

{% load custom_tags %}

{% block titulo %} Equipo Auditor {% endblock titulo %}

{% block title-page %} Equipo Auditor {% endblock title-page %}

{% block css %}

{% endblock css %}

{% block contenido %}

<div class="be-content">

   <div class="page-head nova-page-head">
      <h2 class="page-head-title nova-title">Selección de Equipo Auditor</h2>
      <ol class="breadcrumb page-head-nav pull-right">
         <li><a href="{% url 'home:inicio' %}">Inicio</a></li>
         <li id="menu" data-opcion="auditorias_lista"><a href="{% url 'calidad:auditoria_lista' %}">Procesos de Auditoría</a></li>
         <li class="active">Equipo Auditor</li>
      </ol>
   </div>

   <!-- Targeta Formulario -->
   <div class="main-content container-fluid nova-main-content">

      <div class="row wizard-row">

         <div class="col-md-12 fuelux">
            <form class="block-wizard panel panel-default nova-panel-borde-header" action="" method="POST" > {% csrf_token %}

               <div id="wizard1" class="wizard wizard-ux">
                  <ul class="steps">

                     <li class="active">Auditoría No: {{folio}}</li>

                  </ul>
                  <div class="actions">
                     <a href="{% url 'calidad:general_formulario_update' pk %}" class="btn btn-xs btn-prev btn-default nova-a-tab">Generales</a>
                     <a class="btn btn-xs btn-next btn-default nova-a-tab nova-active-tab">Equipo Auditor</a>
                     <a {% if operation == 'Editar' %}
                          href="{% url 'calidad:proceso_lista' pk %}"
                        {% endif %}
                        class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Procesos
                     </a>
                  </div>
                  <div class="step-content nova-panel-border-top">
                     <div class="step-pane active">

                        <div class="form-horizontal group-border-dashed">

                           <div class="form-group no-padding">
                              <div class="col-sm-7">
                                 <h5 class="wizard-title">Información del equipo auditor:</h5>
                              </div>
                           </div>

                           {{ form.non_field_errors }}

                           <!-- auditor_lider -->
                           {% tag_field form.auditor_lider 3 6 %}

                           <!-- auditores -->
                           {% tag_field form.auditores_designados 3 6 %}

                           <!-- auditores_colaboradores -->
                           {% tag_field form.auditores_colaboradores 3 6 %}

                        </div>
                     </div>
                  </div>

               </div>
               <!-- Botones -->
               <div class="modal-footer nova-modal-footer">

                  <div class="row col-sm-12">

                     <button type="submit" id="id_boton_guardar" class="btn nova-btn btn-primary btn-lg pull-right">
                        <i class="icon icon-left mdi mdi-save nova-white"></i>
                        Guardar
                     </button>

                  </div>
               </div>

            </form>
         </div>
      </div>

   </div>
</div>

{% endblock contenido %}

{% block scripts %}

   <!-- JS Template -->
   <script src="{% static 'auditor/auditor_formulario.js' %}"></script>

{% endblock scripts %}
