.nova-bg-white {
   background-color: #FFFFFF;
}
.nova-color-black {
   color: #000000;
}
.nova-pdf-margins {
   margin: 34mm 25mm 30mm 20mm;
}
.nova-font-f-arial {
   font-family:Arial
}
.nova-font-s-14 {
   font-size: 14px;
}
.nova-font-s-15 {
   font-size: 15px;
}
.nova-font-s-16 {
   font-size: 16px;
}
.nova-font-s-17 {
   font-size: 17px;
}
.nova-font-s-18 {
   font-size: 18px;
}
.nova-font-s-19 {
   font-size: 19px;
}
.nova-bold {
   font-weight: bold;
}
.nova-aling-center {
   text-align:center;
}
.nova-sin-resultados {
   font-size: 32px;
   background-color: #FFFFFF;
}
.nova-aling-right {
   text-align: right;
}

.nova-grid-calidad > tbody > tr > td{
   border: 1px solid #000 !important;
   font-size: 14.6px !important;
}
