.nova-dinamic {
   overflow: hidden;
}
.nova-bg-white {
   background-color: #FFFFFF;
}
.nova-color-black {
   color: #000000;
}
.nova-pdf-margins {
   padding: 34mm 25mm 30mm 20mm;
}
.nova-font-f-arial {
   font-family:Arial
}
.nova-font-s-14 {
   font-size: 14px;
}
.nova-font-s-15 {
   font-size: 15px;
}
.nova-font-s-16 {
   font-size: 16px;
}
.nova-font-s-17 {
   font-size: 17px;
}
.nova-font-s-18 {
   font-size: 18px;
}
.nova-font-s-19 {
   font-size: 19px;
}
.nova-bold {
   font-weight: bold;
}
.nova-aling-center {
   text-align:center;
}
.nova-sin-resultados {
   font-size: 32px;
   background-color: #FFFFFF;
}
.nova-aling-right {
   text-align: right;
}
.nova-td-width-5 {
   width: 5% !important;
}
.nova-td-width-55 {
   width: 55% !important;
}
.nova-td-width-50 {
   width: 50% !important;
}
.nova-td-width-40 {
   width: 40% !important;
}
.nova-td-width-30 {
   width: 30% !important;
}
.nova-td-width-70 {
   width: 70% !important;
}
.nova-ptb-5 {
   padding-top: 5px !important;
   padding-bottom: 5px !important;
}
.nova-grid-calidad > tbody > tr > td{
   border: 1px solid #000 !important;
   font-size: 14.6px !important;
}
.nova-color-gray {
   background-color: #d6d2d2;
}

@media print {

   @page {
      margin: 0px;
   }
   .nova-pdf-header-fix {
      height: 34mm;
   }

   .nova-header-formato {
      position: fixed;
      top: 8mm;
      left: 26%;
      width: 97mm;
      height: 19mm;
   }
   .nova-header-nuvoil {
      position: fixed;
      top: 2mm;
      left: 70%;
   }
   .paginado {
      position: relative;
      top: -14mm;
      left: 28%;
   }
   .nova-footer-sgi {
      position: fixed;
      bottom: 12.5mm;
      left: 71%;
      width: 35mm;
      height: 19mm;
   }
   .page-break {
      display: block;
      page-break-before: always;
   }
}
@media screen {
   .nova-pdf-header {
      height: 0px;
   }
   .nova-header-formato {
      position: absolute;
      top: 30;
      left: 40%;
      width: 97mm;
      height: 19mm;
   }
   .nova-header-nuvoil {
      position: absolute;
      top: -30px;
      left: 76%;
   }
   .paginado {
      position: relative;
      top: -52px;
      left: 42%;
      display: none;
   }
   .nova-footer-sgi {
      float: right !important;
      right: 80%;
      width: 35mm;
      height: 19mm;
      margin-right: 40mm;
   }
}
