{% extends 'master.html' %}

{% load static from staticfiles %}

{% block titulo %} Autorización {% endblock titulo %}

{% block title-page %} Autorización {% endblock title-page %}

{% block css %}

   <!-- Beagle Theme -->
   <link rel="stylesheet" href="{% static 'theme/lib/datetimepicker/css/bootstrap-datetimepicker.min.css' %}" type="text/css"/>

   <!-- wysihtml5 -->
   <link rel="stylesheet" href="{% static 'libs/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">

{% endblock css %}

{% block contenido %}

<div class="be-content">
   <!--HTML INVALIDO-->
   <div class="page-head nova-page-head">
      <h2 class="page-head-title nova-title">Autorización</h2>
      <ol class="breadcrumb page-head-nav pull-right">
         <li><a href="{% url 'home:inicio' %}">Inicio</a></li>
         <li id="menu" data-opcion="auditorias_lista"><a href="{% url 'sgi:auditoria_lista' %}">Procesos de Auditoría</a></li>
         <li class="active">Auditoría</li>
      </ol>
   </div>

   <!-- Targeta Formulario -->
   <div class="main-content container-fluid nova-main-content">

      <div class="row wizard-row">
         
         <div class="col-md-12 fuelux">
            <form class="block-wizard panel panel-default" action="" method="POST" > {% csrf_token %}
               
               <div id="wizard1" class="wizard wizard-ux">
                  <ul class="steps">

                     <li class="active">Auditoría No:</li>

                  </ul>
                  
                  <div class="step-content">
                     <div class="step-pane active">

                        <div class="form-horizontal group-border-dashed">

                           <div class="form-group no-padding">
                              <div class="col-sm-7">
                                 <h5 class="wizard-title">Información de la auditoría:</h5>
                              </div>
                           </div>

                           {{ form.non_field_errors }} 

                           <!-- objetivo -->
                           <div class="form-group">
                              <label class="col-sm-3 control-label">
                                 Objetivo
                              </label>
                              <div class="col-sm-6 xs-pt-5">
                                 <div class="panel-body">
                                    Determinar la conformidad del sistema   
                                 </div>
                              </div>
                           </div>

                           <!-- elaborador -->
                           <div class="form-group">
                              <label class="col-sm-3 control-label">
                                 Elaborador
                              </label>
                              <div class="col-sm-6 xs-pt-5">
                                 <div class="panel-body">
                                    Juan Diaz Ramirez  
                                 </div>
                              </div>
                           </div>

                           <!-- auditores -->
                           <div class="form-group">
                              <label class="col-sm-3 control-label">
                                 Auditores
                              </label>
                              <div class="col-sm-6 xs-pt-5">
                                 <div class="panel-body">
                                    Juan Perez Jimenez
                                    Luis Alberto Lopez Gonzalez
                                    Fernanda Fuentes Rocio
                                    Armando Villanueva Jimenez
                                 </div>
                              </div>
                           </div>

                           <!-- costo -->
                           <div class="form-group">
                              <label class="col-sm-3 control-label">
                                 Costo
                              </label>
                              <div class="col-sm-6 xs-pt-5">
                                 <div class="panel-body">
                                    1200
                                 </div>
                              </div>
                           </div>

                        </div>
                     </div>
                  </div>

               </div>
               <!-- Botones -->
               <div class="modal-footer nova-modal-footer">

                  <div class="row col-sm-12">
                     <button type="button" id="boton_regresar" class="btn btn-default pull-left">
                        <i class="icon mdi mdi-arrow-left"></i>
                        Cancelar
                     </button>

                     <button type="button" id="boton_regresar" class="btn btn-default pull-left">
                        <i class="icon mdi mdi-arrow-left"></i>
                        Rechazar
                     </button>
                     
                     <button type="submit" id="boton_guardar" class="btn nova-btn btn-primary btn-lg pull-right">
                        <i class="icon icon-left mdi mdi-save nova-white"></i>
                        Autorizar
                     </button>
                  </div>
               </div>

            </form>
         </div>
      </div>
      
   </div>
</div>

{% endblock contenido %}

{% block scripts %}

   <!-- Beagle Theme -->
   <script src="{% static 'theme/lib/datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
   <script src="{% static 'theme/lib/jquery.maskedinput/jquery.maskedinput.min.js' %}"></script>

   <!-- InputMask -->
   <script src="{% static 'libs/plugins/input-mask/jquery.inputmask.js' %}"></script>

   <!-- WYSIHTML5 -->
   <script src="{% static 'libs/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>

   <!-- JS Template -->
   <script src="{% static 'auditoria/general_formulario.js' %}"></script>      

{% endblock scripts %}
