{% extends 'master.html' %}

{% load static from staticfiles %}

{% block titulo %} Configuración {% endblock titulo %}

{% block title-page %} Auditores Internos {% endblock title-page %}

{% block css %}
   <!-- Beagle Theme -->
   <link rel="stylesheet" href="{% static 'theme/lib/daterangepicker/css/daterangepicker.css' %}"/>
   <link rel="stylesheet" href="{% static 'theme/lib/bootstrap-multiselect/css/bootstrap-multiselect.css' %}"/>
   <link rel="stylesheet" href="{% static 'theme/lib/multiselect/css/multi-select.css' %}"/>

{% endblock css %}

{% block contenido %}

<div class="be-content">

   <div class="page-head nova-page-head">
      <h2 class="page-head-title nova-title">Configuración de Auditores Internos</h2>
      <ol class="breadcrumb page-head-nav pull-right">
         <li><a href="{% url 'home:inicio' %}">Inicio</a></li>
         <li id="menu" data-opcion="configuracion"><a>Configuración</a></li>
         <li class="active">Auditores Internos</li>
      </ol>
   </div>

   <div class="main-content container-fluid nova-main-content">

      <div class="row wizard-row">
         
         <div class="col-md-12 fuelux">
            <form class="block-wizard panel panel-default nova-panel-borde-header" action="" method="POST" > {% csrf_token %}
               
               <div id="wizard1" class="wizard wizard-ux">
                  <ul class="steps">

                     <li class="active">Catálogo Maestro</li>

                  </ul>
                  <div class="actions">
                     <a href="{% url 'calidad:configuracion_requisito_lista' %}" class="btn btn-xs btn-prev btn-default nova-a-tab">Criterios y Requisitos</a>
                     <a href="{% url 'calidad:configuracion_proceso_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab">Procesos</a>
                     <a href="{% url 'calidad:configuracion_rol_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Roles</a>
                     <a class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab nova-active-tab">Auditores Internos</a>
                     <a href="{% url 'calidad:configuracion_sitio_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Sitios</a>
                     <a href="{% url 'calidad:configuracion_metodologia_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Metodologías</a>
                     <a href="{% url 'calidad:configuracion_tipo_hallazgo_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Hallazgo</a>
                     <a href="{% url 'calidad:configuracion_formato_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Formatos</a>
                  </div>
                  <div class="step-content nova-panel-borde-top">
                     <div class="step-pane active">

                        <div class="form-horizontal group-border-dashed">

                           <div class="form-group no-padding">
                              <div class="col-sm-7">
                                 <h5 class="wizard-title">Información de los auditores internos:</h5>
                              </div>
                           </div>

                           {{ form.non_field_errors }} 

                           <!-- responsable -->
                           <div class="form-group">
                              <label class="col-sm-3 control-label" 
                                 for="{{ form.responsable.id_for_label }}">
                                 Auditores internos
                              </label>
                              <div class="col-sm-6 xs-pt-5">
                                 <select id="id_responsable" multiple="multiple" name="id_responsable[]">
                                    <option value="200006">200006 : Jose Gutierrez Zacarias</option>
                                    <option value="200301">200301 : Javier Hernandez Gomez</option>
                                    <option value="200200">200200 : Fernanda Fuentes Rocio</option>
                                    <option value="200300">200300 : Anahi Campos Fuentes</option>
                                    <option value="200400">200400 : Carolina Mendez Miron</option>
                                 </select>
                              </div>
                              {% for error in form.responsable.errors %}
                                 <span class="help-block">{{ error }}</span>
                              {% endfor %}
                           </div>

                        </div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
      
   </div>
</div>

{% endblock contenido %}

{% block scripts %}

   <!-- Beagle Theme -->
   <script src="{% static 'theme/lib/datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
   <script src="{% static 'theme/lib/jquery.maskedinput/jquery.maskedinput.min.js' %}"></script>
   <script src="{% static 'theme/lib/bootstrap-multiselect/js/bootstrap-multiselect.js' %}" type="text/javascript"></script>
   <script src="{% static 'theme/lib/multiselect/js/jquery.multi-select.js' %}" type="text/javascript"></script>
   <script src="{% static 'theme/lib/quicksearch/jquery.quicksearch.min.js' %}" type="text/javascript"></script>

   <!-- InputMask -->
   <script src="{% static 'libs/plugins/input-mask/jquery.inputmask.js' %}"></script>

   <!-- JS Template -->
   <script src="{% static 'auditor_interno/configuracion_formulario.js' %}"></script>      

{% endblock scripts %}
