{% extends 'master.html' %}

{% load static from staticfiles %}

{% block titulo %} Solicitudes de Auditorías {% endblock titulo %}

{% block title-page %} Solicitudes de Auditorías  {% endblock title-page %}

{% block css %}

   <!-- Beagle Theme -->
   <link rel="stylesheet" href="{% static 'theme/lib/daterangepicker/css/daterangepicker.css' %}"/>

{% endblock css %}

{% block contenido %}

<div class="be-content">

   <div class="page-head nova-page-head">
      <h2 class="page-head-title nova-title">Programa</h2>
      <ol class="breadcrumb page-head-nav pull-right">
         <li><a href="{% url 'home:inicio' %}">Inicio</a></li>
         <li id="menu" data-opcion="programa_lista" class="active">Programa</li>
      </ol>
   </div>

   <div class="main-content container-fluid nova-main-content">
      
      <div class="row">
         <!-- Tarjeta resultados-->
         <div class="col-sm-12 nova-col">
            <div class="panel panel-default panel-table">
               <div class="panel-heading panel-border nova-panel-heading">
                   <div class="tools pull-right" id="toolbar">
                       <a href="#tarjeta_filtros" 
                           class="btn nova-btn btn-rounded btn-space btn-primary" data-toggle="modal" id="boton_filtros">
                           <i class="icon icon-left mdi mdi-search nova-white"></i>Filtros
                       </a>
                       <button class="btn nova-btn btn-rounded btn-space btn-success" id="boton_excel">
                           <i class="icon icon-left mdi mdi-download nova-white"></i>Exportar
                       </button>
                   </div>
                   <div class="title hidden-xs">Registros</div>
               </div><!-- Panel Heading -->
               <div id="grid_resultados" class="nova-div-overflow">
                   <table class="table table-bordered">
                       <thead>
                           <tr>
                               <th rowspan="2">No</th>
                               <th rowspan="2">Proceso</th>
                               <th rowspan="2">Área</th>
                               <th rowspan="2">P / R</th>
                               <th colspan="48" style="text-align:center;">
                                       2017
                                   <tr>
                                       <td colspan="4">Enero</td>
                                       <td colspan="4">Febrero</td>
                                       <td colspan="4">Marzo</td>
                                       <td colspan="4">Abril</td>
                                       <td colspan="4">Mayo</td>
                                       <td colspan="4">Junio</td>
                                       <td colspan="4">Julio</td>
                                       <td colspan="4">Agosto</td>
                                       <td colspan="4">Septiembre</td>
                                       <td colspan="4">Octubre</td>
                                       <td colspan="4">Noviembre</td>
                                       <td colspan="4">Diciembre</td>
                                   </tr>
                               </th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr>
                               <th scope="row" rowspan="2">1</th>
                               <td rowspan="2">Capital humano</td>
                               <td rowspan="2">Capacitación, Selección y Reclutamiento</td>

                               <td>

                                   <td bgcolor="#FF0000"> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                               </td>
                               <tr>
                                  <td></td>

                                   <td bgcolor="#34a853"> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                               </tr>
                           </tr>

                           <tr>
                               <th scope="row" rowspan="2">2</th>
                               <td rowspan="2">Tecnologías de la Información</td>
                               <td rowspan="2">Redes y Telecomunicaciones</td>

                               <td>

                                   <td> <td></td><td bgcolor="#FF0000"></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                               </td>
                               <tr>
                                  <td></td>

                                   <td> <td></td><td bgcolor="#34a853"></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                               </tr>
                           </tr>

                           <tr>
                               <th scope="row" rowspan="2">3</th>
                               <td rowspan="2">Suministro, Logística y Control</td>
                               <td rowspan="2">Compras y Almacén</td>

                               <td>

                                   <td> <td></td><td bgcolor="#FF0000"></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                               </td>
                               <tr>
                                  <td></td>

                                   <td> <td></td><td bgcolor="#34a853"></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                               </tr>
                           </tr>

                           <tr>
                               <th scope="row" rowspan="2">4</th>
                               <td rowspan="2">Facturación y Cobranza</td>
                               <td rowspan="2">Facturación y Cobranza</td>

                               <td>

                                   <td> <td></td><td></td><td></td> </td>   <td bgcolor="#FF0000"> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                               </td>
                               <tr>
                                  <td></td>

                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td bgcolor="#34a853"></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                                   <td> <td></td><td></td><td></td> </td>   <td> <td></td><td></td><td></td> </td>
                               </tr>
                           </tr>
                       </tbody>
                   </table>
               </div>
               <div class="panel-footer panel-border nova-panel-footer panel-border">
               </div><!-- Panel Footer -->
           </div> <!-- Panel -->
         </div> <!-- col sm 12-->
      </div>
   </div> <!-- main content -->

   <!-- Tarjeta filtros-->
   <div id="tarjeta_filtros" role="dialog" class="modal fade colored-header colored-header-primary">
      <div class="modal-dialog custom-width">
         <div class="modal-content">
            
            <div class="modal-header nova-modal-header">
               <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
               <h3 class="modal-title">Filtros</h3>
            </div>
               
            <form id="formulario_filtro" class="modal-body form-horizontal">

               <div class="form-group">
                  <label class="col-sm-3 nova-col-filter control-label">Proceso</label>
                  <div class="col-sm-7 xs-pt-5">
                     <select class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true" id="id_proceso">
                        <option value="" selected="selected">-------</option>
                        <option value="JPJ">Capital humano</option>
                        <option value="LALG">Tecnologías de la Información</option>
                        <option value="LALG">Suministro, Logística y Control</option>
                     </select>
                  </div>
               </div>                

               <div class="form-group">
                  <label class="col-sm-3 nova-col-filter control-label">Área</label>
                  <div class="col-sm-7 xs-pt-5">
                     <select class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true" id="id_area">
                           <option value="" selected="selected">-------</option>
                           <option value="JPJ">Capacitación, Selección y Reclutamiento</option>
                     </select>
                  </div>
               </div>

               <div class="form-group">
                  <label class="col-sm-3 nova-col-filter control-label">Fecha programada</label>
                  <div class="col-sm-7 xs-pt-5">
                     <div class="input-group"> 
                        <input type="text" value="" readonly="" class="form-control input-xs" id="id_fecha_programada">
                        <span class="input-group-addon btn btn-primary">
                           <i class="icon-th mdi mdi-calendar"></i>
                        </span>
                     </div>
                  </div>
               </div>

               <div class="form-group">
                  <label class="col-sm-3 nova-col-filter control-label">Fecha real</label>
                  <div class="col-sm-7 xs-pt-5">
                     <div class="input-group"> 
                        <input type="text" value="" readonly="" class="form-control input-xs" id="id_fecha_real">
                        <span class="input-group-addon btn btn-primary">
                           <i class="icon-th mdi mdi-calendar"></i>
                        </span>
                     </div>
                  </div>
               </div>

               <div class="form-group">
                  <label class="col-sm-3 nova-col-filter control-label">Fecha seguimiento</label>
                  <div class="col-sm-7 xs-pt-5">
                     <div class="input-group"> 
                        <input type="text" value="" readonly="" class="form-control input-xs" id="id_fecha_seguimiento">
                        <span class="input-group-addon btn btn-primary">
                           <i class="icon-th mdi mdi-calendar"></i>
                        </span>
                     </div>
                  </div>
               </div>

            </form><!-- Modal body-->
            <div class="modal-footer nova-modal-footer">
                <div class="row col-sm-12">
                     <button type="button" data-dismiss="modal" class="btn btn-default pull-left">
                        Cancelar
                     </button>

                     <button type="button" id="boton_limpiar" class="btn btn-default nova-btn">
                        <i class="fa fa-eraser"></i>
                        Limpiar
                     </button>

                     <button type="button" id="boton_buscar" class="btn nova-btn btn-primary btn-lg pull-right">
                        <i class="icon icon-left mdi mdi-search nova-white"></i>
                        Buscar
                     </button>
               </div>
            </div>
         </div> <!-- Modal content-->
      </div> <!-- Modal dialog -->
   </div><!-- Modal -->

</div> <!-- be-content -->

{% endblock contenido %}

{% block scripts %}
   
   <!-- Beagle Theme -->
   <script src="{% static 'theme/lib/daterangepicker/js/daterangepicker.js' %}"></script>

   <!-- JS Template -->
   <script src="{% static 'programa_lista.js' %}"></script>

{% endblock scripts %}
