<div class="form-group">

    <label class="col-sm-3 nova-col-filter control-label">
      {{etiqueta}}
    </label>

    <div class="col-sm-4 xs-pt-5">
        <div class="input-group date" id="{{ campo1.auto_id }}_group">
            {{ campo1 }}
            <span class="input-group-addon nova-addon-button">
                <i class="glyphicon glyphicon-calendar"></i>
            </span>
        </div>
    </div>
    <div class="col-sm-4 xs-pt-5">
        <div class="input-group date" id="{{ campo2.auto_id }}_group">
            {{ campo2 }}
            <span class="input-group-addon nova-addon-button">
                <i class="glyphicon glyphicon-calendar"></i>
            </span>
        </div>
    </div>
</div>
