{% extends 'master.html' %}

{% load static from staticfiles %}

{% block titulo %} Configuración {% endblock titulo %}

{% block title-page %} Formatos {% endblock title-page %}

{% block css %}
   <!-- Beagle Theme -->
   <link rel="stylesheet" href="{% static 'theme/lib/daterangepicker/css/daterangepicker.css' %}"/>

   <!-- wysihtml5 -->
   <link rel="stylesheet" href="{% static 'libs/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">

   <!-- Nova -->
   <link rel="stylesheet" href="{% static 'grid.css' %}"/>

{% endblock css %}

{% block contenido %}

<div class="be-content">

   <div class="page-head nova-page-head">
      <h2 class="page-head-title nova-title">Configuración de Formatos</h2>
      <ol class="breadcrumb page-head-nav pull-right">
         <li><a href="{% url 'home:inicio' %}">Inicio</a></li>
         <li id="menu" data-opcion="calidad_configuracion"><a>Configuración</a></li>
         <li class="active">Formatos</li>
      </ol>
   </div>

   <!-- Targeta Formulario -->
   <div class="main-content container-fluid nova-main-content">

      <div class="row wizard-row">
         
         <div class="col-md-12 fuelux">
               
               <div id="wizard1" class="wizard wizard-ux nova-panel-borde-header">
                  <ul class="steps">

                     <li class="active">Catálogo Maestro</li>

                  </ul>
                  <div class="actions">
                     <a href="{% url 'calidad:configuracion_criterio_lista' %}" class="btn btn-xs btn-prev btn-default nova-a-tab">Criterios</a>
                     <a href="{% url 'calidad:configuracion_proceso_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab">Procesos</a>
                     <a href="{% url 'calidad:configuracion_rol_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Roles</a>
                     <a href="{% url 'calidad:configuracion_sitio_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Sitios</a>
                     <a href="{% url 'calidad:configuracion_metodologia_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Metodologías</a>
                     <a href="{% url 'calidad:configuracion_tipo_falla_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Descripciones</a>
                     <a class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab nova-active-tab">Formatos</a>
                  </div>
               </div>
               <div class="panel panel-default panel-table">

                  <div class="panel-heading nova-panel-borde-contenido nova-panel-tools">
                     <a href="#id_tarjeta_nuevo_formato"
                        class="btn nova-btn btn-rounded btn-sm btn-space btn-default pull-right" data-toggle="modal" id="id_boton_nuevo_formato">
                        <i class="icon icon-left mdi mdi-plus-circle nova-black"></i> Formato
                     </a>
                  </div><!-- Panel Heading -->

                  <div id="grid_resultados" class="nova-div-overflow">
                     <table class="table table-bordered table-hover" id="id_grid_formato">
                        <thead>
                           <tr>
                              <th class="nova-columna-acciones"></th>
                              <th>No. de revision</th>
                              <th>Vigencia a partir de</th>
                              <th>Codigo</th>
                              <th>Descripcion</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr class="clickable-row">
                              <td>
                                 <a class="btn nova-btn btn-default nova-btn-delete">
                                    <i class="icon icon-left icon mdi mdi-delete nova-white"></i>
                                 </a>
                              </td>
                              <td>01</td>
                              <td>01-03-2017</td>
                              <td>Fcalidad-G-06-01</td>
                              <td>calidad - FORMATO PLAN DE AUDITORIA INTERNA</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  
               </div> <!-- Panel -->
         </div> <!-- col md 12 -->
      </div> <!-- row wizard row -->
      
   </div> <!-- main content -->

   <!-- Targeta nuevo formato -->
   <div id="id_tarjeta_nuevo_formato" role="dialog" class="modal fade colored-header colored-header-primary">
      <div class="modal-dialog custom-width">
         <div class="modal-content">
            
            <div class="modal-header nova-modal-header">
               <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
               <h3 class="modal-title">Nuevo Formato</h3>
            </div>
               
            <form id="formulario_proceso" class="modal-body form-horizontal">

               <div class="form-group">
                  <label class="col-sm-3 nova-col-filter control-label">No. Revisión</label>
                  <div class="col-sm-8 xs-pt-5">
                     <input type="text" id="id_revision" class="form-control input-xs">
                  </div>
               </div>

               <div class="form-group">
                  <label class="col-sm-3 control-label">
                     Vigencia a Partir de:
                  </label>

                  <div class="col-sm-8 xs-pt-5">
                     <div class="input-group date" 
                     data-min-view="2" 
                     data-date-format="yyyy-mm-dd"
                     id="id_vigencia_input">
                        {{ form.fecha_partida }}
                        <input type="text" name="fecha_planificada_desde" required="" class="form-control input-xs" id="id_vigencia">
                        <span class="input-group-addon nova-addon-button">
                           <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                     </div>
                  </div>
                  {% for error in form.fecha_partida.errors %}
                     <span class="help-block">{{ error }}</span>
                  {% endfor %}
               </div>

               <div class="form-group">
                  <label class="col-sm-3 nova-col-filter control-label">Código</label>
                  <div class="col-sm-8 xs-pt-5">
                     <input type="text" id="id_codigo" class="form-control input-xs">
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-3 nova-col-filter control-label">Descripción</label>
                  <div class="col-sm-8 xs-pt-5">
                     <textarea class="form-control textarea" id="id_descripcion"><!--placeholder-->
                     </textarea>
                  </div>
               </div>

            </form><!-- Modal body-->
            <div class="modal-footer nova-modal-footer">
               <div class="row col-sm-12">
                  <button type="button" data-dismiss="modal" class="btn btn-default pull-left">
                     Cerrar
                  </button>

                  <button type="button" id="id_boton_guardar" class="btn nova-btn btn-primary btn-lg pull-right">
                     <i class="icon icon-left mdi mdi-floppy nova-white"></i>
                     Guardar
                  </button>
               </div>
            </div>
         </div> <!-- Modal content-->
      </div> <!-- Modal dialog -->
   </div><!-- Modal -->

{% endblock contenido %}

{% block scripts %}

   <!-- Beagle Theme -->
   <script src="{% static 'theme/lib/datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
   <script src="{% static 'theme/lib/jquery.maskedinput/jquery.maskedinput.min.js' %}"></script>

   <!-- WYSIHTML5 -->
   <script src="{% static 'libs/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>

   <!-- JS Template -->
   <script src="{% static 'formato/configuracion_lista.js' %}"></script>      

{% endblock scripts %}
