{% extends 'master.html' %}

{% load static from staticfiles %}

{% load custom_tags %}

{% block titulo %} Configuración {% endblock titulo %}

{% block title-page %} Formatos {% endblock title-page %}

{% block css %}

   <!-- DatePicker -->
   <link rel="stylesheet" href="{% static 'libs/bootstrap-datepicker/2.0/dist/css/bootstrap-datepicker.min.css' %}"/>

{% endblock css %}

{% block contenido %}

<div class="be-content">

   <div class="page-head nova-page-head">
      <h2 class="page-head-title nova-title">Configuración de Formatos</h2>
      <ol class="breadcrumb page-head-nav pull-right">
         <li><a href="{% url 'home:inicio' %}">Inicio</a></li>
         <li id="menu" data-opcion="calidad_configuracion"><a>Configuración</a></li>
         <li class="active">Formatos</li>
      </ol>
   </div>

   <!-- Targeta Formulario -->
   <div class="main-content container-fluid nova-main-content">

      <div class="row wizard-row">

         <div class="col-md-12 fuelux">

            <div id="wizard1" class="wizard wizard-ux nova-panel-borde-header nova-overflow-visible">
              <div class="nova-wizard-header">

                  <span class="nova-wizard-title">Catálogo Maestro</span>
                  <div class="nova-wizard-tools visible-xs-inline-block dropdown"><span data-toggle="dropdown" class="icon mdi mdi-more-vert dropdown-toggle" aria-expanded="false"></span>
                      <ul role="menu" class="dropdown-menu">
                        <li>
                          <a href="{% url 'calidad:configuracion_criterio_lista' %}">Criterios</a>
                        </li>
                        <li>
                          <a href="{% url 'calidad:configuracion_proceso_lista' %}">Procesos</a>
                        </li>
                        <li>
                          <a href="{% url 'calidad:configuracion_rol_lista' %}">Roles</a>
                        </li>
                        <li>
                          <a href="{% url 'calidad:configuracion_sitio_lista' %}">Sitios</a>
                        </li>
                        <li>
                          <a href="{% url 'calidad:configuracion_metodologia_lista' %}">Metodologías</a>
                        </li>
                        <li>
                          <a href="{% url 'calidad:configuracion_tipo_falla_lista' %}">Descripciones</a>
                        </li>
                        <li class="active">
                          <a>Formatos</a>
                        </li>
                      </ul>
                   </div>
               </div>
               <div class="actions hidden-xs">
                  <a href="{% url 'calidad:configuracion_criterio_lista' %}" class="btn btn-xs btn-prev btn-default nova-a-tab">Criterios</a>
                  <a href="{% url 'calidad:configuracion_proceso_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab">Procesos</a>
                  <a href="{% url 'calidad:configuracion_rol_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Roles</a>
                  <a href="{% url 'calidad:configuracion_sitio_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Sitios</a>
                  <a href="{% url 'calidad:configuracion_metodologia_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Metodologías</a>
                  <a href="{% url 'calidad:configuracion_tipo_falla_lista' %}" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Descripciones</a>
                  <a class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab nova-active-tab">Formatos</a>
               </div>
            </div>
            <div class="panel panel-default panel-table">

               <div class="panel-heading nova-panel-borde-contenido nova-panel-tools">
                  <a class="btn nova-btn btn-rounded btn-sm btn-space btn-default pull-right" id="id_boton_nuevo_formato">
                     <i class="icon icon-left mdi mdi-plus-circle nova-black"></i> Formato
                  </a>
               </div><!-- Panel Heading -->

               <div id="grid_resultados" class="nova-div-overflow">
                  <table class="table table-bordered table-hover" id="id_grid_formato">
                     <thead>
                        <tr>
                           <th class="nova-columna-acciones"></th>
                           <th>Título</th>
                           <th>No. de revision</th>
                           <th>Vigencia a partir de</th>
                           <th>Codigo</th>
                           <th>Descripcion</th>
                           <th>Compañia</th>
                        </tr>
                     </thead>
                     <tbody id="id_tbody_formato">

                        {% if formatos %}

                           {% for formato in formatos %}

                              <tr class="clickable-row">
                                 <td>
                                    <a class="btn nova-btn btn-default nova-btn-delete" data-id="{{formato.pk}}" data-event="eliminarFormato">
                                       <i class="icon icon-left icon mdi mdi-delete nova-white"></i>
                                    </a>
                                 </td>
                                 <td>
                                    <a class="btn btn-default nova-url" data-event="editarFormato" data-id="{{formato.pk}}">{{formato.titulo}}</a>
                                 </td>
                                 <td>{{formato.no_revision}}</td>
                                 <td>{{formato.vigencia_inicio}}</td>
                                 <td>{{formato.codigo}}</td>
                                 <td>{{formato.descripcion}}</td>
                                 <td>{{formato.compania}}</td>
                              </tr>

                           {% endfor %}

                        {% else %}

                           <tr class="clickable-row">
                              <td colspan="7" class="nova-aling-center nova-sin-resultados">No se encontraron resultados.</td>
                           </tr>

                        {% endif %}

                     </tbody>
                  </table>
               </div>
            </div> <!-- Panel -->
         </div> <!-- col md 12 -->
      </div> <!-- row wizard row -->

   </div> <!-- main content -->

   <!-- Targeta nuevo formato -->
   <div id="id_tarjeta_formato" data-primaryKey="" role="dialog" class="modal fade colored-header colored-header-primary">
      <div class="modal-dialog custom-width">
         <div class="modal-content">

            <div class="modal-header nova-modal-header">
               <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
               <h3 id="id_popup_formato_titulo" class="modal-title"></h3>
            </div>

            <form id="id_formulario_formato" method="POST">{% csrf_token %}

               <div class="modal-body form-horizontal">

                  {% tag_field_popup form.compania 3 8 %}

                  {% tag_field_popup form.titulo 3 8 %}

                  {% tag_field_popup form.no_revision 3 8 %}

                  {% tag_field_popup_datepicker form.vigencia 3 8 %}

                  {% tag_field_popup form.codigo 3 8 %}

                  {% tag_field_popup form.descripcion 3 8 %}

               </div><!-- Modal body-->

               <div class="modal-footer nova-modal-footer">
                  <div class="row col-sm-12">
                     <button type="button" data-dismiss="modal" class="btn btn-default pull-left">
                        Cerrar
                     </button>

                     <button type="button" id="id_boton_guardar" class="btn nova-btn btn-primary btn-lg pull-right">
                        <i class="icon icon-left mdi mdi-floppy nova-white"></i>
                        Guardar
                     </button>
                  </div>
               </div>
            </form>
         </div> <!-- Modal content-->
      </div> <!-- Modal dialog -->
   </div><!-- Modal -->

{% endblock contenido %}

{% block scripts %}

   <!-- DatePicker -->
   <script src="{% static 'libs/bootstrap-datepicker/2.0/dist/js/bootstrap-datepicker.min.js' %}"></script>
   <script src="{% static 'libs/bootstrap-datepicker/2.0/dist/locales/bootstrap-datepicker.es.min.js' %}"></script>

   <!-- JS Template -->
   <script src="{% static 'formato/configuracion_lista.js' %}"></script>

{% endblock scripts %}
