{% extends 'master.html' %}
{% load static from staticfiles %}
{% block titulo %} Capital humano {% endblock titulo %}
{% block title-page %} Dashboard  {% endblock title-page %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'theme/lib/jquery.vectormap/jquery-jvectormap-1.2.2.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'theme/lib/jqvmap/jqvmap.min.css' %}">
{% endblock css %}
{% block contenido %}
<div class="be-content">
   <div class="page-head nova-page-head">
      <h2 class="page-head-title nova-title">Dashboard</h2>
      <ol class="breadcrumb page-head-nav pull-right">
         <li class="active"> <a href="{% url 'home:inicio'%}">Inicio</a></li>
         <li class="active" id="menu" data-opcion="capitalhumano_dashboard">Dashboard</li>
      </ol>
   </div>
   <div class="main-content container-fluid nova-main-content">
      <div class="col-sm-12">

            <!-- Filtro por organizaciones  -->
            <div class="col-sm-12">
               <div class="widget size-highcharts">
                  <label> <h3>Filtro</h3></label>
                  <p>
                  {{ form.organizaciones }}</p>
                  <h3 id="container-mensaje"></h3>
               </div>
               
            </div>
            <!-- Indicador prueba -->
            <div class="col-sm-4">
               <div class="widget widget-tile" id="container-total">
                  <div class="chart sparkline" id="spark1">
                     <canvas class="nova-sparkline"/>
                  </div>
                  <div class="data-info">
                     <div class="desc"><h4>Total de empleados</h4></div>
                     <div class="value">
                        <span class="indicator indicator-equal mdi mdi-chevron-right"></span>
                        <span data-toggle="counter" data-end="113" class="number" id="resultado-total-ac"></span>
                     </div>
                  </div>
               </div>
            </div>


            <!-- Indicador rotacion total -->

            <div class="col-sm-4">
               <div class="widget widget-tile" id="container-rotacion-total">
                  <div class="chart sparkline" id="spark2">
                     <canvas class="nova-sparkline"/>
                  </div>
                  <div class="data-info">
                     <div class="desc"><h4>Rotación total</h4></div>
                     <div class="value">
                        <span class="indicator indicator-equal mdi mdi-chevron-right"></span>
                        <span data-toggle="counter" data-end="113" class="number" id="resultado-rotacion">0</span>
                     </div>
                  </div>
               </div>
            </div>

            <!-- Indicador rotacion por renuncia -->

            <div class="col-sm-4">
               <div class="widget widget-tile" id="container-rotacion-renuncia">
                  <div class="chart sparkline" id="spark3">
                     <canvas class="nova-sparkline" />
                  </div>
                  <div class="data-info">
                     <div class="desc"><h4>Rotación por renuncia</h4></div>
                     <div class="value">
                        <span class="indicator indicator-equal mdi mdi-chevron-right"></span>
                        <span data-toggle="counter" data-end="113" class="number" id="resultado-rotacion-renuncia">0</span>
                     </div>
                  </div>
               </div>
            </div>

            <!-- Indicador grado academico -->
            <div class="col-sm-6">
               <div class="nova-margin-highcharts" id="container-grado"></div>
            </div>
            <!-- Indicador estado civil -->
            <div class="col-sm-6">
               <div class="nova-margin-highcharts" id="container-estado"></div>
            </div>
            <!-- Indicador rango de edad -->
            <div class="col-sm-6">
               <div class="nova-margin-highcharts" id="container-edad"></div>
            </div>
            <!-- Indicador sexo -->
            <div class="col-sm-6">
               <div class="nova-margin-highcharts" id="container-sexo"></div>
            </div>
            <!-- Indicador organizacion -->
            <div class="col-sm-12">
               <div id="container-organizacion"></div>
            </div>
      </div>  <!-- End col-sm-12 -->
   </div><!-- End Main COntent -->
</div>
{% endblock contenido %}
{% block scripts %}
    <!-- Theme Sparkline -->
   <script src="{% static 'theme/lib/jquery.sparkline/jquery.sparkline.min.js' %}" type="text/javascript"></script>

   <!-- Highcharts -->
   <script src="{% static 'libs/highcharts/5.0.11/js/highcharts.js' %}"></script>
   <script src="{% static 'libs/highcharts/5.0.11/js/highcharts-3d.js' %}"></script>
   <script src="{% static 'libs/highcharts/5.0.11/js/highcharts-more.js' %}"></script>

    <!-- CountUp -->
   <script src="{% static 'libs/countUp/countUp-jquery.js' %}"></script>
   <script src="{% static 'libs/countUp/countUp.js' %}"></script>

   <!-- NOVA-->
   <script src="{% static 'dashboard.js' %}"></script>
{% endblock scripts %}