{% extends 'master.html' %}
{% load static from staticfiles %}
{% block titulo %} Capital humano {% endblock titulo %}
{% block title-page %} Organigrama  {% endblock title-page %}
{% block css %}
      <link rel="stylesheet" href="https://cdn.rawgit.com/FortAwesome/Font-Awesome/master/css/font-awesome.min.css">
      <link rel="stylesheet" href="{% static 'libs/OrgChart/css/jquery.orgchart.css' %}"/>
{% endblock css %}
{% block contenido %}
<div class="be-content">
   <div class="page-head">
      <h2 class="page-head-title">Organigrama</h2>
      <ol class="breadcrumb page-head-nav pull-right">
         <li class="active"> <a href="{% url 'home:inicio'%}">Inicio</a></li>
         <li class="active" id="menu" data-opcion="capitalhumano_organigrama">Organigrama</li>
      </ol>
   </div>
   <div class="main-content container-fluid">
      <div class="col-sm-12">
         <div class="panel panel-default panel-table">
            <div class="widget size-highcharts">
                  <label> <h3>Filtros</h3></label>
            	
                  <p>{{ form.organizaciones }}</p>

                  <p>{{ form2.empresas }}</p>
                  <br>
                  <h3 id="container-mensaje"></h3>
            </div>
         </div>
         <ul id="content-data"></ul>
      </div>  <!-- End col-sm-12 -->
   </div><!-- End Main COntent -->
</div>
{% endblock contenido %}
{% block scripts %}
   <!-- OrgChart-->
   <script src="{% static 'libs/OrgChart/js/jquery-ui-1.9.2.custom.min.js' %}"></script>
   <script src="{% static 'libs/OrgChart/js/jquery.orgchart.js' %}"></script>

   <!-- NOVA-->
   <script src="{% static 'empleado_organigrama.js' %}"></script>
{% endblock scripts %}