{% extends 'master.html' %}
{% load static from staticfiles %}
{% block titulo %} Capital humano {% endblock titulo %}
{% block title-page %} Expedientes  {% endblock title-page %}
{% block css %}
	<!-- Kendo -->
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.rtl.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.common-bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.bootstrap.min.css' %}"/>

{% endblock css %}
{% block contenido %}
<div class="be-content">
	<div class="page-head">
		<h2 class="page-head-title">Expedientes</h2>
		<br>
		<ol class="breadcrumb page-head-nav pull-right">
			<li><a href="{% url 'home:inicio'%}">Inicio</a></li>
			<li class="active" id="menu" data-opcion="capitalhumano_expedientes">Expedientes</li>
		</ol>
	</div>

	<!-- Filtro -->

	<div class="main-content container-fluid">

        <div class="col-sm-12">
            <div class="panel panel-border panel-contrast">
                <div class="panel-heading panel-heading-default nova-border-bottom">Filtros
                    <div class="tools" data-toggle="collapse" href="#cabecera_colapsible"><span class="icon mdi mdi-caret-down-circle" id="boton_colapsible"></span>
                    </div>
                </div> 
                <div class="panel-body collapse in" id="cabecera_colapsible">

                    <form action="" method="POST"> {% csrf_token %} 

                        <div class="row">
                                
                            <div class="row nova-padding-row">
                                <!-- Formulario -->
                                <div class="col-sm-3">
                                	<label class="control-label">{{ form.pers_empleado_numero.label }}</label>
                                	<p>
                                        {{ form.pers_empleado_numero }} 
                                    </p>
                                </div>
                                <div class="col-sm-3">
                                	<label class="control-label">{{ form.asig_organizacion_clave.label }}</label>
                                	<p>
                                        {{ form.asig_organizacion_clave }} 
                                    </p>
                                </div>
                                <div class="col-sm-3">
                                	<label class="control-label">{{ form.pers_tipo_codigo.label }}</label>
                                	<p>
                                        {{ form.pers_tipo_codigo }} 
                                    </p>
                                </div>
                                <div class="col-sm-3">
                                	<label class="control-label">{{ form.grup_fase_jde.label }}</label>
                                	<p>
                                        {{ form.grup_fase_jde }} 
                                    </p>
                                </div>
                                <div class="col-sm-3">
                                	<label class="control-label">{{ form.pers_primer_nombre.label }}</label>
                                	<p>
                                        {{ form.pers_primer_nombre }} 
                                    </p>
                                </div>
                                <div class="col-sm-3">
                                	<label class="control-label">{{ form.pers_segundo_nombre.label }}</label>
                                	<p>
                                        {{ form.pers_segundo_nombre }} 
                                    </p>
                                </div>
                                <div class="col-sm-3">
                                	<label class="control-label">{{ form.pers_apellido_paterno.label }}</label>
                                	<p>
                                        {{ form.pers_apellido_paterno }} 
                                    </p>
                                </div>
                                <div class="col-sm-3">
                                	<label class="control-label">{{ form.pers_apellido_materno.label }}</label>
                                	<p>
                                        {{ form.pers_apellido_materno }} 
                                    </p>
                                </div>
                                
                                    
                            </div>
                        </div>
                        <button type="button" id="boton_limpiar" class="btn btn-default pull-left">
                            <i class="fa fa-eraser"></i>
                            Limpiar
                        </button>

                        <button type="submit" id="boton_buscar" class="btn nova-btn btn-primary btn-lg pull-right" method='POST'>
                            <i class="icon icon-left mdi mdi-search nova-white"></i>
                            Buscar
                        </button>
                    </form>
                </div> <!-- Panel Body -->
            </div>  <!-- Panel -->

            <div class="col-ms-12">
		    	<div class="panel panel-default panel-table" id="div_busqueda">
					<div id="grid_resultados">
					</div>
				</div><!-- End Panel default (GRID) -->
		    </div>

        </div>  <!-- col-sm-12 -->
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
	<!-- Kendo Js -->
	<script src="{% static 'libs/kendo/2015.2.624/js/cultures/kendo.culture.es-MX.min.js' %}"></script>
	<script src="{% static 'libs/kendo/2015.2.624/js/kendo.web.min.js' %}"></script>

	<!-- Theme -->
	<script src="{% static 'theme/lib/jquery-ui/jquery-ui.min.js' %}"></script>

	<!-- NOVA-->
   <script src="{% static 'empleado_expedientes.js' %}"></script>
{% endblock scripts %}