{% extends 'master.html' %}
{% load static from staticfiles %}
{% block titulo %} Capital humano {% endblock titulo %}
{% block title-page %} Dashboard  {% endblock title-page %}
{% block css %}
{% endblock css %}
{% block contenido %}
<div class="be-content">
   <div class="page-head">
      <h2 class="page-head-title">Dashboard</h2>
      <ol class="breadcrumb page-head-nav pull-right">
         <li class="active"> <a href="{% url 'home:inicio'%}">Inicio</a></li>
         <li class="active" id="menu" data-opcion="capitalhumano_dashboard">Dashboard</li>
      </ol>
   </div>
   <div class="main-content container-fluid">
      <div class="col-sm-12">
         <div class="">
            <!-- Filtro por organizaciones  -->
            <div class="col-sm-12">
               <div class="widget size-highcharts">
                  <label> <h3>Filtros</h3></label>
                  <p>
                  {{ form.organizaciones.label }}
                  {{ form.organizaciones }}</p>
                  <h3 id="container-mensaje"></h3>
               </div>
               
            </div>
            <!-- Mensaje -->

            <!-- Indicador total de empleados -->
            <div class="col-sm-6">
               <div class="widget size-highcharts" id="container-total">
                  <div class="data-info">
                     <div class="desc"><h2>Total de empleados</h2></div>
                     <div class="value" >
                        <b><h2 id="resultado-total-ac"></h2></b>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Indicador rotacion de personal -->
            <div class="col-sm-6">
               <div class="widget nova-size-highcharts" id="container-rotacion">
                  <div class="data-info">
                     <div class="desc"><h2>Rotación de personal</h2></div>
                     <div class="value" >
                        <b><h2 id="resultado-rotacion"></h2></b>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Indicador grado academico -->
            <div class="col-sm-6">
               <div class="nova-margin-highcharts" id="container-grado"></div>
            </div>
            <!-- Indicador estado civil -->
            <div class="col-sm-6">
               <div class="nova-margin-highcharts" id="container-estado"></div>
            </div>
            <!-- Indicador rango de edad -->
            <div class="col-sm-6">
               <div class="nova-margin-highcharts" id="container-edad"></div>
            </div>
            <!-- Indicador sexo -->
            <div class="col-sm-6">
               <div class="nova-margin-highcharts" id="container-sexo"></div>
            </div>
            <!-- Indicador organizacion -->
            <div id="container-organizacion"></div>

         </div><!-- Panel default -->

      </div>  <!-- End col-sm-12 -->
   </div><!-- End Main COntent -->
</div>
{% endblock contenido %}
{% block scripts %}
   <!-- Highcharts -->
   <script src="{% static 'libs/highcharts/5.0.11/js/highcharts.js' %}"></script>
   <script src="{% static 'libs/highcharts/5.0.11/js/highcharts-3d.js' %}"></script>
   <script src="{% static 'libs/highcharts/5.0.11/js/highcharts-more.js' %}"></script>
   <!-- NOVA-->
   <script src="{% static 'empleado_dashboard.js' %}"></script>
{% endblock scripts %}