{% extends 'master.html' %}
{% load static from staticfiles %}
{% block titulo %} Capital humano {% endblock titulo %}
{% block title-page %} Expedientes  {% endblock title-page %}
{% block css %}
    <!-- Kendo -->
    <link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.rtl.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.common-bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.bootstrap.min.css' %}"/>

    <!-- Theme -->
    <link rel="stylesheet" href="{% static 'theme/lib/datetimepicker/css/bootstrap-datetimepicker.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'theme/lib/daterangepicker/css/daterangepicker.css' %}"/>

    <!-- Nova -->
    <link rel="stylesheet" href="{% static 'grid.css' %}"/>

{% endblock css %}
{% block contenido %}

<div class="be-content">
    <div class="page-head">
        <h2 class="page-head-title">Expedientes</h2>
        <br>
        <ol class="breadcrumb page-head-nav pull-right">
         <li> <a href="{% url 'home:inicio'%}">Inicio</a></li>
         <li id="menu" data-opcion="capitalhumano_expedientes"><a href="
         #">Expedientes</a></li>
        </ol>
    </div>
    <!-- Panel con tabs -->
    <div class="main-content container-fluid">
    {% block tab_expedientes %}
        <div class="fuelux">
            <div id="wizard1" class="wizard wizard-ux nova-panel-borde-header">
                 <ul class="steps">
                        <li class="active">Empleados</li>
                 </ul>
                 <div class="actions">
                        <a class="btn btn-xs btn-prev btn-default nova-a-tab nova-active-tab" id="general" href="{% url 'capitalhumano:empleado_expedientes_general' %}"> Empleados</a>
                        <a class="btn btn-xs btn-prev btn-default nova-a-tab" id="general" href="{% url 'capitalhumano:empleado_expedientes_grado' %}"> Grados academicos</a>
                        <a class="btn btn-xs btn-next btn-default nova-a-tab nova-a-tab-border" id="personales" href="{% url 'capitalhumano:empleado_expedientes_docpersonal' %}">Documentos personales</a>
                        <a class="btn btn-xs btn-next btn-default nova-a-tab nova-a-tab-border" id="capacitaciones" href="{% url 'capitalhumano:empleado_expedientes_doccapacitacion' %}">Capacitacion</a>
                 </div>
            </div>
            <div class="panel panel-default panel-table">
                    <div class="panel-heading nova-panel-borde-contenido nova-panel-tools">
                                <button class="btn nova-btn btn-rounded btn-space btn-success pull-right" id="id_exportar">
                                    <i class="icon icon-left mdi mdi-download nova-white"></i>Exportar
                                </button>
                                <a href="#modal_filtro" class="btn nova-btn btn-rounded btn-space btn-primary pull-right" data-toggle="modal" id="boton_filtros">
                                        <i class="icon icon-left mdi mdi-search nova-white"></i>Filtros
                                </a>
                    </div>
                    <div id="grid_resultados" class="nova-div-overflow">
                    </div>
            </div> <!-- Panel -->
        </div> <!-- col sm 12-->

        <!-- Modal personal-->
        <div id="modal_filtro" role="dialog" class="modal fade colored-header colored-header-primary">
            <div class="modal-dialog custom-width">
                <div class="modal-content">
                    <div class="modal-header nova-modal-header">
                            <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
                            <h3 class="modal-title">Filtros</h3>
                    </div>
                    <div class="modal-body form-horizontal">
                        <!-- NUmero empleado -->
                        <div class="form-group">
                            <label class="col-sm-3 nova-col-filter control-label">{{ form.pers_empleado_numero.label }}<br><small>(EBS)</small></label>
                            <div class="col-sm-8 xs-pt-5">
                                {{ form.pers_empleado_numero }} 
                            </div>
                        </div>                
                        <!-- Organizacion -->
                        <div class="form-group">
                            <label class="col-sm-3 nova-col-filter control-label">{{ form.asig_organizacion_clave.label }}<br><small>(EBS)</small></label>
                            <div class="col-sm-8 xs-pt-5">
                                {{ form.asig_organizacion_clave }}
                            </div>
                        </div>
                        <!-- Tipo empleado -->
                        <div class="form-group">
                            <label class="col-sm-3 nova-col-filter control-label">{{ form.pers_tipo_codigo.label }}<br><small>(EBS)</small></label>
                            <div class="col-sm-8 xs-pt-5">
                                {{ form.pers_tipo_codigo }}
                            </div>
                        </div>   
                        <!-- Centro de costos -->
                        <div class="form-group">
                            <label class="col-sm-3 nova-col-filter control-label">{{ form.grup_fase_jde.label }}<br><small>(EBS)</small></label>
                            <div class="col-sm-8 xs-pt-5">
                                {{ form.grup_fase_jde }}
                            </div>
                        </div>                    
                    </div>
                                
                    <!-- Botones de acción -->
                    <div class="modal-footer nova-modal-footer">
                        <div class="row col-sm-12">
                            <button type="button" id="boton_limpiar" class="btn btn-default pull-left">
                                <i class="fa fa-eraser"></i>
                                Limpiar
                            </button>

                            <button type="submit" id="boton_buscar" class="btn nova-btn btn-primary btn-lg pull-right" method='POST'>
                                <i class="icon icon-left mdi mdi-search nova-white"></i>
                                Buscar
                            </button>
                        </div>
                    </div>
                </div> <!-- Modal content-->
            </div> <!-- Modal dialog -->
        </div><!-- Modal personal-->

    {% endblock tab_expedientes %}
    </div>
</div>  

{% endblock contenido %}
{% block scripts %}
    <!--JSZIP -->
    <script src="{% static 'libs/kendo/2015.2.624/js/jszip.min.js' %}"></script>

    <!-- Kendo Js -->
    <script src="{% static 'libs/kendo/2015.2.624/js/cultures/kendo.culture.es-MX.min.js' %}"></script>
    <script src="{% static 'libs/kendo/2015.2.624/js/kendo.web.min.js' %}"></script>

    <!-- Theme -->
    <script src="{% static 'theme/lib/jquery-ui/jquery-ui.min.js' %}"></script>

    <!-- NOVA-->
     <script src="{% static 'empleado_expedientes_general.js' %}"></script>
{% endblock scripts %}