{% extends 'master.html' %}
{% load static from staticfiles %}
{% block titulo %} Capital humano {% endblock titulo %}
{% block title-page %} Organigrama  {% endblock title-page %}
{% block css %}
	<link rel="stylesheet" href="{% static 'lib/kendo/2015.2.624/styles/kendo.rtl.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'lib/kendo/2015.2.624/styles/kendo.common-bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'lib/kendo/2015.2.624/styles/kendo.bootstrap.min.css' %}"/>
{% endblock css %}
{% block contenido %}
<div class="be-content">
   <div class="page-head">
      <h2 class="page-head-title">Organigrama</h2>
      <ol class="breadcrumb page-head-nav pull-right">
         <li class="active"> <a href="{% url 'home:inicio'%}">Inicio</a></li>
         <li class="active" id="menu" data-opcion="capitalhumano_organigrama">Organigrama</li>
      </ol>
   </div>
   <div class="main-content container-fluid">
      <div class="col-sm-12">
         <div class="panel panel-default panel-table">

         	<div id="example">
	    		<div id="diagram"></div>
			</div>
            
         </div> <!-- End panel default -->
      </div>  <!-- End col-sm-12 -->
   </div><!-- End Main COntent -->
</div>
{% endblock contenido %}
{% block scripts %}
   <!-- Kendo diagram -->
   <script src="{% static 'libs/jquery/3.1.1/jquery.min.js' %}"></script>
	<script src="{% static 'libs/kendo/2015.2.624/js/kendo.all.min.js' %}"></script>

   <!-- NOVA-->
   <script src="{% static 'empleado_organigrama.js' %}"></script>
{% endblock scripts %}