{% extends 'master.html' %}
{% load static from staticfiles %}
{% load custom_tags %}
{% block titulo %} Capital humano {% endblock titulo %}
{% block title-page %} Expediente  {% endblock title-page %}
{% block css %}
	<!-- Kendo -->
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.rtl.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.common-bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.bootstrap.min.css' %}"/>

	<!-- Nova -->
    <link rel="stylesheet" href="{% static 'grid.css' %}"/>

	<!-- Theme -->
    <link rel="stylesheet" href="{% static 'theme/lib/datetimepicker/css/bootstrap-datetimepicker.min.css' %}" type="text/css"/>
{% endblock css %}
{% block contenido %}
{% for dato in empleado %}
<div class="be-content">

	<div class="page-head nova-page-head nova-fix-user-profile">
		<h2 class="page-head-title nova-title">Expediente</h2>
		<ol class="breadcrumb page-head-nav pull-right">
			<li><a href="{% url 'home:inicio' %}">Inicio</a></li>
			<li class="active" id="menu" data-opcion="capitalhumano_expedientes"><a href="{% url 'capitalhumano:empleado_expedientes_general'%}">Expedientes</a></li>
		</ol>
	</div>

	<div class="main-content container-fluid nova-main-content">
		<div class="user-profile">
			<div class="row">
				<input type="hide" class="hide" value="{{ dato.pers_empleado_numero }}" id="numero_empleado">
				<input type="hide" class="hide" value="{{ request.user.profile.pk }}" id="created_by">
				<div class="col-md-12">
					<!-- Encabezado perfil -->
					<div class="user-display panel-border">
						<div class="user-display-bottom">
							<div class="user-display-avatar"><img src="{{ ruta }}" alt="Avatar"></div>
							<div class="user-display-info">
								<div class="name">{{ dato.pers_nombre_completo }}</div>
								<br>
							</div>
							<div class="row user-display-details">
								<div class="col-xs-4">
									<div class="title">No Empleado</div>
									<div class="counter">{{ dato.pers_empleado_numero }}</div>
								</div>
								<div class="col-xs-4">
									<div class="title">Fecha Ingreso</div>
									<div class="counter">{{ fecha_contratacion }}</div>
								</div>
								<div class="col-xs-4">
									<div class="title">Centro costos</div>
									<div class="counter">{{ dato.grup_fase_jde }}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Informacion perfil -->
				<div class="col-md-6">
					<div class="user-info-list panel panel-default panel-border">
						<div class="panel-heading nova-panel-heading-divider">Información personal
						</div>
						<div class="panel-body">
							<table class="no-border no-strip skills">
								<tbody class="no-border-x no-border-y">
									<tr>
										<td class="icon nova-icon-gray"><span class="mdi mdi-face"></span></td>
										<td class="item">Genero</td>
										<td>{{ dato.pers_genero_desc|upper }}</td>
									</tr>
									<tr>
										<td class="icon nova-icon-gray"><span class="mdi mdi-collection-text"></span></td>
										<td class="item">CURP</td>
										<td>{{ dato.pers_curp }}</td>
									</tr>
									<tr>
										<td class="icon nova-icon-gray"><span class="mdi mdi-male-female"></span></td>
										<td class="item">Estado civil</td>
										<td>{{ dato.pers_estado_civil_desc }}</td>
									</tr>
									<tr>
										<td class="icon nova-icon-gray"><span class="mdi mdi-cake"></span></td>
										<td class="item">Fecha de Nacimiento</td>
										<td>{{ fecha_nacimiento }}</td>
									</tr>
									<tr>
										<td class="icon nova-icon-gray"><span class="mdi mdi-globe-alt"></span></td>
										<td class="item">Lugar de nacimiento</td>
										<td>{{ dato.pers_ciudad_nacimiento }}, {{ dato.pers_estado_nacimiento }}</td>
									</tr>
									<tr>
										<td class="icon nova-icon-gray"><span class="icon mdi mdi-globe"></span></td>
										<td class="item">Pais de nacimiento</td>
										<td>{{ dato.pers_pais_nacimiento_clave }}</td>
									</tr>
									<tr>
										<td class="icon nova-icon-gray"><span class="mdi mdi-email"></span></td>
										<td class="item">Correo</td>
										<td>{{ dato.pers_email }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="user-info-list panel panel-default panel-border">
						<div class="panel-heading nova-panel-heading-divider">Información del trabajo</div>
						<div class="panel-body">
							<table class="no-border no-strip skills">
								<tbody class="no-border-x no-border-y">
									<tr>
										<td class="icon nova-icon-gray"><span class="mdi mdi-home "></span></td>
										<td class="item">Organizacion</td>
										<td>{{ dato.asig_organizacion_desc }}</td>
									</tr>
									<tr>
										<td class="icon nova-icon-gray"><span class="mdi mdi-case"></span></td>
										<td class="item">Puesto</td>
										<td>{{ dato.asig_puesto_desc }}</td>
									</tr>
									<tr>
										<td class="icon nova-icon-gray"><span class="mdi mdi-pin"></span></td>
										<td class="item">Ubicacion</td>
										<td>{{ dato.asig_ubicacion_desc }}</td>
									</tr>
									<tr>
										<td class="icon nova-icon-gray"><span class="mdi mdi-male-alt"></span></td>
										<td class="item">Jefe directo</td>
										<td>{{ dato.asig_jefe_directo_desc }}</td>
									</tr>
									<tr>
										<td class="icon nova-icon-gray"><span class="mdi mdi-collection-text"></span></td>
										<td class="item">Categoria</td>
										<td>{{ dato.asig_grado_desc }} {{ dato.asig_trabajo_desc }}</td>
									</tr>
									<tr>
										<td class="icon nova-icon-gray"><span class="mdi mdi-collection-text"></span></td>
										<td class="item">RFC</td>
										<td>{{ dato.pers_rfc }}</td>
									</tr>
									<tr>
										<td class="icon nova-icon-gray"><span class="mdi mdi-collection-text"></span></td>
										<td class="item">IMSS</td>
										<td>{{ dato.pers_numero_imss }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<!-- Panel con tabs -->
			<div class="fuelux">
	            <div id="wizard1" class="wizard wizard-ux nova-panel-borde-header nova-overflow-visible">
	               	<div class="nova-wizard-header">
			            <span class="nova-wizard-title">Documentos</span>
			            <div class="nova-wizard-tools visible-xs-inline-block dropdown"><span data-toggle="dropdown" class="icon mdi mdi-more-vert dropdown-toggle" aria-expanded="false"></span>
			                <ul role="menu" class="dropdown-menu">
			                   <li class="active" id="per">
			                     	<a>Documentos personales</a>
			                   </li>
			                   <li id="cap">
			                     	<a>Capacitacion</a>
			                   </li>
			                   <li>
			                     	<a>Incidencia</a>
			                   </li>
			                   <li>
			                       <a>Desempeño</a>
			                   </li>
			                </ul>
			            </div>
			        </div>
	               <div class="actions hidden-xs">
	                  <a class="btn btn-xs btn-prev btn-default nova-a-tab nova-active-tab" id="personales" >Documentos personales</a>
	                  <a class="btn btn-xs btn-next btn-default nova-a-tab" id="capacitaciones">Capacitacion</a>
	                  <a class="btn btn-xs btn-next btn-default nova-a-tab nova-a-tab-border nova-tab">Incidencia</a>
	                  <a href="" class="btn btn-xs btn-next btn-default nova-a-tab-border nova-a-tab">Desempeño</a>
	               </div>
	            </div>
	            <div class="panel panel-default panel-table">
	                  <div class="panel-heading nova-panel-borde-contenido nova-panel-tools">
	                     <a href="#modal_nuevo" class="btn nova-btn btn-rounded btn-sm btn-space btn-default pull-right " data-toggle="modal" id="boton_nuevo_per">
	                        <i class="icon icon-left mdi mdi-plus-circle nova-black"></i> Nuevo documento
	                     </a>
	                     <a href="#modal_nuevo_cap" class="btn nova-btn btn-rounded btn-sm btn-space btn-default pull-right hidden" data-toggle="modal" id="boton_nuevo_cap">
	                        <i class="icon icon-left mdi mdi-plus-circle nova-black"></i> Nueva capacitación
	                     </a>
	                  </div><!-- Panel Heading -->
	                  <div id="grid_resultados" class="nova-div-overflow">
	                  </div>
	            </div> <!-- Panel -->
	        </div> <!-- col sm 12-->

		</div>
	</div>
</div>
<!-- Modal ver archivos-->
<div id="modal_ver_informacion" role="dialog" class="modal fade colored-header colored-header-primary">
    <div class="modal-dialog custom-width nova-modal-responsive">
        <div class="modal-content nova-modal-content-responsive">

            <div class="modal-header nova-modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
                <h3 class="modal-title">Archivos adjuntos</h3>
            </div>

				<div class="modal-body form-horizontal" id="contenido">


				</div>

                <!-- Botones de acción -->
                <div class="modal-footer nova-modal-footer">
                     <div class="row col-sm-12">
						<button type="button" class="btn btn-primary pull-right" id="id_boton_salir" >Salir</button>
                    </div>
                </div>
        </div> <!-- Modal content-->
    </div> <!-- Modal dialog -->
</div><!-- Modal -->
<!-- Modal ver archivos-->
<div id="modal_nuevo" role="dialog" class="modal fade colored-header colored-header-primary">
    <div class="modal-dialog custom-width nova-modal-responsive">
        <div class="modal-content nova-modal-content-responsive">

            <div class="modal-header nova-modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
                <h3 class="modal-title">Nuevo documento personal</h3>
            </div>
            	<form action="" method="POST" enctype="multipart/form-data" id="formulario_per"> {% csrf_token %}

					<div class="modal-body form-horizontal">
						<!-- Agrupador -->
						{% tag_field_popup form.agrupador 3 8 %}

						<!-- Tipo -->
						{% tag_field_popup form.tipo_documento 3 8 %}

	                    <!-- Vigencia -->
	                    <div class="form-group">

	                        <label class="col-sm-3 nova-col-filter control-label">
	                            Vigencia inicio/fin
	                            <br>
	                            <small>(OPCIONAL)</small>
	                        </label>

	                        <div class="col-sm-4 xs-pt-5">
	                            <div class="input-group date"
	                            data-min-view="2"
	                            data-date-format="yyyy-mm-dd"
	                            id="id_vigencia_inicio_input">
	                                {{ form.vigencia_inicio }}
	                                <span class="input-group-addon nova-addon-button">
	                                    <span class="glyphicon glyphicon-calendar"></span>
	                                </span>
	                            </div>
	                        </div>
	                        <div class="col-sm-4 xs-pt-5">
	                            <div class="input-group date"
	                            data-min-view="2"
	                            data-date-format="yyyy-mm-dd"
	                            id="id_vigencia_fin_input">
	                                {{ form.vigencia_fin }}
	                                <span class="input-group-addon nova-addon-button">
	                                    <span class="glyphicon glyphicon-calendar"></span>
	                                </span>
	                            </div>
	                        </div>
	                    </div>

	                    <!-- Documento -->
	                    {% tag_field_popup form.archivo 3 8 %}

					</div>
				</form>

                <!-- Botones de acción -->
                <div class="modal-footer nova-modal-footer">
                     <div class="row col-sm-12">
                        <button type="button" data-dismiss="modal" class="btn btn-default pull-left" id="id_boton_cancelar_per">
                            Cancelar
                        </button>
						<button type="button" class="btn btn-primary pull-right" id="id_boton_guardar_personal" ><i class="icon icon-left mdi mdi-save nova-white"></i> Guardar</button>
                    </div>
                </div>
        </div> <!-- Modal content-->
    </div> <!-- Modal dialog -->
</div><!-- Modal personal-->

<!-- Modal capacitacion-->
<div id="modal_nuevo_cap" role="dialog" class="modal fade colored-header colored-header-primary">
    <div class="modal-dialog custom-width nova-modal-responsive">
        <div class="modal-content nova-modal-content-responsive">

            <div class="modal-header nova-modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close nova-white"></span></button>
                <h3 class="modal-title">Nueva capacitación</h3>
            </div>
            <form action="" method="POST" enctype="multipart/form-data" id="form_capacitacion"> {% csrf_token %}
				<div class="modal-body form-horizontal">
					 <!-- Departamento -->
					 <input class="form-control input-xs hide" id="id_departamento" readonly="True" value="{{ dato.asig_organizacion_clave }}"></input>

					<!-- Agrupador -->
					{% tag_field_popup form2.agrupadorcap 3 8 %}

                  	<!-- Area -->
                  	{% tag_field_popup form2.area 3 8 %}

					<!-- Curso -->
					{% tag_field_popup form2.curso 3 8 %}

					<!-- Proveedor -->
					{% tag_field_popup form2.proveedor 3 8 %}

                    <!-- Modalidad -->
                    {% tag_field_popup form2.modalidad 3 8 %}

					<!-- Lugar -->
					{% tag_field_popup form2.lugar 3 8 %}

                    <!-- Costo -->
                    {% tag_field_popup form2.costo 3 8 %}

                    <!-- Moneda -->
                    {% tag_field_popup form2.moneda 3 8 %}

                    <!-- Duracion -->
                    {% tag_field_popup form2.duracion 3 8 %}

                    <!-- Fecha inicio/fin -->
                    <div class="form-group">

                        <label class="col-sm-3 nova-col-filter control-label">
                            Fecha inicio/fin
                        </label>

                        <div class="col-sm-4 xs-pt-5">
                            <div class="input-group date"
                            data-min-view="2"
                            data-date-format="yyyy-mm-dd"
                            id="id_fecha_inicio_input">
                                {{ form2.fecha_inicio }}
                                <span class="input-group-addon nova-addon-button">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4 xs-pt-5">
                            <div class="input-group date"
                            data-min-view="2"
                            data-date-format="yyyy-mm-dd"
                            id="id_fecha_fin_input">
                                {{ form2.fecha_fin }}
                                <span class="input-group-addon nova-addon-button">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
					<!-- Observaciones -->
					{% tag_field_popup form2.observaciones 3 8 %}

                    <!-- Documento -->
                    {% tag_field_popup form2.archivocap 3 8 %}

				</div>
			</form>

            <!-- Botones de acción -->
            <div class="modal-footer nova-modal-footer">
                 <div class="row col-sm-12">
                    <button type="button" data-dismiss="modal" class="btn btn-default pull-left" id="id_boton_cancelar_cap">
                        Cancelar
                    </button>
                    <button type="button" class="btn btn-primary pull-right" id="id_boton_guardar_capacitacion"><i class="icon icon-left mdi mdi-save nova-white"></i> Guardar</button>
                </div>
            </div>
        </div> <!-- Modal content-->
    </div> <!-- Modal dialog -->
</div><!-- Modal capacitacion-->


{% endfor %}
{% endblock contenido %}
{% block scripts %}
	<!-- Kendo Js -->
	<script src="{% static 'libs/kendo/2015.2.624/js/cultures/kendo.culture.es-MX.min.js' %}"></script>
	<script src="{% static 'libs/kendo/2015.2.624/js/kendo.web.min.js' %}"></script>

	<!-- Theme InputMask -->
	<script src="{% static 'theme/lib/jquery.maskedinput/jquery.maskedinput.min.js' %}"></script>

   	<!-- InputMask -->
   	<script src="{% static 'libs/plugins/input-mask/jquery.inputmask.js' %}"></script>

	<!-- Theme -->
	<script src="{% static 'theme/lib/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static 'theme/lib/moment.js/min/moment.min.js' %}"></script>
    <script src="{% static 'theme/lib/datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'theme/lib/datetimepicker/js/locales/bootstrap-datetimepicker.es.js' %}"></script>

	<!-- NOVA-->
   	<script src="{% static 'empleado_expediente.js' %}"></script>
{% endblock scripts %}
