{% extends 'usuarios/usuario_formulario.html' %}

{% block formulario %}
<div class="col-sm-12">
    <div class="panel panel-default panel-table">
        <div class="panel-heading panel-border nova-panel-heading">
            <div class="tools pull-right" id="toolbar">
                <a href="{% url 'usuarios:usuario_lista' %}" 
                   class="btn nova-btn btn-rounded btn-space btn-default" id="boton_nuevo">Regresar 
                </a>
            </div>
            <div class="title hidden-xs">Editar usuario</div>
        </div><!-- Panel Heading -->
        <div class="panel-body panel-body-contrast">
                    <form action="" method="POST"> {% csrf_token %} 
                      {{ form.as_p }}
                      <div class="pull-right">
                        <a href="{% url 'usuarios:usuario_lista' %}" 
                            class="btn nova-btn btn-rounded btn-space btn-default" id="boton_nuevo">Regresar 
                        </a>
                        <button type="submit" class="btn btn-primary" id="id_boton_guardar_edicion" >Guardar cambios</button>
                    </div>
                    </form>
                </div>
        </div>
        <div class="panel-footer panel-border nova-panel-footer panel-border">
            {% if id_cabecera %}    
                <a href="" class="btn btn-rounded btn-space btn-warning pull-right btn-margen-der" id="id_boton_guardar_edicion">
                    <i class="icon icon-left mdi mdi-alert-triangle"></i> Guardar cambios
                </a>
            {% endif %}
        </div><!-- Panel Footer -->
    </div> <!-- Panel -->
</div><!-- col sm 12-->
{% endblock formulario %}