{% extends 'master.html' %}

{% load static from staticfiles %}

{% block titulo %} Usuarios {% endblock titulo %}

{% block title-page %} Busqueda {% endblock title-page %}

{% block css %}
	<!-- Kendo -->
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.rtl.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.common-bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.bootstrap.min.css' %}"/>

    <!-- Nova -->
    <link rel="stylesheet" href="{% static 'grid.css' %}"/>



{% endblock css %}


{% block contenido %}
	<div class="be-content">
	    
	    <div class="col-md-10">
         	<div class="main-content container-fluid">  
			<div class="col-md-12">
	                <div class="panel panel-default panel-table">
	                    <div class="panel-heading panel-border nova-panel-heading"> 
	                        <div class="tools pull-right nova-tools" id="toolbar">
								<a href="{% url 'usuarios:usuario_lista' %}" 
	                                class="btn nova-btn btn-rounded btn-space btn-default" id="boton_nuevo">Registrados 
	                            </a>

	                            <a href="{% url 'usuarios:usuario_nuevo' %}" 
	                                class="btn nova-btn btn-rounded btn-space btn-default" id="boton_nuevo">
	                                <i class="icon icon-left mdi mdi-plus-circle nova-black"></i>Nuevo 
	                            </a>

	                            <button class="btn nova-btn btn-rounded btn-space btn-primary" id="boton_restablecer">
                                	<i class="icon icon-left mdi mdi-replay nova-white"></i>Restablecer
                            	</button>

	                        </div>
	                        <div class="title hidden-xs">Busqueda de usuario</div>
	                    </div><!-- Panel Heading -->
	                    <div class="panel-body panel-body-contrast">
			                <form action="" method="POST"> {% csrf_token %}	
			                  {{ form.as_p }}
			                  <div class="pull-right">
								<a href="{% url 'usuarios:usuario_lista' %}" 
			                        class="btn nova-btn btn-rounded btn-space btn-default" id="boton_nuevo">Regresar 
			                    </a>
								<button type="submit" class="btn btn-primary" id="id_boton_guardar" >Guardar usuario</button>
							</div>
			                </form>
                		</div>
	              </div> <!-- Panel -->
	        </div><!-- col md 12 -->
	</div>     
         </div>
    </div>
{% endblock contenido %}

{% block scripts %}
	<!-- Kendo Js -->
	<script src="{% static 'libs/kendo/2015.2.624/js/cultures/kendo.culture.es-MX.min.js' %}"></script>
	<script src="{% static 'libs/kendo/2015.2.624/js/kendo.web.min.js' %}"></script>

    <!-- Theme -->
    <script src="{% static 'theme/lib/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'theme/lib/moment.js/min/moment.min.js' %}"></script>

	<!-- NOVA -->
	<script src="{% static 'usuario/usuario_lista.js' %}"></script>      

{% endblock scripts %}