{% extends 'incidencia/incidencia_nuevo.html' %}

{% block EditarIncidencia %}
<div class="col-sm-12">
    <div class="panel panel-default panel-table">
        <div class="panel-heading panel-border nova-panel-heading">
            <div class="tools pull-right" id="toolbar">
                <a class="btn btn-rounded btn-space btn-default" href="#lineasModal" data-toggle="modal" id="boton_nueva_linea">
                    <i class="icon icon-left mdi mdi-plus-circle nova-black"></i>Linea
                </a>
            </div>
        
        </div><!-- Panel Heading -->
    </div> <!-- Panel -->
</div><!-- col sm 12-->
{% endblock EditarIncidencia %}
