{% extends 'master.html' %}

{% load static from staticfiles %}

{% block titulo %} Incidencia {% endblock titulo %}

{% block title-page %} Nueva Incidencia {% endblock title-page %}

{% block css %}
	<!-- Kendo -->
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.rtl.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.common-bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.bootstrap.min.css' %}"/>

    <!-- Theme -->
    <link rel="stylesheet" href="{% static 'theme/lib/datetimepicker/css/bootstrap-datetimepicker.min.css' %}"/>




{% endblock css %}


{% block contenido %}


<div class="be-content">
    <div class="page-head">
        <h2 class="page-head-title">Nueva Incidencia</h2>
        <ol class="breadcrumb page-head-nav">
            <li><a href="#">Inicio</a></li>
           {#  <li><a href="{% url 'finanzas:viatico_lista' %}">Viaticos</a></li> #}
            <li class="active">{% if id_cabecera %}Edición {% else %} Nuevo {% endif %}</li>
        </ol>
    </div>
    <div class="main-content container-fluid">  
			 
		<div class="col-sm-12">
			<div class="panel panel-border panel-contrast">
	            <div class="panel-heading panel-heading-default nova-border-bottom">Solicitud de incidencia: {% if id %}<strong value="{{ id }}" id="registrable">{{ id }}</strong>{% endif %}
	               	{% if operation != '' %} <span class="label label-primary nova-label-centrado">{{ operation }}</span> {% endif %}
	               	<div class="tools" data-toggle="collapse" href="#cabecera_colapsible">{% if registrable %}<span class="icon mdi mdi-caret-down-circle" id="boton_colapsible"></span>{% endif %}</div>
	            </div> 
	            <div class="panel-body collapse {% if not registrable %}in{% endif %}" id="cabecera_colapsible">

	                <form action="" method="POST"> {% csrf_token %}	

							<div class="row">
													
								<!-- Tipo de Incidencia -->
								<div class="col-sm-4">

									<div class="form-group {% if form.tipo.field.required %} has-warning {% endif %} {% if form.tipo.errors %} has-error {% endif %}">

									<label class="control-label">
									<i class="fa {% if form.tipo.field.required %} fa-asterisk {% endif %} {% if form.tipo.errors %} fa-asterisk {% endif %}"></i> 
										{{ form.tipo.label }} 
									</label>
									<p>
										{{ form.tipo }}	
									</p>
									{% for error in form.tipo.errors %}
										<span class="help-block">{{ error }}</span>
									{% endfor %}
									</div>
								</div>

							</div>

							<div class="row">
													
								<!-- Es registrable -->
								<div class="col-sm-4">

									<div class="form-group {% if form.es_registrable.field.required %} has-warning {% endif %} {% if form.es_registrable.errors %} has-error {% endif %}">

									<label class="control-label">
									<i class="fa {% if form.es_registrable.field.required %} fa-asterisk {% endif %} {% if form.es_registrable.errors %} fa-asterisk {% endif %}"></i> 
										{{ form.es_registrable.label }} 
									</label>
									<p>
										{{ form.es_registrable}}	
									</p>
									{% for error in form.es_registrable.errors %}
										<span class="help-block">{{ error }}</span>
									{% endfor %}
									</div>
								</div>

							</div>


                                <div class="row">

								<!-- Empleado ID-->
								<div class="col-sm-6">

									<div class="form-group {% if form.empleado_id.field.required %} has-warning {% endif %} {% if form.empleado_id.errors %} has-error {% endif %}">

									<label class="control-label">
									<i class="fa {% if form.empleado_id.field.required %} fa-asterisk {% endif %} {% if form.empleado_id.errors %} fa-asterisk {% endif %}"></i> 
										{{ form.empleado_id.label }} 
									</label>
									<p>
										{{ form.empleado_id }}	
									</p>
									{% for error in form.empleado_id.errors %}
										<span class="help-block">{{ error }}</span>
									{% endfor %}
									</div>
								</div>

								</div>

								
								<div class="row">

								<!-- Empleado -->
								<div class="col-sm-6">

									<div class="form-group {% if form.empleado_nombre.field.required %} has-warning {% endif %} {% if form.empleado_nombre.errors %} has-error {% endif %}">

									<label class="control-label">
									<i class="fa {% if form.empleado_nombre.field.required %} fa-asterisk {% endif %} {% if form.empleado_nombre.errors %} fa-asterisk {% endif %}"></i> 
										{{ form.empleado_nombre.label }} 
									</label>
									<p>
										{{ form.empleado_nombre }}	
									</p>
									{% for error in form.empleado_nombre.errors %}
										<span class="help-block">{{ error }}</span>
									{% endfor %}
									</div>
								</div>
								</div>
                                

                                <div class="row">
                                <!-- Empleado Zona-->
								<div class="col-sm-6">

									<div class="form-group {% if form.empleado_zona.field.required %} has-warning {% endif %} {% if form.empleado_zona.errors %} has-error {% endif %}">

									<label class="control-label">
									<i class="fa {% if form.empleado_zona.field.required %} fa-asterisk {% endif %} {% if form.empleado_zona.errors %} fa-asterisk {% endif %}"></i> 
										{{ form.empleado_zona.label }} 
									</label>
									<p>
										{{ form.empleado_zona }}	
									</p>
									{% for error in form.empleado_zona.errors %}
										<span class="help-block">{{ error }}</span>
									{% endfor %}
									</div>
								</div>
								</div>
                                
                                <!-- Empleado proyecto id-->
                                <div class="row">
								<div class="col-sm-6">

									<div class="form-group {% if form.empleado_proyecto.field.required %} has-warning {% endif %} {% if form.empleado_proyecto.errors %} has-error {% endif %}">

									<label class="control-label">
									<i class="fa {% if form.empleado_proyecto.field.required %} fa-asterisk {% endif %} {% if form.empleado_proyecto.errors %} fa-asterisk {% endif %}"></i> 
										{{ form.empleado_proyecto.label }} 
									</label>
									<p>
										{{ form.empleado_proyecto }}	
									</p>
									{% for error in form.empleado_proyecto.errors %}
										<span class="help-block">{{ error }}</span>
									{% endfor %}
									</div>
								</div>
								</div>

								<!-- Empleado proyecto -->
								<div class="row">
								<div class="col-sm-6">

									<div class="form-group {% if form.empleado_proyecto_desc.field.required %} has-warning {% endif %} {% if form.empleado_proyecto_desc.errors %} has-error {% endif %}">

									<label class="control-label">
									<i class="fa {% if form.empleado_proyecto_desc.field.required %} fa-asterisk {% endif %} {% if form.empleado_proyecto_desc.errors %} fa-asterisk {% endif %}"></i> 
										{{ form.empleado_proyecto_desc.label }} 
									</label>
									<p>
										{{ form.empleado_proyecto_desc }}	
									</p>
									{% for error in form.empleado_proyecto_desc.errors %}
										<span class="help-block">{{ error }}</span>
									{% endfor %}
									</div>
								</div>
								</div>


                                <!-- Empleado puesto id -->
                                <div class="row">
								<div class="col-sm-6">

									<div class="form-group {% if form.empleado_puesto.field.required %} has-warning {% endif %} {% if form.empleado_puesto.errors %} has-error {% endif %}">

									<label class="control-label">
									<i class="fa {% if form.empleado_puesto.field.required %} fa-asterisk {% endif %} {% if form.empleado_puesto.errors %} fa-asterisk {% endif %}"></i> 
										{{ form.empleado_puesto.label }} 
									</label>
									<p>
										{{ form.empleado_puesto }}	
									</p>
									{% for error in form.empleado_puesto.errors %}
										<span class="help-block">{{ error }}</span>
									{% endfor %}
									</div>
								</div>
								</div>

								<!-- Empleado puesto -->
								<div class="row">
								<div class="col-sm-6">

									<div class="form-group {% if form.empleado_puesto_desc.field.required %} has-warning {% endif %} {% if form.empleado_puesto_desc.errors %} has-error {% endif %}">

									<label class="control-label">
									<i class="fa {% if form.empleado_puesto_desc.field.required %} fa-asterisk {% endif %} {% if form.empleado_puesto_desc.errors %} fa-asterisk {% endif %}"></i> 
										{{ form.empleado_puesto_desc.label }} 
									</label>
									<p>
										{{ form.empleado_puesto_desc }}	
									</p>
									{% for error in form.empleado_puesto_desc.errors %}
										<span class="help-block">{{ error }}</span>
									{% endfor %}
									</div>
								</div>
								</div>

								<!-- Empleado unidad negocio -->
								<div class="row">
								<div class="col-sm-6">

									<div class="form-group {% if form.empleado_un.field.required %} has-warning {% endif %} {% if form.empleado_un.errors %} has-error {% endif %}">

									<label class="control-label">
									<i class="fa {% if form.empleado_un.field.required %} fa-asterisk {% endif %} {% if form.empleado_un.errors %} fa-asterisk {% endif %}"></i> 
										{{ form.empleado_un.label }} 
									</label>
									<p>
										{{ form.empleado_un }}	
									</p>
									{% for error in form.empleado_un.errors %}
										<span class="help-block">{{ error }}</span>
									{% endfor %}
									</div>
								</div>
								</div>


								<!-- Empleado organizacion -->
								<div class="row">
								<div class="col-sm-6">

									<div class="form-group {% if form.empleado_organizacion.field.required %} has-warning {% endif %} {% if form.empleado_organizacion.errors %} has-error {% endif %}">

									<label class="control-label">
									<i class="fa {% if form.empleado_organizacion.field.required %} fa-asterisk {% endif %} {% if form.empleado_organizacion.errors %} fa-asterisk {% endif %}"></i> 
										{{ form.empleado_organizacion.label }} 
									</label>
									<p>
										{{ form.empleado_organizacion }}	
									</p>
									{% for error in form.empleado_organizacion.errors %}
										<span class="help-block">{{ error }}</span>
									{% endfor %}
									</div>
								</div>
								</div>

                                <!-- area id -->
                                <div class="row">
								<div class="col-sm-6">

									<div class="form-group {% if form.area.field.required %} has-warning {% endif %} {% if form.area.errors %} has-error {% endif %}">

									<label class="control-label">
									<i class="fa {% if form.area.field.required %} fa-asterisk {% endif %} {% if form.area.errors %} fa-asterisk {% endif %}"></i> 
										{{ form.area.label }} 
									</label>
									<p>
										{{ form.area }}	
									</p>
									{% for error in form.area.errors %}
										<span class="help-block">{{ error }}</span>
									{% endfor %}
									</div>
								</div>
								</div>

								<!-- area descripcion -->
								<div class="row">
								<div class="col-sm-6">

									<div class="form-group {% if form.area_descripcion.field.required %} has-warning {% endif %} {% if form.area_descripcion.errors %} has-error {% endif %}">

									<label class="control-label">
									<i class="fa {% if form.area_descripcion.field.required %} fa-asterisk {% endif %} {% if form.area_descripcion.errors %} fa-asterisk {% endif %}"></i> 
										{{ form.area_descripcion.label }} 
									</label>
									<p>
										{{ form.area_descripcion }}	
									</p>
									{% for error in form.area_descripcion.errors %}
										<span class="help-block">{{ error }}</span>
									{% endfor %}
									</div>
								</div>
								</div>

								<!-- lugar  -->
								<div class="row">
								<div class="col-sm-6">

									<div class="form-group {% if form.lugar.field.required %} has-warning {% endif %} {% if form.lugar.errors %} has-error {% endif %}">

									<label class="control-label">
									<i class="fa {% if form.lugar.field.required %} fa-asterisk {% endif %} {% if form.lugar.errors %} fa-asterisk {% endif %}"></i> 
										{{ form.lugar.label }} 
									</label>
									<p>
										{{ form.lugar }}	
									</p>
									{% for error in form.lugar.errors %}
										<span class="help-block">{{ error }}</span>
									{% endfor %}
									</div>
								</div>
								</div>

								<!-- Dias Incapacidad  -->
								<div class="row">
								<div class="col-sm-6">

									<div class="form-group {% if form.dias_incapcidad.field.required %} has-warning {% endif %} {% if form.dias_incapcidad.errors %} has-error {% endif %}">

									<label class="control-label">
									<i class="fa {% if form.dias_incapcidad.field.required %} fa-asterisk {% endif %} {% if form.dias_incapcidad.errors %} fa-asterisk {% endif %}"></i> 
										{{ form.dias_incapcidad.label }} 
									</label>
									<p>
										{{ form.dias_incapcidad }}	
									</p>
									{% for error in form.dias_incapcidad.errors %}
										<span class="help-block">{{ error }}</span>
									{% endfor %}
									</div>
								</div>
								</div>

								<!-- Centro de Atencion  -->
								<div class="row">
								<div class="col-sm-6">

									<div class="form-group {% if form.centro_atencion.field.required %} has-warning {% endif %} {% if form.centro_atencion.errors %} has-error {% endif %}">

									<label class="control-label">
									<i class="fa {% if form.centro_atencion.field.required %} fa-asterisk {% endif %} {% if form.centro_atencion.errors %} fa-asterisk {% endif %}"></i> 
										{{ form.centro_atencion.label }} 
									</label>
									<p>
										{{ form.centro_atencion }}	
									</p>
									{% for error in form.centro_atencion.errors %}
										<span class="help-block">{{ error }}</span>
									{% endfor %}
									</div>
								</div>
								</div>


								<!-- ACR tiene  -->
								<div class="row">
								<div class="col-sm-6">

									<div class="form-group {% if form.tiene_acr.field.required %} has-warning {% endif %} {% if form.tiene_acr.errors %} has-error {% endif %}">

									<label class="control-label">
									<i class="fa {% if form.tiene_acr.field.required %} fa-asterisk {% endif %} {% if form.tiene_acr.errors %} fa-asterisk {% endif %}"></i> 
										{{ form.tiene_acr.label }} 
									</label>
									<p>
										{{ form.tiene_acr }}	
									</p>
									{% for error in form.tiene_acr.errors %}
										<span class="help-block">{{ error }}</span>
									{% endfor %}
									</div>
								</div>
								</div>

								<!-- Status  -->
								<div class="row">
								<div class="col-sm-6">

									<div class="form-group {% if form.status.field.required %} has-warning {% endif %} {% if form.status.errors %} has-error {% endif %}">

									<label class="control-label">
									<i class="fa {% if form.status.field.required %} fa-asterisk {% endif %} {% if form.status.errors %} fa-asterisk {% endif %}"></i> 
										{{ form.status.label }} 
									</label>
									<p>
										{{ form.status }}	
									</p>
									{% for error in form.status.errors %}
										<span class="help-block">{{ error }}</span>
									{% endfor %}
									</div>
								</div>
								</div><!-- Row -->


					<div class="pull-right">
						<button type="submit" class="btn btn-primary" >Guardar incidencia</button>
					</div>
						
					</form>

              	</div> <!-- Panel Body -->
            </div>	<!-- Panel -->
		</div>	<!-- col-sm-12 -->

		
    </div>

	
{% endblock contenido %}

{% block scripts %}
	<!-- Kendo Js -->
	<script src="{% static 'libs/kendo/2015.2.624/js/cultures/kendo.culture.es-MX.min.js' %}"></script>
	<script src="{% static 'libs/kendo/2015.2.624/js/kendo.web.min.js' %}"></script>

    <!-- Theme -->
    <script src="{% static 'theme/lib/datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'theme/lib/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'theme/lib/moment.js/min/moment.min.js' %}"></script>

	<!-- NOVA -->
	<script src="{% static 'incidencia/incidencia_formulario.js' %}"></script>      

{% endblock scripts %}

