{% extends 'master.html' %}

{% load static from staticfiles %}

{% block titulo %} Incidencia {% endblock titulo %}

{% block title-page %} Nueva Incidencia {% endblock title-page %}

{% block css %}
	<!-- Kendo -->
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.rtl.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.common-bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.bootstrap.min.css' %}"/>

    <!-- Theme -->
    <link rel="stylesheet" href="{% static 'theme/lib/datetimepicker/css/bootstrap-datetimepicker.min.css' %}"/>




{% endblock css %}


{% block contenido %}


<div class="be-content">
    <div class="page-head">
        <h2 class="page-head-title">Nueva Incidencia</h2>
        <ol class="breadcrumb page-head-nav">
            <li><a href="#">Inicio</a></li>
           {#  <li><a href="{% url 'finanzas:viatico_lista' %}">Viaticos</a></li> #}
            <li class="active">{% if id_cabecera %}Edición {% else %} Nuevo {% endif %}</li>
        </ol>
    </div>
    <div class="main-content container-fluid">  
			 
		<div class="col-sm-12">
			<div class="panel panel-border panel-contrast">
	            <div class="panel-heading panel-heading-default nova-border-bottom">Solicitud de incidencia: {% if registrable %}<strong value="{{ registrable }}" id="registrable">{{ registrable }}</strong>{% endif %}
	               	{% if operation != '' %} <span class="label label-primary nova-label-centrado">{{ operation }}</span> {% endif %}
	               	<div class="tools" data-toggle="collapse" href="#cabecera_colapsible">{% if registrable %}<span class="icon mdi mdi-caret-down-circle" id="boton_colapsible"></span>{% endif %}</div>
	            </div> 
	            <div class="panel-body collapse {% if not registrable %}in{% endif %}" id="cabecera_colapsible">

	                <form action="" method="POST"> {% csrf_token %}	

							<div class="row">
													
								<!-- Empleado -->
								<div class="col-sm-4">

									<div class="form-group {% if form.empleado_nombre.field.required %} has-warning {% endif %} {% if form.empleado_nombre.errors %} has-error {% endif %}">

									<label class="control-label">
									<i class="fa {% if form.empleado_nombre.field.required %} fa-asterisk {% endif %} {% if form.empleado_nombre.errors %} fa-asterisk {% endif %}"></i> 
										{{ form.empleado_nombre.label }} 
									</label>
									<p>
										{{ form.empleado_nombre }}	
									</p>
									{% for error in form.empleado_nombre.errors %}
										<span class="help-block">{{ error }}</span>
									{% endfor %}
									</div>
								</div>

							</div>

								
								<div class="row">

								<!-- Unidad de Negocio -->
								<div class="col-sm-6">

									<div class="form-group {% if form.empleado_un.field.required %} has-warning {% endif %} {% if form.empleado_un.errors %} has-error {% endif %}">

									<label class="control-label">
									<i class="fa {% if form.empleado_un.field.required %} fa-asterisk {% endif %} {% if form.empleado_un.errors %} fa-asterisk {% endif %}"></i> 
										{{ form.empleado_un.label }} 
									</label>
									<p>
										{{ form.empleado_un }}	
									</p>
									{% for error in form.empleado_un.errors %}
										<span class="help-block">{{ error }}</span>
									{% endfor %}
									</div>
								</div>
                                
                                <!-- Ciudad de destino -->
								<div class="col-sm-6">

									<div class="form-group {% if form.empleado_zona.field.required %} has-warning {% endif %} {% if form.empleado_zona.errors %} has-error {% endif %}">

									<label class="control-label">
									<i class="fa {% if form.empleado_zona.field.required %} fa-asterisk {% endif %} {% if form.empleado_zona.errors %} fa-asterisk {% endif %}"></i> 
										{{ form.empleado_zona.label }} 
									</label>
									<p>
										{{ form.empleado_zona }}	
									</p>
									{% for error in form.empleado_zona.errors %}
										<span class="help-block">{{ error }}</span>
									{% endfor %}
									</div>
								</div>


							    </div> <!-- Row -->


					<div class="pull-right">
						<button type="submit" class="btn btn-primary" >Guardar incidencia</button>
					</div>
						
					</form>

              	</div> <!-- Panel Body -->
            </div>	<!-- Panel -->
		</div>	<!-- col-sm-12 -->

		
    </div>

	
{% endblock contenido %}

{% block scripts %}
	<!-- Kendo Js -->
	<script src="{% static 'libs/kendo/2015.2.624/js/cultures/kendo.culture.es-MX.min.js' %}"></script>
	<script src="{% static 'libs/kendo/2015.2.624/js/kendo.web.min.js' %}"></script>

    <!-- Theme -->
    <script src="{% static 'theme/lib/datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'theme/lib/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'theme/lib/moment.js/min/moment.min.js' %}"></script>

	<!-- NOVA -->
	<script src="{% static 'viatico/viatico_formulario.js' %}"></script>      

{% endblock scripts %}

