{% extends 'master.html' %}
{% load static from staticfiles %}
{% block titulo %} Usuarios {% endblock titulo %}
{% block title-page %} Registros {% endblock title-page %}
{% block css %}
<!-- Kendo -->
<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.rtl.min.css' %}"/>
<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.common-bootstrap.min.css' %}"/>
<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.bootstrap.min.css' %}"/>
<!-- Theme -->
<link rel="stylesheet" href="{% static 'theme/lib/datetimepicker/css/bootstrap-datetimepicker.min.css' %}"/>
<!-- Nova -->
<link rel="stylesheet" href="{% static 'grid.css' %}"/>
{% endblock css %}
{% block contenido %}
<div class="be-content">
<div class="page-head">
	<h2 class="page-head-title">Usuarios</h2>
	<ol class="breadcrumb page-head-nav">
		<li><a href="#">Inicio</a></li>
		<li><a href="#">Usuarios</a></li>
	</ol>
</div>
<div class="col-md-12">
	<div class="main-content container-fluid">
		<div>
			<h3> Busqueda de usuarios</h3>
			<form action="">
				{{ form.as_p }}
			</form>
			<button type="button" id="boton_buscar"> Buscar </button>
		</div>
		<div class="col-md-12">
			<div class="panel panel-default panel-table">
				<div class="panel-heading panel-border nova-panel-heading">
					<div class="tools pull-right nova-tools" id="toolbar">
						<a href="{% url 'seguridad:usuario_nuevo' %}"
							class="btn nova-btn btn-rounded btn-space btn-default" id="boton_nuevo">
							<i class="icon icon-left mdi mdi-plus-circle nova-black"></i>Nuevo
						</a>
						<a href="#ventana_filtro"
							class="btn nova-btn btn-rounded btn-space btn-primary" data-toggle="modal" id="boton_filtro">
							<i class="icon icon-left mdi mdi-search nova-white"></i>Filtrado
						</a>
						<button class="btn nova-btn btn-rounded btn-space" id="boton_exportar">
						<i class="icon icon-left mdi mdi-replay nova-white"></i>Exportar
						</button>
						
					</div>
					<div class="title hidden-xs">Usuarios registrados
					</div>
					</div><!-- Panel Heading -->
					<div class="panel panel-default panel-table">
						<div id="grid_resultados">
						</div>
					</div>
				</div>
			</div>
		</div>
		
	{% endblock contenido %}
	{% block scripts %}
		<!--JSZIP -->
		<script src="{% static 'libs/kendo/2015.2.624/js/jszip.min.js' %}"></script>
		<!-- Kendo Js -->
		<script src="{% static 'libs/kendo/2015.2.624/js/cultures/kendo.culture.es-MX.min.js' %}"></script>
		<script src="{% static 'libs/kendo/2015.2.624/js/kendo.web.min.js' %}"></script>
		<!-- Theme -->
		<script src="{% static 'theme/lib/jquery-ui/jquery-ui.min.js' %}"></script>
		<script src="{% static 'theme/lib/moment.js/min/moment.min.js' %}"></script>
		<!-- NOVA -->
		<script src="{% static 'usuarios/usuario_lista.js' %}"></script>
	{% endblock scripts %}