{% extends 'login.html' %}
{% load static from staticfiles %}
{% block titulo %} Registro {% endblock titulo %}
{% block title-page %} Registro de usuario {% endblock title-page %}
{% block css %}
  <!-- Theme -->
  <link rel="stylesheet" href="{% static 'theme/lib/select2/css/select2.min.css' %}">
{% endblock css %}

{% block contenido %}
  <div class="page-head">
    <h2 class="page-head-title">Registro de usuario</h2>
    <ol class="breadcrumb page-head-nav">
      <li><a href="{% url 'seguridad:login' %}">Login</a></li>
      <li>Registro de usuario</li>
    </ol>
  </div>
<div class="col-md-12">
  <div class="main-content container-fluid">
    <div class="col-md-12">
      <div class="panel panel-default panel-table">
        
          <div class="panel panel-default panel-table">
            <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
  
              <h4><b>Información de usuario</b></h4>

              <!-- Clave_rh-->
              <div class="form-group {% if form.clave_rh.field.required %} has-warning {% endif %} {% if form.clave_rh.errors %} has-error {% endif %}">
                <label class="control-label">
                  <i class="fa {% if form.clave_rh.field.required %} fa-asterisk {% endif %} {% if form.clave_rh.errors %} fa-asterisk {% endif %}"></i> 
                  {{form.clave_rh.label}}
                </label>
                <p>{{ form.clave_rh }}</p>
              </div>
              <!-- First_name-->
              <div class="form-group {% if form.first_name.field.required %} has-warning {% endif %} {% if form.first_name.errors %} has-error {% endif %}">
                <label class="control-label">
                  <i class="fa {% if form.first_name.field.required %} fa-asterisk {% endif %} {% if form.first_name.errors %} fa-asterisk {% endif %}"></i> 
                  {{form.first_name.label}}
                </label>
                <p>{{ form.first_name }}</p>
              </div>
              <!-- Last_name-->
              <div class="form-group {% if form.last_name.field.required %} has-warning {% endif %} {% if form.last_name.errors %} has-error {% endif %}">
                <label class="control-label">
                  <i class="fa {% if form.last_name.field.required %} fa-asterisk {% endif %} {% if form.last_name.errors %} fa-asterisk {% endif %}"></i> 
                  {{form.last_name.label}}
                </label>
                <p>{{ form.last_name }}</p>
              </div>
              <!-- Fecha_nacimiento-->
              <div class="form-group {% if form.fecha_nacimiento.field.required %} has-warning {% endif %} {% if form.fecha_nacimiento.errors %} has-error {% endif %}">
                <label class="control-label">
                  <i class="fa {% if form.fecha_nacimiento.field.required %} fa-asterisk {% endif %} {% if form.fecha_nacimiento.errors %} fa-asterisk {% endif %}"></i> 
                  {{ form.fecha_nacimiento.label}}
                </label>
                <p>{{ form.fecha_nacimiento}}</p>
              </div>
              <!-- Email-->
              <div class="form-group {% if form.email.field.required %} has-warning {% endif %} {% if form.email.errors %} has-error {% endif %}">
                <label class="control-label">
                  <i class="fa {% if form.email.field.required %} fa-asterisk {% endif %} {% if form.email.errors %} fa-asterisk {% endif %}"></i> 
                  {{form.email.label}}
                </label>
                <p>{{ form.email }}</p>
              </div>
              <!-- Clave_jde -->
              <div class="hidden">
                <p>{{ form.clave_jde }}</p>
              </div>
              <!-- Foto-->
              <div class="form-group {% if form.foto.field.required %} has-warning {% endif %} {% if form.foto.errors %} has-error {% endif %}">
                <label class="control-label">
                  <i class="fa {% if form.foto.field.required %} fa-asterisk {% endif %} {% if form.foto.errors %} fa-asterisk {% endif %}"></i> 
                  {{form.foto.label }}
                </label>
                <p>{{ form.foto }}</p>
              </div>
              <br>
              <h4><b>Información de cuenta</b></h4>
              <br>
              <!-- Username-->
              <div class="form-group {% if form.username.field.required %} has-warning {% endif %} {% if form.username.errors %} has-error {% endif %}">
                <label class="control-label">
                  <i class="fa {% if form.username.field.required %} fa-asterisk {% endif %} {% if form.username.errors %} fa-asterisk {% endif %}"></i> 
                  {{ form.username.label }}
                </label>
                <p>{{ form.username}}</p>
              </div>
              <!-- Password-->
              <div class="form-group {% if form.password1.field.required %} has-warning {% endif %} {% if form.password1.errors %} has-error {% endif %}">
                <label class="control-label">
                  <i class="fa {% if form.password1.field.required %} fa-asterisk {% endif %} {% if form.password1.errors %} fa-asterisk {% endif %}"></i> 
                  {{form.password1.label}}
                </label>
                <p>{{ form.password1 }}</p>
              </div>
              <!-- Confirmar Password-->
              <div class="form-group {% if form.password2.field.required %} has-warning {% endif %} {% if form.password2.errors %} has-error {% endif %}">
                <label class="control-label">
                  <i class="fa {% if form.password2.field.required %} fa-asterisk {% endif %} {% if form.password2.errors %} fa-asterisk {% endif %}"></i> 
                  {{form.password2.label}}
                </label>
                <p> {{form.password2}} </p>
              </div>
              <br>
              <button type="submit" class="btn btn-primary" id="id_boton_guardar" >Guardar usuario</button>
            </form>
          </div>
          <p>
        {% if form.errors %}
          <div class="alert alert-danger">
            {% for field in form %}
                {% for error in field.errors %}
                  <strong>{{ error|escape }}</strong>
                   <br>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
            </div>
        {% endif %} 
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-danger">
                  <strong>{{message}}</strong>
              </div>
          {% endfor %}
        {% endif %}        
            </p>
      </div>
    </div>
  </div>
  </div>

  {% endblock contenido%}
{% block scripts %}

  <!-- Moment -->
  <script src="{% static 'libs/momentjs/2.18.1/moment.js' %}"></script>

  <!-- Theme -->
  <script src="{% static 'theme/lib/jquery-ui/jquery-ui.min.js' %}"></script>
  <script src="{% static 'theme/lib/select2/js/select2.min.js' %}"></script>
  <script src="{% static 'theme/lib/select2/js/select2.full.min.js' %}"></script>
  <!-- NOVA -->
  <script src="{% static 'usuarios/usuario_formulario.js' %}"></script>
{% endblock scripts %}