{% extends 'master.html' %}
{% load static from staticfiles %}
{% block titulo %} Perfil {% endblock titulo %}
{% block title-page %} Detalles {% endblock title-page %}
{% block css %}
<!-- Kendo -->
<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.rtl.min.css' %}"/>
<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.common-bootstrap.min.css' %}"/>
<link rel="stylesheet" href="{% static 'libs/kendo/2015.2.624/styles/kendo.bootstrap.min.css' %}"/>
<!-- Theme --P>
<link rel="stylesheet" href="{% static 'theme/lib/datetimepicker/css/bootstrap-datetimepicker.min.css' %}"/>
<!-- Nova -->
<link rel="stylesheet" href="{% static 'grid.css' %}"/>
{% endblock css %}
{% block contenido %}
<div class="be-content">
<div class="page-head">
	<h2 class="page-head-title">Perfil de usuario</h2>
</div>
<div class="col-md-12">
	<div class="main-content container-fluid">
		<div class="col-md-12">
			<div class="panel panel-default panel-table">
				<div class="panel-heading panel-border nova-panel-heading">
					<div class="tools pull-right nova-tools" id="toolbar">
						<a href="{% url 'seguridad:usuario_editar_perfil' usuario.id %}"
							class="btn nova-btn btn-rounded btn-space btn-default" id="boton_nuevo">
							<i class="icon icon-left mdi mdi-plus-circle nova-black"></i>Editar
						</a>
					</div>
					<div class="title hidden-xs">Usuario <b>{{usuario.username}}</b>
					</div>
					</div><!-- Panel Heading -->
					<div>
					{% if profile.foto %}
						<img class="user-image" src="{{ MEDIA_URL }}{{ profile.foto }}" alt="User Image">
					{% else %}
						<img src="{% static 'images/decoradores/no-image-user.jpg' %}" class="user-image img-responsive img-thumbnail" alt="User Image">
					{% endif %}	 
						<p> {{profile.foto}}</p>
						<p><label>Nombre:</label> {{usuario.first_name}} {{usuario.last_name}}</p>
						<p><label>Fecha de nacimiento:</label>{{profile.fecha_nacimiento}}</p>
						<p><label>Correo electronico:</label>{{usuario.email}}</p>
						<p><label>Clave RH:</label> {{profile.clave_rh}}</p>
						<p><label>Clave JDE:</label> {{profile.clave_jde}}</p>
						<p><label>Estado:</label>{{usuario.is_active}}</p>
					</div>
				</div>
			</div>
		</div>
		
	{% endblock contenido %}
	{% block scripts %}
		<!-- Kendo Js -->
		<script src="{% static 'libs/kendo/2015.2.624/js/cultures/kendo.culture.es-MX.min.js' %}"></script>
		<script src="{% static 'libs/kendo/2015.2.624/js/kendo.web.min.js' %}"></script>
		<!-- Theme -->
		<script src="{% static 'theme/lib/jquery-ui/jquery-ui.min.js' %}"></script>
		<script src="{% static 'theme/lib/moment.js/min/moment.min.js' %}"></script>
		<!-- NOVA -->
	{% endblock scripts %}